<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="publish">

    <${Navbar} />

    <div class="page-content">
      <div class="row">

        <div class="col-100 large-50 center">

          <ul class="breadcrumb">
            <li><a href="/admin/channel/show/${channelViewModel.channel._id}">${channelViewModel.channel.title}</a></li>
            <li><a href="/admin/publish/${channelViewModel.channel._id}">Publish</a></li>
            <li>Fork Reader</li>
          </ul>

          ${channelViewModel.itemCount > 0 ? $h`

          <div class="block-title">Fork Reader</div>
          <div class="card">

            <div class="card-content card-content-padding">

              ${settings?.personalAccessToken?.length > 0 ? $h`

                <form class="list" id="fork-reader" @submit="${createForkSubmit}">
                  <ul>
                    <li>
                      <div class="item-content item-input">
                        <div class="item-inner">

                          ${forking ? $h`
                            <div class="forking-label">
                              Forking...
                            </div>

                            <div class="preloader"></div>

                          ` : $h`
                            <button href="#" class="button button-fill button-small deploy-button">Create New Fork</button>
                            <div class="forking-label" style="display:none;"></div>
                          `}

                          ${channelViewModel.channel.publishReaderRepoId > 0 ? $h`
                          <div class="repo-status">
                            <p><strong>Gitlab Repo ID:</strong> ${channelViewModel.channel.publishReaderRepoId}</p>
                            <p><strong>Gitlab Repo Path:</strong> ${channelViewModel.channel.publishReaderRepoPath}</p>
                            <p><strong>Fork Status:</strong> ${channelViewModel.channel.publishReaderRepoStatus}</p>
                          </div>
                          ` : $h`<span />`}

                          ${channelViewModel.channel.publishReaderRepoStatus == "complete" ? $h`
                            <div class="row" style="width: 100%;">
                              <div class="chip chip-outline">
                                <div class="chip-label">Success!</div>
                              </div>
    
                              <a href="/admin/publish/publish-reader/${channelViewModel.channel._id}" class="button button-fill" id="fork-next-button">Next <i class="material-icons">arrow_right</i></a>
    
                            </div>
                          ` : $h`<span/>`}



                        </div>
                      </div>
                    </li>
                  </ul>
                </form>

              ` : $h`
                <p>Configure <a href="/admin/settings">Gitlab</a> to deploy the collection reader.</p>
              `}


            </div>

          </div>

          ` : $h`
          <div class="card">
            <div class="card-content card-content-padding">
              <p>Add NFTs to the collection before publishing.</p>
            </div>
          </div>

          `}

        </div>

      </div>
    </div>

  </div>

</template>

<style>
  .publish-label,
  .ipfs-label,
  .forking-label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }

  .publish-output {
    border: 1px solid #cccccc;
    font-size: 13px;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    height: 300px;
    overflow-y: scroll;
  }

  #fork-next-button {
    width: 200px;
    float: right;
  }
</style>

<script>

  import moment from "moment"

  import { ContainerService } from "../../../service/core/container-service"
  import { ChannelService } from "../../../service/channel-service"
  import { PublishService } from "../../../service/core/publish-service"

  import { PinningService } from "../../../service/core/pinning-service"
  import { GitlabService } from "../../../service/core/gitlab-service"

  import { QueueService } from "../../../service/core/queue-service"

  import { IpfsService } from "../../../service/core/ipfs-service"


  import Navbar from "../../admin/navbar.f7.html"


  export default (props, { $, $h, $on, $f7, $update }) => {

    let channelService = ContainerService.getInstance(ChannelService)
    let pinningService = ContainerService.getInstance(PinningService)
    let ipfsService = ContainerService.getInstance(IpfsService)
    let queueService = ContainerService.getInstance(QueueService)
    let gitlabService = ContainerService.getInstance(GitlabService)
    let publishService = ContainerService.getInstance(PublishService)

    let channelViewModel = props.channelViewModel
    let settings = props.settings
    let pageUnloaded = false

    let forking = false

    $on('pageInit', async () => {
      pageUnloaded = false

      await checkPublishRepoStatus()
    })

    $on('pageAfterOut', (e, page) => {
      console.log("Unloading page")
      pageUnloaded = true
    })

    const createForkSubmit = async (e) => {

      e.preventDefault()

      forking = true

      $update()

      try {

        let response = await gitlabService.createReaderFork(channelViewModel.channel)

        channelViewModel.channel.publishReaderRepoId = response.id
        channelViewModel.channel.publishReaderRepoPath = response.path
        channelViewModel.channel.publishReaderRepoStatus = "pending"

        await channelService.put(channelViewModel.channel)

      } catch (ex) {

        if (ex.toString() == "Error: Request failed with status code 409") {
          $f7.dialog.alert("Git repo already exists with that name.", "There was an error")
        } else {
          $f7.dialog.alert(ex, "There was an error")
        }

      }

      forking = false

      await $update()

      await checkPublishRepoStatus()


    }

    const checkPublishRepoStatus = async (e) => {

      if (pageUnloaded) return
      if (!settings) return
      if (channelViewModel.channel.publishReaderRepoStatus == "complete" && channelViewModel.channel.publishReaderRepoId > 0) return
      if (forking) return

      console.log('Checking repo fork status...')

      channelViewModel.channel = await channelService.get(channelViewModel.channel._id)

      let id = channelViewModel.channel.publishReaderRepoId
      let status = channelViewModel.channel.publishReaderRepoStatus

      let forkRepoStatus = await gitlabService.getForkRepoStatus(channelViewModel.channel)

      if (forkRepoStatus == "finished") { //TODO
        channelViewModel.channel.publishReaderRepoStatus = "complete"
        await channelService.put(channelViewModel.channel)
      }

      await $update()

      if (channelViewModel.channel.publishReaderRepoStatus != "complete") {
        setTimeout(checkPublishRepoStatus, 5000)
      }

    }



    return $render
  }
</script>