<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="publish">
  
      <${Navbar} />
  
      <div class="page-content">
        <div class="row">
  
          <div class="col-100 large-50 center">

            <ul class="breadcrumb">
                <li><a href="/admin/channel/show/${channelViewModel.channel._id}/0">${channelViewModel.channel.title}</a></li>
                <li>Publish</li>
            </ul>

            ${channelViewModel.itemCount > 0 ? $h`
              
              <div class="block-title">Publish</div>
              <div class="block list">
                <ul>
                  <li>
                    <a href="/admin/publish/export/${channelViewModel.channel._id}" class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <span class="material-icons">import_export</span>
                        </div>
                        <div class="item-inner">
                          <div class="item-title">
                            Export to local IPFS
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="/admin/publish/pinata/${channelViewModel.channel._id}" class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <span class="material-icons">cloud_upload</span>
                        </div>
                        <div class="item-inner">
                          <div class="item-title">
                              Publish to Pinata
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="/admin/publish/fork-reader/${channelViewModel.channel._id}" class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <span class="material-icons">fork_left</span>
                        </div>
                        <div class="item-inner">
                          <div class="item-title">
                              Fork Reader
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="/admin/publish/publish-reader/${channelViewModel.channel._id}" class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <span class="material-icons">upload</span>
                        </div>
                        <div class="item-inner">
                          <div class="item-title">
                              Publish Collection to Reader
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>


                  <li>
                    <a href="/admin/publish/contract/${channelViewModel.channel._id}" class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <span class="material-icons">gavel</span>
                        </div>
                        <div class="item-inner">
                          <div class="item-title">
                              Deploy Contract
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                </ul>
              </div>

            ` : $h`
              <div class="card">
                <div class="card-content card-content-padding">
                  <p>Add NFTs to the collection before publishing.</p>
                </div>
              </div>
              
            `}

          </div>
  
        </div>
      </div>
  
    </div>
  
  </template>
  

  
  <script>
  
    import moment from "moment"
  
    import { ContainerService } from "../../../service/core/container-service"
    import { ChannelService } from "../../../service/channel-service"
    import { PublishService } from "../../../service/core/publish-service"

    import { PinningService } from "../../../service/core/pinning-service"
    import { GitlabService } from "../../../service/core/gitlab-service"

    import { QueueService } from   "../../../service/core/queue-service"

    import { IpfsService } from "../../../service/core/ipfs-service"


    import Navbar from "../../admin/navbar.f7.html"
    
  
    export default (props, { $, $h, $on, $f7, $update }) => {
  
        let channelViewModel = props.channelViewModel
  
        return $render
    }
  </script>