<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="publish">
  
      <${Navbar} />
  
      <div class="page-content">
        <div class="row">
  
          <div class="col-100 large-50 center">

            <ul class="breadcrumb">
                <li><a href="/admin/channel/show/${channelViewModel.channel._id}">${channelViewModel.channel.title}</a></li>
                <li>Publish</li>
              </ul>

            <div class="block-title">Verify Collection Details</div>
            <div class="card channel-card">

              <a href="/admin/channel/show/${channelViewModel.channel._id}">
                <div class="card-header banner" id="publish-preview-banner">

                      ${channelViewModel.coverImage ? $h`
                      <img src="${channelViewModel.coverImage.url}" class="avatar" />
                    ` : $h`
                      <i class="material-icons avatar">image</i>
                    `}

                </div>
              </a>

              <div class="card-content">
                  <div class="card-content card-content-padding">
                      <div class="title">
                        <a href="/admin/channel/show/${channelViewModel.channel._id}">
                          ${channelViewModel.channel.title}
                        </a>
                      </div>

                      ${channelViewModel.authorDisplayName ? $h`
                        <div class="name">
                          By <a href="/admin/author/show/${channelViewModel?.author._id}">${channelViewModel?.authorDisplayName}</a>
                        </div>
                      ` : $h``}

                      <div class="description" innerHTML="${channelViewModel.channel.descriptionHTML}"></div>
                     
                  </div>
              </div>
            </div>

            <div class="block-title">Verify NFT Details</div>
            <div class="card">

              <div class="card-content">
                <div class="card-content card-content-padding">
                  Creating ${channelViewModel.itemCount} total blog NFTs. Token IDs will be generated starting at 1 in the order they are listed on the collection detail page.
                </div>
              </div>

            </div>

            <div class="block-title">Verify Mint Info</div>
            <div class="card">
              <div class="card-content">
                <div class="card-content card-content-padding">

                  <p>
                    <strong>Mint Price:</strong> ${channelViewModel.channel.mintPrice} ETH each
                  </p>

                  <p>
                    <strong>Royalty:</strong> ${channelViewModel.channel.royaltyPercent}% 
                  </p>

                </div>
              </div>
            </div>

            <div class="block-title">Deploy To Pinata</div>
            <div class="card">

              <div class="card-content">
                <div class="card-content card-content-padding">

                  The JSON metadata for the collection as well as a backup of the source database 
                  will be copied to IPFS and uploaded to your Pinata account. 

                  ${pinningApi ? $h`

                    ${!ipfsReady ? $h`
                      <div class="ipfs-label">IPFS Initializing...</div>
                    ` : $h`
                      <div class="ipfs-label">IPFS Ready</div>
                    `}

                    ${publishing ? $h`
                      <div class="publish-label">Publishing...</div>
                    ` : ''}

                    ${showPinStatus ? $h`

                      <div class="pin-status">
                        <p><strong>Pin Job ID:</strong> ${channelViewModel.channel.pinJobId}</p>
                        <p><strong>Pin Job Status:</strong> ${channelViewModel.channel.pinJobStatus}</p>
                        <p><strong>Published CID:</strong> ${channelViewModel.channel.publishedCid}</p>

                        ${channelViewModel.channel.pinJobStatus != "complete" ? $h`
                          <div class="preloader" id="pin-preloader"></div>
                        ` : $h``}
                        
                        ${ipfsReady ? $h`
                          <button class="button button-fill button-small deploy-button" @click="${deployPinataClick}">Start Over</button>
                        ` : $h``}
                        
                      </div>

                    ` : $h`

                      ${ipfsReady ? $h`
                        <button class="button button-fill button-small" @click="${deployPinataClick}">Deploy to Pinata</button>
                      ` : $h``}
                      
                    `}


                  ` : $h`
                    Configure <a href="/admin/settings">Pinata</a> to deploy to IPFS.
                  `}
                </div>
              </div>

            </div>

            <div class="block-title">Deploy Contract</div>
            <div class="card">
              
              <div class="card-content">
                <div class="card-content card-content-padding">



                </div>
              </div>

            </div>

          </div>
  
        </div>
      </div>
  
    </div>
  
  </template>
  
  <style>
    .deploy-button {
      margin-top: 10px;
      width: 200px;
    }

    .publish-label, .ipfs-label {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>
  
  <script>
  
    import moment from "moment"
  
    import { ContainerService } from "../../../service/core/container-service"
    import { ChannelService } from "../../../service/channel-service"
    import { PinningService } from "../../../service/core/pinning-service"
    import { IpfsService } from "../../../service/core/ipfs-service"


    import Navbar from "../../admin/navbar.f7.html"
    
  
    export default (props, { $, $h, $on, $f7, $update }) => {
  
        let channelService = ContainerService.getInstance(ChannelService)
        let pinningService = ContainerService.getInstance(PinningService)
        let ipfsService = ContainerService.getInstance(IpfsService)

        let channelViewModel = props.channelViewModel
        let pinningApi = props.pinningApi

        let publishing = false
        let ipfsReady = ipfsService.ipfs != undefined 

        let showPinStatus = channelViewModel.channel.pinJobId != undefined

        $on('pageInit', async () => {

          //Initialize IPFS
          await ipfsService.init()

          ipfsReady = true
          await $update()

          //Set banner
          if (channelViewModel.coverBanner) {
            document.getElementById("publish-preview-banner").style = `background-image: url(${channelViewModel.coverBanner.url});`
          }

          await checkPinJob()

        })

        const deployPinataClick = async (e) => {

          showPinStatus = true
          await $update()

          publishing = true
          await $update()

          await channelService.publishToIPFS(channelViewModel.channel, pinningApi)

          publishing = false
          await $update()

        }

        const checkPinJob = async () => {

          if (channelViewModel.channel.pinJobStatus == "complete") return 
          if (publishing) return

          let id = channelViewModel.channel.pinJobId
          let status = channelViewModel.channel.pinJobStatus

          let pinJobStatus = await pinningService.getJobStatus(pinningApi, channelViewModel.channel.publishedCid, id)
          
          if (pinJobStatus.status != status) {

            //Update status if different
            channelViewModel.channel.pinJobStatus = pinJobStatus.status
            
            await channelService.put(channelViewModel.channel)

            await $update()
          }


          if (channelViewModel.channel.pinJobStatus != "complete") {
            setTimeout(checkPinJob, 5000)
          }

        }

        


        //Preview item info

        //Preview mint info

        //Generate bundle and deploy to Pinata

        //Deploy contract

        //Update database with deployment info

        return $render
    }
  </script>