<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="publish">
  
      <${Navbar} />
  
      <div class="page-content">
        <div class="row">
  
          <div class="col-100 large-50 center">

            <ul class="breadcrumb">
                <li><a href="/admin/channel/show/${channelViewModel.channel._id}">${channelViewModel.channel.title}</a></li>
                <li>Publish</li>
            </ul>

            ${channelViewModel.itemCount > 0 ? $h`
              
              <div class="block-title">Verify Collection Details</div>
              <div class="card channel-card">

                <a href="/admin/channel/show/${channelViewModel.channel._id}">
                  <div class="card-header banner" id="publish-preview-banner">

                        ${channelViewModel.coverImage ? $h`
                        <img src="${channelViewModel.coverImage.url}" class="avatar" />
                      ` : $h`
                        <i class="material-icons avatar">image</i>
                      `}

                  </div>
                </a>

                <div class="card-content">
                    <div class="card-content card-content-padding">
                        <div class="title">
                          <a href="/admin/channel/show/${channelViewModel.channel._id}">
                            ${channelViewModel.channel.title}
                          </a>
                        </div>

                        ${channelViewModel.authorDisplayName ? $h`
                          <div class="name">
                            By <a href="/admin/author/show/${channelViewModel?.author._id}">${channelViewModel?.authorDisplayName}</a>
                          </div>
                        ` : $h``}

                        <div class="description" innerHTML="${channelViewModel.channel.descriptionHTML}"></div>
                      
                    </div>
                </div>
              </div>

              <div class="block-title">Verify NFT Details</div>
              <div class="card">

                <div class="card-content">
                  <div class="card-content card-content-padding">
                    Creating ${channelViewModel.itemCount} total blog NFTs. Token IDs will be generated starting at 1 in the order they are listed on the collection detail page.
                  </div>
                </div>

              </div>

              <div class="block-title">Verify Mint Info</div>
              <div class="card">
                <div class="card-content">
                  <div class="card-content card-content-padding">

                    <p>
                      <strong>Mint Price:</strong> ${channelViewModel.channel.mintPrice} ETH each
                    </p>

                    <p>
                      <strong>Royalty:</strong> ${channelViewModel.channel.royaltyPercent}% 
                    </p>

                  </div>
                </div>
              </div>

              <div class="block-title">Deploy To Pinata</div>
              <div class="card">

                <div class="card-content">
                  <div class="card-content card-content-padding">

                    ${pinningApi ? $h`

                      <p>The JSON metadata for the collection as well as a backup of the source database 
                      will be copied to IPFS and uploaded to your Pinata account.</p>


                      ${!ipfsReady ? $h`
                        <div class="ipfs-label">IPFS Initializing...</div>
                      ` : $h`
                        <div class="ipfs-label">IPFS Ready: ${peerCount} peers</div>
                      `}

                      ${publishing ? $h`
                        <div class="publish-label">
                          Publishing...
                        </div>
                      ` : $h`
                        <div class="publish-label" style="display:none;"></div>
                      `}

                      ${publishOutput ? $h`
                        <div class="publish-output" innerHTML="${publishOutput}"></div>
                      ` : $h`
                        <div class="publish-output" style="display:none;"></div>
                      `}


                      ${showPinStatus ? $h`

                        <div class="pin-status">
                          <p><strong>Pin Job ID:</strong> ${channelViewModel.channel.pinJobId}</p>
                          <p><strong>Pin Job Status:</strong> ${channelViewModel.channel.pinJobStatus}</p>
                          <p><strong>Published CID:</strong> ${channelViewModel.channel.publishedCid}</p>

                          ${channelViewModel.channel.pinJobStatus != "complete" ? $h`
                            <div class="preloader" id="pin-preloader"></div>
                          ` : $h``}
                          
                          ${ipfsReady ? $h`
                            <button class="button button-fill button-small deploy-button" @click="${deployPinataClick}">Start Over</button>
                          ` : $h``}
                          
                        </div>

                      ` : $h`

                        ${ipfsReady ? $h`
                          <button class="button button-fill button-small deploy-button" @click="${deployPinataClick}">Deploy to Pinata</button>
                        ` : $h`
                          <p></p>
                        `}
                        
                      `}


                    ` : $h`
                      <p>Configure <a href="/admin/settings">Pinata</a> to deploy to IPFS.</p>
                    `}
                  </div>
                </div>

              </div>

              
              <div class="block-title">Deploy Contract</div>
              <div class="card">
                <div class="card-content">
                  <div class="card-content card-content-padding">
                    ${showDeploy ? $h`

                      <p><strong>Contract Address:</strong> ${channelViewModel.channel.contractAddress}</p>

                      ${deploying ? $h`
                        <p>Deploying...</p>
                      ` : $h`
                        ${!channelViewModel.channel.contractAddress ? $h`
                          <button class="button button-fill button-small deploy-button" @click="${deployContractClick}">Deploy Contract</button>
                        ` : $h`
                          <p>Success!</p>
                        `}                        
                      `}

                      
                    ` : $h`
                      <p>Collection must be deployed to Pinata</p>
                    `}
                  </div>
                </div>
              </div>


              <div class="block-title">Publish Reader</div>
              <div class="card">

                <div class="card-content card-content-padding">

                  ${gitlab?.personalAccessToken?.length > 0 ? $h`

                    ${showPublishReader ? $h`
                      
                      <form class="list" id="publish-reader" @submit="${publishReaderSubmit}">
                        <ul>
                          <li>
                            <div class="item-content item-input">
                                <div class="item-inner">

                                    ${forking ? $h`
                                      <div class="forking-label">
                                        Forking...
                                      </div>

                                      <div class="preloader" id="pin-preloader"></div>

                                    ` : $h`
                                      <a href="#" @click="${deployForkClick}" class="button button-fill button-small deploy-button">Create New Fork</a>
                                      <div class="forking-label" style="display:none;"></div>
                                    `}

                                    ${channelViewModel.channel.publishReaderRepoId > 0 ? $h`
                                      <div class="repo-status">
                                        <p><strong>Gitlab Repo ID:</strong> ${channelViewModel.channel.publishReaderRepoId}</p>
                                        <p><strong>Gitlab Repo Path:</strong> ${channelViewModel.channel.publishReaderRepoPath}</p>  
                                        <p><strong>Fork Status:</strong> ${channelViewModel.channel.publishReaderRepoStatus}</p>                                                                                                                                                              
                                      </div>

                                      ${showPublishReaderStatus && ipfsReady ? $h`

                                        ${channelViewModel.channel.contractAddress ? $h`
                                          <p>Reader will be configured to connect to: ${channelViewModel.channel.contractAddress}</p>  
                                        ` : $h`
                                          <p>Note: Contract is not deployed. The reader will not attempt to connect to Ethereum.</p>  
                                        `}

                                        ${publishReaderOutput ? $h`
                                          <div class="publish-output" innerHTML="${publishReaderOutput}"></div>
                                        ` : $h`
                                          <div class="publish-output" style="display:none;"></div>
                                        `}

    
                                        <button class="button button-fill button-small deploy-button" type="submit">Publish Reader</button>
                                        
                                      ` : $h`
                                        <p style="display:none;"></p>
                                      `}

                                    ` : $h``}



                                </div>
                            </div>
                          </li>
                        </ul>
                      </form>

                    
                    ` : $h`
                      <p>Collection must be deployed to Pinata</p>  
                    `}
                    
                  ` : $h`
                    <p>Configure <a href="/admin/settings">Gitlab</a> to deploy the collection reader.</p>
                  `}


                </div>

              </div>

            ` : $h`
              <div class="card">
                <div class="card-content card-content-padding">
                  <p>Add NFTs to the collection before publishing.</p>
                </div>
              </div>
              
            `}

          </div>
  
        </div>
      </div>
  
    </div>
  
  </template>
  
  <style>
    .deploy-button {
      margin-top: 10px;
      width: 200px;
    }

    .publish-label, .ipfs-label, .forking-label {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 18px;
    }

    .publish-output {
      border: 1px solid #cccccc;
      font-size: 13px;
      width: 100%;
      max-width: 100%;
      padding: 5px;
      height: 300px;
      overflow-y : scroll;
    }
  </style>
  
  <script>
  
    import moment from "moment"
  
    import { ContainerService } from "../../../service/core/container-service"
    import { ChannelService } from "../../../service/channel-service"
    import { PublishService } from "../../../service/core/publish-service"

    import { PinningService } from "../../../service/core/pinning-service"
    import { GitlabService } from "../../../service/core/gitlab-service"

    import { QueueService } from   "../../../service/core/queue-service"

    import { IpfsService } from "../../../service/core/ipfs-service"


    import Navbar from "../../admin/navbar.f7.html"
    
  
    export default (props, { $, $h, $on, $f7, $update }) => {
  
        let channelService = ContainerService.getInstance(ChannelService)
        let pinningService = ContainerService.getInstance(PinningService)
        let ipfsService = ContainerService.getInstance(IpfsService)
        let queueService = ContainerService.getInstance(QueueService)
        let gitlabService = ContainerService.getInstance(GitlabService)
        let publishService = ContainerService.getInstance(PublishService)

        let channelViewModel = props.channelViewModel
        let pinningApi = props.pinningApi
        let gitlab = props.gitlab

        let peerCount = ipfsService.peerCount

        let publishing = false
        let publishOutput = ""
        let publishReaderOutput = ""

        let deploying = false 
        let ipfsReady = ipfsService.ipfs != undefined 

        let forking = false

        let showPinStatus = channelViewModel.channel.pinJobId?.length > 0
        let showPublishReaderStatus = channelViewModel.channel.publishReaderRepoId > 0 && channelViewModel.channel.publishReaderRepoStatus == "complete"

        let showDeploy = channelViewModel.channel.publishedCid && channelViewModel.channel.pinJobStatus == "complete"
        let showPublishReader = showDeploy

        let pageUnloaded = false

        $on('pageInit', async () => {

          //Initialize IPFS
          await ipfsService.init()

          ipfsReady = true
          await $update()

          //Set banner
          if (channelViewModel.coverBanner) {
            document.getElementById("publish-preview-banner").style = `background-image: url(${channelViewModel.coverBanner.url});`
          }

          await checkPinJob()
          await checkPublishRepoStatus()

        })

        $on('pageAfterOut', (e, page) => {
          console.log("Unloading page")
          pageUnloaded = true
        })

        const deployPinataClick = async (e) => {

          publishing = true
          showDeploy = false
          showPublishReader = false 

          await $update()
          
          channelViewModel.channel = await channelService.get(channelViewModel.channel._id)

          //Clear publishing status
          delete channelViewModel.channel.pinJobId
          delete channelViewModel.channel.pinJobStatus
          delete channelViewModel.channel.publishedCid

          await channelService.put(channelViewModel.channel)

          //Now publish
          await publishService.publishToIPFS(channelViewModel.channel, pinningApi)

          showPinStatus = true
          publishing = false

          await $update()

          await checkPinJob()

        }

        const deployContractClick = async (e) => {

          deploying = true
          await $update()
          
          let promiseView = {
            title: `Deploying contract ${name}. Waiting for transaction to be mined.`,
            promise: publishService.deployContract(channelViewModel.channel)
          }

          //Wait for it to be mined
          await queueService.queuePromiseView(promiseView)
          
          deploying = false
          await $update()
        }

        const checkPinJob = async () => {

          if (pageUnloaded) return
          if (!pinningApi) return
          if (channelViewModel.channel.pinJobStatus == "complete" && channelViewModel.channel.publishedCid) return 
          if (publishing) return

          console.log('Checking pin job...')

          channelViewModel.channel = await channelService.get(channelViewModel.channel._id)

          let id = channelViewModel.channel.pinJobId
          let status = channelViewModel.channel.pinJobStatus

          let pinJobStatus = await pinningService.getJobStatus(pinningApi, channelViewModel.channel.publishedCid, id)
          
          if (pinJobStatus.status != status) {
            channelViewModel.channel.pinJobStatus = pinJobStatus.status
            await channelService.put(channelViewModel.channel)
          }

          //Update deploy button 
          showDeploy = channelViewModel.channel.publishedCid && channelViewModel.channel.pinJobStatus == "complete"
          showPublishReader = showDeploy

          await $update()

          if (channelViewModel.channel.pinJobStatus != "complete") {
            setTimeout(checkPinJob, 5000)
          }

        }

        const publishReaderSubmit = async (e) => {

          e.preventDefault()

          try {
            await gitlabService.deployReader(channelViewModel.channel)
            
          } catch(ex) {
            $f7.dialog.alert(ex, "There was an error")
          }

          await $update()
          
        }

        const deployForkClick = async (e) => {
          
          e.preventDefault()

          forking = true
          showPublishReaderStatus = false

          $update()

          try {

            let response = await gitlabService.createReaderFork(channelViewModel.channel)

            channelViewModel.channel.publishReaderRepoId = response.id
            channelViewModel.channel.publishReaderRepoPath = response.path
            channelViewModel.channel.publishReaderRepoStatus = "pending"


            await channelService.put(channelViewModel.channel)

            showPublishReaderStatus = true

          } catch(ex) {
            $f7.dialog.alert(ex, "There was an error")
          }

          forking = false

          await $update()

          await checkPublishRepoStatus()


        }

        const checkPublishRepoStatus = async (e) => {

          if (pageUnloaded) return
          if (!gitlab) return
          if (channelViewModel.channel.publishReaderRepoStatus == "complete" && channelViewModel.channel.publishReaderRepoId > 0) return 
          if (forking) return

          console.log('Checking repo fork status...')

          channelViewModel.channel = await channelService.get(channelViewModel.channel._id)

          let id = channelViewModel.channel.publishReaderRepoId
          let status = channelViewModel.channel.publishReaderRepoStatus

          let forkRepoStatus = await gitlabService.getForkRepoStatus(channelViewModel.channel)
          
          if (forkRepoStatus == "finished") { //TODO
            channelViewModel.channel.publishReaderRepoStatus = "complete"
            await channelService.put(channelViewModel.channel)
          }

          showPublishReaderStatus = channelViewModel.channel.publishReaderRepoId > 0 && channelViewModel.channel.publishReaderRepoStatus == "complete"

          await $update()

          if (channelViewModel.channel.publishReaderRepoStatus != "complete") {
            setTimeout(checkPublishRepoStatus, 5000)
          }

        }

        $(document).on('publish-progress', async (e) => {
          publishOutput += `<p>${e.detail.message}</p>`
          $update()
        })

        $(document).on('publish-reader-progress', async (e) => {
          publishReaderOutput += `<p>${e.detail.message}</p>`
          $update()
        })

        $(document).on('update-peer-count', async (e) => {
          peerCount = e.detail.count
          $update()
        })

        return $render
    }
  </script>