<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="publish">
  
      <${Navbar} />
  
      <div class="page-content">
        <div class="row">
  
          <div class="col-100 large-50 center">

            <ul class="breadcrumb">
              <li><a href="/admin/channel/show/${channelViewModel.channel._id}">${channelViewModel.channel.title}</a></li>
              <li><a href="/admin/publish/${channelViewModel.channel._id}">Publish</a></li>
              <li>Publish to Pinata</li>
            </ul>


            ${channelViewModel.itemCount > 0 ? $h`
              
              <div class="block-title">Publish to Pinata</div>
              <div class="card">

                  <div class="card-content">
                      <div class="card-content card-content-padding">

                        ${pinningApi ? $h`
                          
                          <p>The JSON metadata for the collection as well as a backup of the source database
                            will be uploaded to your Pinata account.</p>


                          ${!ipfsReady ? $h`
                              <div class="ipfs-label">
                                IPFS Initializing...
                              </div>
                          ` : $h`
                              <div class="ipfs-label">
                                  <a href="/admin/connect">IPFS Ready</a>: ${peerCount} peers
                              </div>
                          `}

                          ${publishing ? $h`
                              <div class="publish-label">
                                  Publishing...
                              </div>
                          ` : $h`
                              <div class="publish-label" style="display:none;"></div>
                          `}

                          ${showLocalStatus ? $h`

                            <div class="local-status">
                              <p><strong>Latest local export:</strong> ${channelViewModel.channel.localCid}</p>

                              <button class="button button-fill color-gray text-color-white" @click="${deployPinataClick}" id="refresh-pinata-button">
                                Submit
                              </button>

                            </div>

                          ` : $h`<span/>`}



                          ${showPinStatus ? $h`

                            <div class="pin-status">
                              <p>
                                <strong>Most Recent Pin Request</strong>
                              </p>
                              <p><strong>Pin Job ID:</strong> ${channelViewModel.channel.pinJobId}</p>
                              <p><strong>Pin Job Status:</strong> ${channelViewModel.channel.pinJobStatus}</p>
                              <p><strong>Published CID:</strong> ${channelViewModel.channel.publishedCid}</p>
    
                              ${channelViewModel.channel.pinJobStatus != "complete" && channelViewModel.channel.pinJobStatus != "expired" ? $h`
                                <div class="preloader" ></div>
                              ` : $h``}
                                            

                            </div>
    
                          ` : $h`<span/>`}

                              
                          ${ipfsReady && !showLocalStatus ? $h`

                            ${isLocal ? $h`
                              <button class="button button-fill color-gray text-color-white" @click="${deployPinataClick}" id="refresh-pinata-button">
                                Submit
                              </button>
                            ` : $h`
                              Collection must first be <a href="/admin/publish/export/${channelViewModel.channel._id}">exported</a> to local IPFS. 
                            `}

                          ` : $h`
                            <p></p>
                          `}


                        ` : $h`
                          <p>Configure <a href="/admin/settings">Pinata</a>.</p>
                        `}

                      </div>
                  </div>

              </div>

            ` : $h`
              <div class="card">
                <div class="card-content card-content-padding">
                  <p>Add NFTs to the collection before publishing.</p>
                </div>
              </div>
              
            `}

          </div>
  
        </div>
      </div>
  
    </div>
  
  </template>
  
  <style>
    .publish-label, .ipfs-label {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 18px;
    }

    
    #refresh-pinata-button {
        width: 150px;
        height: 30px;
        margin-top: 10px;
    }


  </style>

  
  <script>
  
    import moment from "moment"
  
    import { ContainerService } from "../../../service/core/container-service"
    import { ChannelService } from "../../../service/channel-service"
    import { PublishService } from "../../../service/core/publish-service"

    import { PinningService } from "../../../service/core/pinning-service"
    import { GitlabService } from "../../../service/core/gitlab-service"

    import { QueueService } from   "../../../service/core/queue-service"

    import { IpfsService } from "../../../service/core/ipfs-service"


    import Navbar from "../../admin/navbar.f7.html"
    
  
    export default (props, { $, $h, $on, $f7, $update }) => {
  
        let channelService = ContainerService.getInstance(ChannelService)
        let ipfsService = ContainerService.getInstance(IpfsService)
        let pinningService = ContainerService.getInstance(PinningService)

        let channelViewModel = props.channelViewModel
        let pinningApi = props.pinningApi
        let peerCount = props.peerCount
        let ipfsReady = props.ipfsReady

        let showPinStatus = channelViewModel.channel.pinJobId?.length > 0
        let showLocalStatus = channelViewModel.channel?.localCid && channelViewModel.channel.localCid != channelViewModel.channel.publishedCid
        let isLocal = channelViewModel.channel.localCid != undefined

        let publishing = false
        let pageUnloaded = false

        $on('pageInit', async () => {

          pageUnloaded = false

          //Initialize IPFS
          await ipfsService.init()
          ipfsReady = ipfsService.ipfs != undefined
          
          await $update()

          await checkPinJob()

        })

        $on('pageAfterOut', (e, page) => {
          console.log("Unloading page")
          pageUnloaded = true
        })

        const deployPinataClick = async (e) => {

          publishing = true

          await $update()

          channelViewModel.channel = await channelService.get(channelViewModel.channel._id)

          //Clear publishing status
          delete channelViewModel.channel.pinJobId
          delete channelViewModel.channel.pinJobStatus
          delete channelViewModel.channel.publishedCid

          await channelService.put(channelViewModel.channel)

          //Now publish
          await channelService.pin(pinningApi, channelViewModel.channel)

          showPinStatus = true
          showLocalStatus = false 
          publishing = false

          await $update()

          await checkPinJob()

        }

        const checkPinJob = async () => {

          if (pageUnloaded) return
          if (!pinningApi) return
          if (channelViewModel.channel.pinJobStatus == "complete" && channelViewModel.channel.publishedCid == channelViewModel.channel.localCid) return 
          if (publishing) return

          console.log('Checking pin job...')

          channelViewModel.channel = await channelService.get(channelViewModel.channel._id)

          let id = channelViewModel.channel.pinJobId
          let status = channelViewModel.channel.pinJobStatus

          let pinJobStatus = await pinningService.getJobStatus(pinningApi, channelViewModel.channel.publishedCid, id)

          if (pinJobStatus.status != status) {
            channelViewModel.channel.pinJobStatus = pinJobStatus.status
            await channelService.put(channelViewModel.channel)
          }

          await $update()

          if (channelViewModel.channel.pinJobStatus != "complete" && channelViewModel.channel.pinJobStatus != "expired") {
            setTimeout(checkPinJob, 5000)
          }

        }

        $(document).on('update-peers', async (e) => {
            peerCount = e.detail.count
            $update()
        })


        return $render
    }
  </script>