<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="admin-create-channel">

    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="/" class="link"><i class="icon icon-back"></i> <span>Back</span></a>
        </div>
        <div class="title">Create Collection</div>
        <div class="right">
          <${HeaderRight} />
        </div>
      </div>
    </div>

    <div class="page-content">

      <div class="row">
        <div class="col-100 large-50 center">
          <form class="block list" id="create-collection-form" @submit="${formSubmit}">

            <${ChannelForm} />


            <div class="row block">

              <div class="col-70"></div>

              <button type="submit" class="button button-fill col-30" tabindex="12" id="saveButton">
                <i class="material-icons">save</i> Save
              </button>

            </div>

          </form>
        </div>
      </div>



    </div>
  </div>

</template>

<style>
</style>


<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { ChannelService } from "../../../service/channel-service"

  import HeaderRight from "../../admin/header-right.f7.html"
  import ChannelForm from "../../admin/channel/form.f7.html"


  import { ethers } from "ethers"
  import Tagify from '@yaireo/tagify'

  export default (props, { $, $on, $f7, $update }) => {

    let channelService = ContainerService.getInstance(ChannelService)

    const formSubmit = async (e) => {

      e.preventDefault()

      //Get data
      let formData = $f7.form.convertToData('#create-collection-form')


      //Parse attributeOptions and category
      if (formData.attributeOptions) {
        formData.attributeOptions = JSON.parse(formData.attributeOptions)
      } else {
        formData.attributeOptions = []

      }
      
      if (formData.category) {
        formData.category = JSON.parse(formData.category).map( item => item.value)
      } else {
        formData.category = []
      }

      //Save
      try {

        console.log(formData)
        let channel = await channelService.put(formData)

        //Redirect
        $f7.views.main.router.navigate(`/admin/channel/show/${channel._id}`)

      } catch (ex) {
        console.log(ex.errors)
        $f7.dialog.alert(ex.errors, "There was an error")
      }

    }


    $on('pageInit', async (e, page) => {

      //Categories
      let categoryTagify = new Tagify(document.getElementById('category'))

    })

    return $render
  }

</script>