<!--suppress JSAnnotator -->
<template>

    <div>
        <input type="hidden" name="_id"  value="${channelViewModel?.channel?._id}" />
        <input type="hidden" name="_rev" value="${channelViewModel?.channel?._rev}" />
        <input type="hidden" name="dateCreated" value="${channelViewModel?.channel?.dateCreated}" />
        <input type="hidden" name="authorId" value="${channelViewModel?.channel?.authorId}" />


        <div class="card">
            <div class="card-content">
                <div class="list">
                    <ul>

                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Title</div>
                                    <div class="item-input-wrap">
                                        <input type="text" name="title" placeholder="Collection title"
                                            value="${channelViewModel?.channel?.title}" required  minlength="3" tabindex="1" />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Symbol</div>
                                    <div class="item-input-wrap">
                                        <input type="text" name="symbol" placeholder="Symbol (eg BAYC)"
                                            value="${channelViewModel?.channel?.symbol}" tabindex="2" required />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Description</div>

                                    <div id="${descriptionToolbarId}">

                                        <select class="ql-header">
                                            <option selected></option>
                                            <option value="1">Heading</option>
                                            <option value="2">Subheading</option>
                                            <option value="3">Normal</option>
                                        </select>


                                        <!-- Add a bold button -->
                                        <button class="ql-bold"></button>
                                        <button class="ql-italic"></button>
                                        <button class="ql-strike"></button>
                                        <button class="ql-underline"></button>

                                    </div>

                                    <div class="editor bg-color-white text-color-black channel-editor" id="${descriptionEditorId}" tabindex="3"></div>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content item-input">
                                <div class="item-inner">
                                    <div class="item-title item-label">Collection Avatar</div>
                                    <div class="item-input-wrap">

                                        ${channelViewModel.coverImage ? $h`
                                        <img class="cover-image-preview" src="${channelViewModel?.coverImage.url}" />

                                        ` : $h`
                                        <i class="material-icons cover-image-preview">image</i>
                                        `}

                                        <input type="button" class="button button-fill browse-file" value="Browse"
                                            @click="${handleCoverImageBrowseClick}" tabindex="4" />
                                        <input type="hidden" name="coverImageId" value="${channelViewModel?.coverImage?.cid}" />
                                        <input type="file" id="cover-image-browse" style="display: none"
                                            @change="${handleCoverImageChange}" />

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content item-input">
                                <div class="item-inner">
                                    <div class="item-title item-label">Collection Banner</div>
                                    <div class="item-input-wrap">

                                        ${channelViewModel?.coverBanner ? $h`
                                        <img class="cover-banner-preview" src="${channelViewModel?.coverBanner.url}" />
                                        ` : $h`
                                        <i class="material-icons cover-banner-preview">image</i>
                                        `}

                                        <input type="button" class="button button-fill browse-file" value="Browse"
                                            @click="${handleBannerBrowseClick}" tabindex="5" />
                                        <input type="hidden" name="coverBannerId" value="${channelViewModel?.coverBanner?.cid}" />
                                        <input type="file" id="banner-browse" style="display: none" @change="${handleBannerChange}" />

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Category</div>
                                    <div class="item-input-wrap">
                                        <input type="text" name="category" placeholder="Category" id="category" tabindex="6" value="${channelViewModel?.channel?.category}" />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="license-editor">
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">License</div>

                                    <div id="${licenseToolbarId}">

                                        <!-- Add a bold button -->
                                        <button class="ql-bold"></button>
                                        <button class="ql-italic"></button>
                                        <button class="ql-strike"></button>
                                        <button class="ql-underline"></button>

                                    </div>

                                    <div class="editor bg-color-white text-color-black channel-editor" id="${licenseEditorId}" tabindex="3"></div>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">External Link</div>
                                    <div class="item-input-wrap">
                                        <input type="text" name="link" placeholder="External Link" tabindex="8" value="${channelViewModel?.channel?.link}" />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="item-content item-input item-input-outline">
                            <div class="item-inner">
                                <div class="item-title item-label">Language</div>
                                <!-- additional "input-dropdown-wrap" class -->
                                <div class="item-input-wrap input-dropdown-wrap">
                                    <select name="language" tabindex="9">
                                        ${languages.map( language => $h`
                                            ${channelViewModel?.channel?.language == language ? $h`
                                                <option value="${language}" selected >${language}</option>
                                            ` : $h`
                                                <option value="${language}">${language}</option>
                                            `}
                                        `)}
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="list">
                    <ul>
                        <li>
                            <div class="item-content item-input">
                                <div class="item-inner">
                                    <div class="item-title item-label">Attribute Categories (eg Shirt, Size, Hat)</div>
                                    <div>
                
                                        <p>Add attributes to give specific items special properties. Items can be sorted and filtered by
                                            attribute.</p>
                
                                        <div>
                                            <div class="category-name-label">Category Name</div>
                                            <div class="options-label">Option Values</div>
                                        </div>
                
                
                                        ${attributeOptions?.map( (ao) => $h`
                
                                        <div id="category-${ao.id}">
                
                                            <div class="category-name-input">
                                                <input type="text" placeholder="Category Name" @change="${categoryNameChange}" data-id="${ao.id}" value="${ao.traitType}" />
                                            </div>
                
                                            <div class="options-input">
                                                <input type="text" placeholder="Enter options" @change="${optionsChange}" data-id="${ao.id}" id="options-input-${ao.id}" value="${ao.values}" />
                                            </div>
                
                                            <a @click="${deleteOptionClick}" data-id="${ao.id}"><i class="material-icons">delete</i></a>
                
                                        </div>
                                        `)}
                
                                        <input type="hidden" name="attributeOptions" value="${JSON.stringify(attributeOptions)}" />
                
                                        <div class="row">
                                            <div class="col-30">
                                                <a class="button button-outline add-category-button" @click="${addCategoryClick}" tabindex="10">Add Category</a>
                                            </div>
                                            <div class="col-70"></div>
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="list">
                    <ul>
                        <li>
                            <div class="item-content item-input">
                                <div class="item-inner">
                                    <div class="item-title item-label">Themes</div>
                                    <div>
                
                                        <p>A theme allows you to apply CSS formatting to an item. Create themes and then apply them to individual item.</p>
                
                                        <ul class="theme-list" style="padding-left: 0; padding-bottom: 10px; padding-top: 10px; margin-bottom: 15px;">
                                            ${channelViewModel.themes?.map( (theme) => $h`
                                                <li>
                                                    <span class="theme-name">${theme.name}</span> 
                                                    <a class="link theme-link edit-theme" href="#" data-id="${theme._id}">Edit</a>
                                                    <a class="link theme-link delete-theme" href="#" data-id="${theme._id}">Delete</a>
                                                </li>
                                            `)}
                                        </ul>
                                
                                        <div class="row">
                                            <div class="col-30">
                                                <a class="button button-outline add-theme-button popup-open" data-popup="${addThemePopup}" tabindex="10">Add Theme</a>
                                            </div>
                                            <div class="col-70"></div>
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-content">
                <div class="list">
                    <ul>
                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Mint Price in ETH</div>
                                    <div class="item-input-wrap">
                                        <input type="number" placeholder="Enter price for one piece (eg 0.08)" @change="${mintPriceChange}" 
                                               step="any" tabindex="11" value="${channelViewModel?.channel?.mintPrice}" />
                                        <input type="hidden" name="mintPrice" value="${mintPrice}" />
                                    </div>
                                </div>
                            </div>
                        </li>
                
                        ${mintPrice ? $h`
                        <li tabindex="-1">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-text"> You will receive <strong>${mintPrice}</strong> ETH (${mintPriceWei} wei) for
                                        each mint.</div>
                                </div>
                            </div>
                        </li>
                        ` : $h``}
                
                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Royalty %</div>
                                    <div class="item-input-wrap">
                                        <input type="number" name="royaltyPercent" placeholder="Royalty %" @change="${royaltyChange}" step="any"  tabindex="12" value="${channelViewModel?.channel?.royaltyPercent}" />
                                        <input type="hidden" name="sellerFeeBasisPoints" value="${channelViewModel?.channel?.sellerFeeBasisPoints}" />
                
                                    </div>
                                </div>
                            </div>
                        </li>
                
                
                        ${channelViewModel?.channel?.royaltyPercent ? $h`
                        <li tabindex="-1">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-text">
                                        You will receive a <strong>${channelViewModel?.channel?.royaltyPercent}%</strong> for each sale on OpenSea, etc. Confirm this
                                        value when you set up your
                                        collection on the marketplace. This just presets it for you.
                                    </div>
                                </div>
                            </div>
                        </li>
                        ` : $h``}
                    </ul>
                </div>
            </div>
        </div>

    </div>


</template>

<style>
    .cover-image-preview {
        max-width: 300px;
        max-height: 300px;
        border: 1px solid #cccccc;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 50%;
    }

    .cover-banner-preview {
        max-width: 100%;
        max-height: 200px;
        border: 1px solid #cccccc;
        padding: 5px;
        margin-bottom: 10px;
    }

    #browseButton {
        width: 250px;
    }


    .tagify--empty {
        height: 41px;
    }

    .category-name-label {
        font-weight: bold;
        width: 185px;
        display: inline-block;
    }

    .options-label {
        font-weight: bold;
        width: 300px;
        display: inline-block;
    }

    .category-name-input {
        border: 1px solid #cccccc;
        margin: 2px;
        width: 175px;
        display: inline-block;
    }

    .options-input {
        margin: 2px;
        width: 300px;
        display: inline-block;
    }

    .add-category-button, .add-theme-button {
        width: 250px;
    }

    .theme-name {
        width: 150px;
        display: inline-block;
    }

    .theme-list {
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;

        
    }

    .theme-link {
        margin-left: 10px;
    }


</style>


<script>

    import { ContainerService } from "../../../service/core/container-service"
    import { QuillService } from "../../../service/quill-service"
    import { UiService } from "../../../service/core/ui-service"
    import { UploadService } from "../../../service/core/upload-service"
    import { ImageService } from "../../../service/image-service"

    import { WalletService } from "../../../service/core/wallet-service"

    import { ChannelService } from "../../../service/channel-service"
    import { Theme } from "../../../dto/theme"

    import languages from "../../../util/languages"

    import HeaderRight from "../../admin/header-right.f7.html"


    import moment from "moment"
    import Tagify from '@yaireo/tagify'
    import { v4 as uuidv4 } from 'uuid';

    import { ethers } from "ethers"

    export default (props, { $, $on, $f7, $update }) => {

        let walletService = ContainerService.getWalletService()
        let uiService = ContainerService.getInstance(UiService)
        let channelService = ContainerService.getInstance(ChannelService)
        let uploadService = ContainerService.getInstance(UploadService)
        let imageService = ContainerService.getInstance(ImageService)


        const setMintPrice = (value) => {

            //Reset
            mintPrice = undefined
            mintPriceWei = undefined

            if (!value) return

            let wei = ethers.utils.parseUnits(value, 'ether')

            try {
                mintPrice = ethers.utils.formatUnits(wei)
                mintPriceWei = wei.toString()
            } catch (ex) {
                console.log(ex)
            }

        }

        const setRoyalty = (value) => {

            channelViewModel.channel.sellerFeeBasisPoints = undefined
            channelViewModel.channel.royaltyPercent = undefined

            if (value) {
                channelViewModel.channel.royaltyPercent = value 
                channelViewModel.channel.sellerFeeBasisPoints = Math.round(value / 100)
            }

        }

        const addCategoryClick = async (e) => {

            let ao = {
                id: uuidv4()
            }

            attributeOptions.push(ao)

            await $update()

            let optionsInputElement = document.getElementById(`options-input-${ao.id}`)

            new Tagify(optionsInputElement)

        }

        const categoryNameChange = async (e) => {

            let id = $(e.currentTarget).data('id')

            attributeOptions.filter(ao => ao.id == id)[0].traitType = $(e.currentTarget).val()

            await $update()


        }

        const optionsChange = async (e) => {

            let id = $(e.currentTarget).data('id')

            attributeOptions.filter(ao => ao.id == id)[0].values = JSON.parse(e.currentTarget.value).map(v => v["value"])

            await $update()

        }

        const mintPriceChange = async (e) => {

            setMintPrice(e.currentTarget.value)
 
            await $update()

        }

        const royaltyChange = async (e) => {
            setRoyalty(e.currentTarget.value)
            await $update()
        }

        const deleteOptionClick = async (e) => {

            let id = $(e.currentTarget).data('id')

            attributeOptions = attributeOptions.filter(ao => ao.id != id)

            await $update()

            // $(`#category-${index}`).remove() 

        }

        const handleCoverImageBrowseClick = async (e) => {
            $("#cover-image-browse").click()
        }

        const handleCoverImageChange = async (e) => {

            let imageBuffer = await uploadService.uploadFile(document.getElementById('cover-image-browse'))

            let image = await imageService.newFromBuffer(imageBuffer)

            try {
                //Could be a duplicate. Which means it's fine.
                await imageService.put(image)
            } catch (ex) { }

            channelViewModel.coverImage = {
                cid: image.cid,
                url: await imageService.getUrl(image)
            }

            $update()
        }

        const handleBannerBrowseClick = async (e) => {
            $("#banner-browse").click()
        }

        const handleBannerChange = async (e) => {

            let imageBuffer = await uploadService.uploadFile(document.getElementById('banner-browse'))
            let image = await imageService.newFromBuffer(imageBuffer)

            try {
                //Could be a duplicate. Which means it's fine.
                await imageService.put(image)
            } catch (ex) { }

            channelViewModel.coverBanner = {
                cid: image.cid,
                url: await imageService.getUrl(image)
            }

            $update()
        }

        const safeCSSId = (text) => {
            return encodeURIComponent(text)
                .toLowerCase()
                .replace(/\.|%[0-9a-z]{2}/gi, '');
        }



        let channelViewModel = props.channel

        let descriptionToolbarId = props.description_toolbar
        let descriptionEditorId = props.description_editor

        let licenseToolbarId = props.license_toolbar
        let licenseEditorId = props.license_editor

        let addThemePopup = props.add_theme_popup

        let attributeOptions = []

        let mintPrice
        let mintPriceWei

        //Set values if passed in
        if (channelViewModel) {
            setMintPrice(channelViewModel.channel.mintPrice)
            setRoyalty(channelViewModel.channel.royaltyPercent)

            if (channelViewModel?.channel?.attributeOptions?.length > 0) {
                attributeOptions = channelViewModel.channel.attributeOptions
            }

        }

        return $render
    }

</script>