<template>

    <div class="info row no-gap">

        <div class="col-33 info-box left">
            <span class="value">${itemCount}</span>
            <label>items</label>
        </div>

        <div class="col-33 info-box left">
            <span class="value">${mintPrice}</span>
            <label>mint price</label>
        </div>

        <div class="col-33 info-box">
            <span class="value">${royalty}%</span>
            <label>royalty</label>
        </div>

    </div>

</template>

<style>
    

</style>


<script>

    export default (props, { $on, $f7, $update }) => {

        let itemCount = props.count
        let mintPrice = props.price
        let royalty = props.royalty

        return $render
    }
</script>