<template>

  <div class="page" data-name="admin-show-collection">

    <${Navbar} />


    ${showEdit ? $h`
    <div class="fab fab-extended fab-right-bottom">
      <a href="/admin/item/create/${channelViewModel.channel._id}" class="text-color-black">
        <i class="material-icons">create</i>
        <div class="fab-text">Create Item</div>
      </a>
    </div>
    ` : $h``}


    <div class="page-content infinite-scroll-content" id="item-list-infinite-scroll">

      <div class="row">
        <div class="col-100 large-66 center">

          <div class="card channel-card-show">

            <div class="card-header banner" id="show-channel-banner-${channelViewModel.channel._id}">

              <div class="float-right">
                <a class="button button-fill button-raised color-blue text-color-white" style="border:1px solid white;"
                  href="/admin/publish/${channelViewModel.channel._id}">Publish</a>
              </div>


              ${channelViewModel?.coverImage ? $h`
              <img src="${channelViewModel.coverImage.url}" class="avatar" />
              ` : $h`
              <i class="material-icons avatar">image</i>
              `}

            </div>

            <div class="card-content">

              <div class="card-content card-content-padding">

                <div class="float-right">

                  <div class="menu-item menu-item-dropdown">
                    <div class="menu-item-content icon-only">
                      <div class="menu-item-content">
                        <i class="material-icons">more_vert</i>
                      </div>
                    </div>
                    <div class="menu-dropdown menu-dropdown-right">
                      <div class="menu-dropdown-content">
                        <a class="menu-dropdown-link menu-close"
                          href="/admin/channel/fork/${channelViewModel?.channel?._id}">Fork</a>

                        ${showEdit ? $h`
                        <a class="menu-dropdown-link menu-close" href="/admin/channel/edit/${channelViewModel.channel._id}">Edit</a>
                        <a class="menu-dropdown-link menu-close" href="/admin/channel/upgrade/${channelViewModel.channel._id}">Upgrade</a>
                        <a class="menu-dropdown-link menu-close" @click="${deleteCollectionClick}">Delete</a>
                        ` : $h``}
                      </div>
                    </div>
                  </div>
                </div>

                
                <div class="title">${channelViewModel?.channel?.title}</div>

                ${channelViewModel?.authorDisplayName ? $h`
                <div class="name">
                  By <a
                    href="/admin/author/show/${channelViewModel?.author._id}">${channelViewModel?.authorDisplayName}</a>
                </div>
                ` : ``}
  

                <div class="description" id="channel-show-description-${channelViewModel.channel._id}"
                  innerHTML="${channelViewModel.channel.descriptionHTML}"></div>


                    
                <div class="info row no-gap">

                  <div class="col-33 info-box left">
                    <span class="value">${channelViewModel.itemCount}</span>
                    <label>items</label>
                  </div>

                  <div class="col-33 info-box left">
                    <span class="value">${channelViewModel.channel.mintPrice}</span>
                    <label>mint price</label>
                  </div>

                  <div class="col-33 info-box">
                    <span class="value">${channelViewModel.channel.royaltyPercent}%</span>
                    <label>royalty</label>
                  </div>

                </div>

                ${channelViewModel.channel.contractAddress ? $h`
                  <div class="contract-address">
                    <strong>Contract Address:</strong> ${truncateEthAddress(channelViewModel?.channel.contractAddress)}
                  </div>
                ` : $h``}

                ${channelViewModel.channel.localCid ? $h`
                  <div class="contract-address">
                    <strong>Last Published IPFS CID:</strong> ${channelViewModel?.channel.localCid}
                  </div>
                ` : $h``}


              </div>

            </div>

          </div>

          <div class="block-title block-title-medium">Items</div>

          <${TokenNavigator} channel=${channelViewModel.channel._id} />

          <div class="list cards-list virtual-list" id="item-list" >
            <ul class="item-flex"></ul>
          </div>

          <div class="preloader infinite-scroll-preloader" id="channel-item-list-preloader"></div>

        </div>
      </div>


    </div>

  </div>

</template>



<style>
  .channel-card-show .card-header {
    display: block;
    padding: 10px;
  }


  .channel-card-show .title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 50px;
    text-align: left;
  }

  .channel-card-show .name,
  .channel-card-show .contract-address {
    text-align: left;
  }

  .channel-card-show .name a {
    color: var(--f7-theme-color);
    font-weight: bold;
  }

  .channel-card-show .excerpt {
    font-size: 17px;
  }

  .channel-card-show .card-content img {
    display: block;
    max-width: 100%;
  }

  .channel-card-show .banner {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #f1f1f1;
  }

  .channel-card-show .avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 25%;
    left: 10px;
    bottom: 0;
    margin-bottom: -50px;
    z-index: 10000;
    border: 3px solid #ffffff;
    font-size: 100px;
    background: #ffffff;
  }

  .channel-card-show a {
    color: var(--f7-text-color);
  }

  .channel-card-show .description {
    font-size: 17px;
    text-align: left;
    max-width: 100%;
  }

  

  .item-card {
    cursor: pointer;
  } 

  .item-preview {
    width: 100%;
    display: flex;
  }

  .item-preview p {
    margin-top: 5px;
  }

  .item-card .title {
    color: #000000;
    font-size: 23px;
    font-weight: 700;
  }

  .item-preview .right {
    flex: 0 0 150px;
    /* do not grow, do not shrink, start at 250px */
  }

  .item-preview .right img {
    max-width: 100%;
  }

  .item-preview .left {
    flex: 1;
    /* grow */
  }

  .menu-dropdown-link.menu-close {
    color: #ffffff;
  }

  .channel-show-token-id {
    color: rgb(79, 79, 79);
  }

  .contract-address {
    margin-top: 10px;
    font-size: 12px;
  }

  #item-list {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
  }


</style>


<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { ChannelService } from "../../../service/channel-service"
  import { ItemWebService } from "../../../service/web/item-web-service"
  import { ItemRepository } from "../../../repository/item-repository"

  import Navbar from "../../admin/navbar.f7.html"
  import ItemList from "../../admin/channel/item-list.f7.html"
  import TokenNavigator from "./token-navigator.f7.html"

  import hotkeys from 'hotkeys-js'

  export default (props, { $, $on, $f7, $update }) => {

    let channelService = ContainerService.getInstance(ChannelService)
    let walletService = ContainerService.getWalletService()
    let itemWebService = globalThis.container.get(ItemWebService)

    let channelViewModel = props.channelViewModel
    let items = []

    let itemsShown = 0
    let hasMoreItems = true
    let loadingInProgress = false
    let pageCounter = 1

    let virtualList

    let totalItemCount = channelViewModel.itemCount
    let showEdit = channelViewModel.editable


    const truncateEthAddress = (address) => {
      return walletService.truncateEthAddress(address)
    }


    const resizeListener = (e) => {
        const viewPortWidth = getWidth()

        virtualList.params.cols = viewPortWidth >= 1024 ? 5 : 2
        virtualList.update()

        console.log("Resized...")

    }

    const getWidth = () => {
        return Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
    }

    const virtualListParams = {

            el: '#item-list',
            createUl: false,
            renderItem(item) {
                return getTemplate(item)
            },
            height: 300,
            items: items,                    
            cols: getWidth() >= 1024 ? 5 : 2,
            emptyTemplate: `
                <li class="item-content">
                    <div class="item-inner">
                        No items in collection.
                    </div>
                </li>
                `
    }


    $on('pageInit', async (e, page) => {

      let firstPageItems = await itemWebService.listByChannel(channelViewModel.channel._id, ItemRepository.CHUNK_SIZE, 0)

      items.push(...firstPageItems)
      itemsShown = firstPageItems.length

      //Load cover banner into CSS
      if (channelViewModel?.coverBanner?.url) {
        document.getElementById(`show-channel-banner-${channelViewModel.channel._id}`).style.backgroundImage = `url(${channelViewModel.coverBanner.url})`
      }

      //Make links external
      let links = document.getElementById(`channel-show-description-${channelViewModel.channel._id}`).getElementsByTagName('a')

      for (let link of links) {
        link.classList.add('external')
      }

      $(`.animation-container a`).addClass('external')

      window.addEventListener('resize', resizeListener)
      createVirtualList()

    })

    $on('pageBeforeOut', async () => {
        // unloadInfiniteScroll()
        window.removeEventListener('resize', resizeListener)
        // document.getElementById("item-list-infinite-scroll").removeEventListener( 'infinite', infiniteScroll )
    })

    const createVirtualList = () => {

      virtualList = $f7.virtualList.create(virtualListParams)

      if (virtualList.items?.length < totalItemCount) {
          document.getElementById("item-list-infinite-scroll").addEventListener( 'infinite', infiniteScroll )
      } else {
          $('#channel-item-list-preloader').hide()
      }

    }

    function unloadInfiniteScroll() {

      console.log("Unload infinite scroll item list")

      // Nothing more to load, detach infinite scroll events to prevent unnecessary loadings
      $f7.infiniteScroll.destroy('#item-list-infinite-scroll')
      $f7.virtualList.destroy('#item-list')
      virtualList = undefined

      $('#channel-item-list-preloader').hide()
    }

    async function infiniteScroll(e) {

      // Exit, if loading in progress
      if (loadingInProgress || !hasMoreItems) return

      console.log(`Infinite scrolling...`)

      // Set loading flag
      loadingInProgress = true

      try {
          
          let itemPage = await itemWebService.listByChannel(channelViewModel.channel._id, ItemRepository.CHUNK_SIZE, itemsShown)

          //Count actual items                    
          itemsShown += itemPage.length

          if (itemsShown >= totalItemCount) {
              hasMoreItems = false
          }

          virtualList.appendItems(itemPage)
          pageCounter++

      } catch (ex) {
          console.log(ex)
      }

      $f7.preloader.hide()

      if (!hasMoreItems) {
          unloadInfiniteScroll()
      }

      loadingInProgress = false


    }

    function getTemplate(rowItemViewModel) {

      return `<li class="flex-card">
                  <a href="/admin/item/show/${rowItemViewModel.item._id}" class="item-link">
                      <div class="card" >
                          <div class="card-content">
                              <div class="square">
                                  <img src="${rowItemViewModel.coverImage?.url}"/>
                              </div>
                          </div>


                          <div class="card-footer">
                              ${rowItemViewModel.item.title ? rowItemViewModel.item.title + ' ' : ''} #${rowItemViewModel.item.tokenId}
                          </div>
                      </div>
                  </a>
              </li>
      `
    }


    const countItems = (itemRows) => {
        //Count actual items
        let itemCount = 0
        
        for (let itemRow of itemRows) {
            itemCount += itemRow.items?.length
        }

        return itemCount
    }



    const deleteCollectionClick = async (e) => {

      $f7.dialog.confirm("Are you sure you want to delete this collection? This will only remove your local copy of the files.", async () => {

        await channelService.delete(channelViewModel.channel)

        $f7.views.main.router.navigate(`/`)

        const toast = $f7.toast.show({
          text: 'Collection deleted',
          closeTimeout: 2000,
          closeButton: true,
          position: 'bottom',
          horizontalPosition: 'left'
        })

      })

    }

    return $render
  }

</script>