<template>

    <div class="page" data-name="admin-settings">

        <${Navbar} />

        <div class="page-content">
            <div class="row">
                
                <form id="edit-settings-form" @submit="${formSubmit}" class="col-100 large-66 center">
                
                    <div class="block block-strong inset col-100 no-margin-bottom">
                        <div class="breadcrumbs ">
                          <div class="breadcrumbs-item">
                            <a href="/" class="link">
                              Home
                            </a>
                          </div>    
                          <div class="breadcrumbs-separator"></div>
                          <div class="breadcrumbs-item breadcrumbs-item-active">
                            Settings
                          </div> 
                        </div>
                    </div>


                    <input type="hidden" name="_id" value="${settings?._id}" />
                    <input type="hidden" name="_rev" value="${settings?._rev}" />

                    <div class="block-title block-title-medium">Settings</div>
                    <div class="card">
                        <div class="card-header">Remote IPFS API</div>
                        <div class="card-content">
                            <div class="list">
                                <ul>
                                    <li class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-title item-label">URL</div>
                                            <div class="item-input-wrap">
                                                <input type="text" name="ipfsHost" value="${settings?.ipfsHost}" placeholder="http://localhost:5001/api/v0" />
                                                <span class="input-clear-button"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="card">
                        <div class="card-header">Git Settings</div>
                        
                        <div class="card-content card-content-padding">

                            <div class="list">
    
                                <ul>
                                    <li>
                                        <div class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Default Git Provider</div>
                                                <div class="item-input-wrap">
                                                    <select @change="${providerChange}" class="value-input" name="gitProvider">     
                                                        
                                                        ${!settings?.defaultGitProvider || settings?.defaultGitProvider == "github" ? $h`
                                                            <option value="github" selected>GitHub</option>
                                                        ` : $h`
                                                            <option value="github">GitHub</option>
                                                        `}


                                                        ${settings?.defaultGitProvider == "gitlab" ? $h`
                                                            <option value="gitlab" selected>GitLab</option>
                                                        ` : $h`
                                                            <option value="gitlab">GitLab</option>
                                                        `}

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>

                            <br />
    
                        </div>
    
                    </div>


                    <div class="card">
                        <div class="card-header">Configure GitHub</div>
                        <div class="card-content card-content-padding">

                            <strong>GitHub Instructions</strong>

                            <ol>
                                <li>Create a <a href="http://github.com" class="external" target="_blank">GitHub</a> account.</li>
                                <li>Create a <a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token" class="external" target="_blank">"Personal access token"</a> and 
                                    save it below.</li>
                                <li>If you are logged into GitHub <a href="https://github.com/settings/personal-access-tokens/new" class="external" target="_blank">this link</a> will
                                    take you directly to the create form. </li>
    
                            </ol>

                            <p>Give the token a name and select an expiration date.</p>

                            <ul>
                                <li>Select "All Repositories" under "Repository Access".</li>
                                <li>Under "Repository Permissions" chooose:</li>
                                <li>"Administration" - read and write access.</li>
                                <li>"Content" - read and write access.</li>
                            </ul>  

    
    
                            <div class="list">
    
                                <ul>
                                    <li>
                                        <div class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Username (NOT email)</div>
                                                <div class="item-input-wrap">
                                                    <input type="text" name="gitHubUsername" placeholder="Username"
                                                        value="${settings.gitProviders?.github?.username}"  />
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Personal Access Token</div>
                                                <div class="item-input-wrap">
                                                    <input type="text" name="gitHubPersonalAccessToken" placeholder="Personal access token"
                                                        value="${settings.gitProviders?.github?.personalAccessToken}"  />
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>


                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">Configure GitLab</div>
                        <div class="card-content card-content-padding">

                            <strong>GitLab Instructions</strong>

                            <ol>
                                <li>Create a <a href="http://gitlab.com" class="external" target="_blank">Gitlab</a> account.</li>
                                <li>Create a <a href="https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html" class="external" target="_blank">"Personal access token"</a> and 
                                    save it below.</li>
                                <li>If you are logged into Gitlab <a href="https://gitlab.com/-/profile/personal_access_tokens" class="external" target="_blank">this link</a> will
                                    take you directly to the create form. </li>
    
                            </ol>
    
        
                            <p>Give the token a name and select an expiration date. Under "Select scopes" check the boxes beside:</p>
                            
                            <ul>
                                <li>api</li>
                                <li>read_api</li>
                                <li>read_repository</li>
                                <li>write_repository</li>
                            </ul>  
    
    
                            <div class="list">
    
                                <ul>
                                    <li>
                                        <div class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Username (NOT email)</div>
                                                <div class="item-input-wrap">
                                                    <input type="text" name="gitLabUsername" placeholder="Username"
                                                        value="${settings.gitProviders?.gitlab?.username}"  />
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Personal Access Token</div>
                                                <div class="item-input-wrap">
                                                    <input type="text" name="gitLabPersonalAccessToken" placeholder="Personal access token"
                                                        value="${settings.gitProviders?.gitlab?.personalAccessToken}"  />
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>

                        </div>
                    </div>



                    <div class="row block">
          
                        <div class="col-0 large-30"></div>
          
                        <a href="/" class="button button-outline color-gray col-50 large-30" tabindex="12">Cancel</a>
          
                        <button type="submit" class="button button-fill col-50 large-30" tabindex="13" id="saveButton">
                          Save
                        </button>
          
                      </div>


    
                </form>
            </div>

        </div>

    </div>

</template>

<style>


</style>


<script>
    import { ContainerService } from "../../../service/core/container-service"
    import { SettingsService } from "../../../service/core/settings-service"
    import { IpfsService } from "../../../service/core/ipfs-service"

    import { Settings } from "../../../dto/settings"

    import { v4 as uuidv4 } from 'uuid';


    import Navbar from "../../admin/navbar.f7.html"

    export default (props, { $, $on, $f7, $update }) => {

        let settingsService = ContainerService.getInstance(SettingsService)
        let ipfsService = ContainerService.getInstance(IpfsService)

        let settings = props.settings

        const formSubmit = async (e) => {

            e.preventDefault()

            let formData = $f7.form.convertToData('#edit-settings-form')

            let formSettings = {
                _id: formData._id,
                _rev: formData._rev,
                ipfsHost: formData.ipfsHost,
                defaultGitProvider: formData.gitProvider,
                gitProviders:{
                    gitlab:{
                        name: "gitlab",
                        username: formData.gitLabUsername,
                        personalAccessToken: formData.gitLabPersonalAccessToken
                    },
                    github: {
                        name: "github",
                        username: formData.gitHubUsername,
                        personalAccessToken: formData.gitHubPersonalAccessToken
                    }
                }
            }

            //Save
            try {

                let updatedSettings = Object.assign(new Settings(), formSettings)

                await settingsService.put(updatedSettings)

                if (settings?.ipfsHost != updatedSettings?.ipfsHost) {
                    await ipfsService.clearInit()
                }

                const toast = $f7.toast.show({
                    text: 'Settings Saved',
                    closeTimeout: 2000,
                    closeButton: true,
                    position: 'bottom',
                    horizontalPosition: 'left'
                })

                //Redirect
                $f7.views.main.router.navigate(`/`)

            } catch (ex) {
                console.log(ex.errors)
                $f7.dialog.alert(ex, "Saving settings failed")
            }

        }

        const providerChange = async (e) => {

            settings.gitProvider = $(e.currentTarget).val()

            await $update()

        }


        $on('pageInit', async (e) => {

        })





        return $render
    }

</script>