<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="admin-create-page">
  
      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="left">
            <a href="/admin/page" class="link"><i class="icon icon-back"></i> <span>Back</span></a>
          </div>
          <div class="title">Create Static Page</div>
          <div class="right">
            <${HeaderRight} />
          </div>
        </div>
      </div>

      <div class="fab fab-extended fab-right-bottom">
        <a @click="${savePageClick}" class="text-color-black">
          <i class="material-icons">save</i>
          <div class="fab-text">Save & Publish</div>
        </a>
      </div>
  

  
      <div class="page-content">
        <form class="block list no-hairlines" id="create-page-form">
          <ul>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Title</div>
                  <div class="item-input-wrap">
                    <input type="text" name="title" placeholder="Post title" />
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner post-area">
                  <div class="item-title item-label">Content</div>

                    <${QuillToolbar} id="create-page-textarea-toolbar" />
                
                    <div class="editor bg-color-white text-color-black" id="create-page-textarea"></div>
  
  
                </div>
              </div>
            </li>
            <li>
              <label class="item-checkbox item-content">
                <input type="checkbox" name="homePage" />
                <i class="icon icon-checkbox"></i>
                <div class="item-inner">
                  <div class="item-title">Home Page</div>
                </div>
              </label>
            </li>  
          </ul>
  
        </form>
  

  
      </div>
    </div>
  
  </template>
  
  <style>
    #create-page-textarea {
      min-height: 600px;
      height: 100%;
      /* added these styles */
      flex: 1;
      display: flex; 
      flex-direction: column;
    }

  </style>
  
  
  <script>
  
    import { ContainerService } from "../../../service/container-service"
    import { QuillService } from "../../../service/quill-service"
    import { UiService } from "../../../service/ui-service"

    import { BlogPostService, WalletService, PageService } from "large-core"
    import HeaderRight from "../../admin/header-right.f7.html"
    import QuillToolbar from "../../admin/quill-toolbar.f7.html"

    import moment from "moment"

    export default (props, { $, $on, $f7, $update }) => {
      
      let quillService = ContainerService.getInstance(QuillService)
      let pageService = ContainerService.getInstance(PageService)
      let walletService = ContainerService.getInstance(WalletService)
      let uiService = ContainerService.getInstance(UiService)

      let toast

      const savePageClick = async (e) => {

        //Get data
        let pageData = await getPageData('#create-page-form')

        //Set home page
        if (pageData.homePage) {
          await pageService.resetHomePage()
        }

        //Save
        let page = await pageService.put(pageData)




        //Redirect
        $f7.views.main.router.navigate(`/admin/page/show/${page._id}`)

      }

      $on('pageInit', async (e, page) => {
        quillService.buildQuillPostEditor('#create-page-textarea', '#create-page-textarea-toolbar')
      })


      async function getPageData(formId) {

          //Get data
          var pageData = $f7.form.convertToData(formId)

          //Get date
          pageData.dateCreatedMilli = moment().utc().valueOf()

          //Get author info
          pageData.owner = await walletService.getAddress()

          //Get story contents. Quill delta
          pageData.content = quillService.activeEditor.getContents()

          //Home page toggle
          pageData.homePage = (pageData.homePage[0] == "on" ? "on" : "")


          return pageData

      }


      
      return $render
    }

  </script>
  