<!--suppress JSAnnotator -->

<template>
  <div id="app">

    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar"></div>

    <div class="view view-main" >
    </div>

  </div>
</template>

<style>



</style>

<script>

  import { ContainerService } from "../../service/core/container-service"

  import { UiService } from "../../service/core/ui-service"
  import { WalletService } from "../../service/core/wallet-service"
  import { SchemaService } from "../../service/core/schema-service"

  export default (props, { $on, $f7ready, $f7, $f7router, $update }) => {

    $f7ready(async () => {

      let baseURI = window.location.pathname
      let hash = window.location.hash?.length > 2 ? window.location.hash.substring(2) : undefined

      // console.log(baseURI)
      // console.log(hash)

      let uiService = ContainerService.getInstance(UiService)
      let walletService = ContainerService.getWalletService()
      let schemaService = ContainerService.getInstance(SchemaService)

      if (typeof window !== "undefined" && window['ethereum']) {

        await init()

        //Listen for changes
        window['ethereum'].on('accountsChanged', async (accounts) => {
          if (accounts?.length > 0) {
            await init()
          }
        })

      } else {
        uiService.showSpinner("Must be connected to Ethereum mainnet. Please install <a href='http://metamask.io' class='external'>Metamask</a> or <a href='https://trustwallet.com/' class='external'>Trust Wallet</a>")        
      }




      async function init() {

        uiService.showSpinner("Loading...")

        await walletService.initWallet()

        let walletAddress = await walletService.getAddress()
        
        await schemaService.loadWallet(walletAddress)

        $f7.views.create('.view-main', {
          url: hash ? hash : '/',
          browserHistory: true,
          browserHistoryRoot: baseURI,
          reloadCurrent: true
        })

        // $f7.views.main.router.navigate("/", { reloadCurrent : true })

        uiService.hideSpinner()


      }

    })


    return $render
  }

</script>