<template>

    <div class="right">

        ${walletAddress != undefined ? $h`
          <a href="/admin/author/show/${walletAddress}" class="button button-fill">${truncateEthAddress(walletAddress)}</a>
        ` : $h`
          <button class="button button-outline button-fill" @click=${connectWallet}>Connect Metamask</button>
        `}

        <a href="/admin/settings" class="button button-fill" id="settings-button" >
            <i class="material-icons">settings</i>
        </a>

    </div>

</template>
 
<style>
    #settings-button {
        margin-left: 3px;
    }
</style>


<script>
    import { ContainerService } from "../../service/core/container-service"
    import { WalletService } from "../../service/core/wallet-service"


    import { UiService } from "../../service/core/ui-service"

    export default (props, { $on, $f7, $update }) => {
        
        let walletService = ContainerService.getWalletService()
        let uiService = ContainerService.getInstance(UiService)

        let walletAddress = walletService.wallet?.address
        let walletAbbrev

        // Captures 0x + 4 characters, then the last 4 characters.
        const truncateRegex = /^(0x[a-zA-Z0-9]{4})[a-zA-Z0-9]+([a-zA-Z0-9]{4})$/
        
        const truncateEthAddress = (address) => {
            const match = address.match(truncateRegex)
            if (!match) return address
            return `${match[1]}…${match[2]}`
        }

        const displayAddress = async (e) => {

            walletAddress = undefined

            if (!walletService.wallet && walletService.provider) {
                await walletService.connect()
            }


            if (walletService.wallet) {

                walletAddress = await walletService.getAddress()

                if (walletAddress) {
                    walletAbbrev = walletAddress.slice(walletAddress.length - 10)
                }

            }

            $update()
        }

        const connectWallet = async (e) => {
            //Connect to metamask
            await walletService.connect()
            displayAddress()
        }

        displayAddress()

        return $render
    }
</script>
