<template>

    <div class="right">

        ${showConnect ? $h`
            ${walletAddress != undefined ? $h`
                <a href="/admin/author/show/${walletAddress}" class="button button-fill">${truncateEthAddress(walletAddress)}</a>
              ` : $h`
                <button class="button button-outline button-fill" @click=${connectWallet}>Connect Wallet</button>
              `}
        ` : $h`<span />`}

        <a href="/admin/settings" class="button button-fill" id="settings-button" >
            <i class="material-icons">settings</i>
        </a>

    </div>

</template>
 
<style>
    #settings-button {
        margin-left: 3px;
    }
</style>


<script>
    import { ContainerService } from "../../service/core/container-service"
    import { WalletService } from "../../service/core/wallet-service"


    import { UiService } from "../../service/core/ui-service"

    export default (props, { $on, $f7, $update }) => {
        
        let walletAddress = props.wallet_address
        let showConnect = props.show_connect

        // Captures 0x + 4 characters, then the last 4 characters.
        const truncateRegex = /^(0x[a-zA-Z0-9]{4})[a-zA-Z0-9]+([a-zA-Z0-9]{4})$/
            
        const truncateEthAddress = (address) => {
            const match = address.match(truncateRegex)
            if (!match) return address
            return `${match[1]}…${match[2]}`
        }



        const connectWallet = async (e) => {
            document.dispatchEvent(new CustomEvent('connect-wallet'))
        }

        return $render
    }
</script>
