<template>

    <div class="navbar">
        <div class="navbar-bg"></div>

        <div class="navbar-inner sliding">
        
          <div class="left">
            <a href="/" class="logo">Large</a>
          </div>
        
          <div class="title"></div>

          <${HeaderRight} />

          ${readerConfig ? $h`
            <div class="subnavbar">
              <div class="subnavbar-inner">
                <div class="subnavbar-title">
                  <a href="${getBaseURI()}" class="link external">
                    <i class="icon icon-back"></i> ${readerConfig.title}
                  </a>
                </div>
              </div>
            </div>
          ` : ''}




        </div>
      </div>

</template>
 
<style>

 .logo {
   font-size: 32px;
   font-weight: 700;
   margin: 10px;
 }

 .searchbar {
   max-width: 100%;
 }

</style>


<script>

    import HeaderRight from "./header-right.f7.html"

    import { ContainerService } from "../../service/core/container-service"


    export default (props, { $on, $f7, $update }) => {
    
        let readerConfig = ContainerService.getInstance("readerConfig")

        let readerTitle


        const getBaseURI = () => {
          let baseURI = window.location.pathname

          //Get what's before admin
          return baseURI.substring(0, baseURI.indexOf('admin'))
        }

        return $render
    }
</script>
