<template>

    <div id="${id}">
        <select class="ql-header">
            <option selected></option>
            <option value="1">Heading</option>
            <option value="2">Subheading</option>
            <option value="3">Normal</option>
          </select>
          

          <!-- Add a bold button -->
          <button class="ql-bold"></button>
          <button class="ql-italic"></button>
          <button class="ql-strike"></button>
          <button class="ql-underline"></button>
          <button class="ql-link"></button>


          
          <!-- Add subscript and superscript buttons -->
          <button class="ql-script" value="sub"></button>
          <button class="ql-script" value="super"></button>

          <button class="text-editor-button image-button"><i class="material-icons">image</i></button>
          <label><input type="file" class="image-button-input" /></label>
    </div>

</template>
 
<style>


</style>


<script>

    export default (props, { $on, $f7, $update }) => {

        let id = props.id
        
        return $render
    }
</script>
