<template>

  <div class="page" data-name="admin-edit-post">

    <${Navbar} />

    <div class="page-content">

      <div class="row">

        <div class="col-100 large-66 center">

          <ul class="breadcrumb">
            <li><a href="/admin/channel/show/${itemViewModel.channel._id}">${itemViewModel.channel.title}</a></li>
            <li><a href="/admin/item/show/${itemViewModel.item._id}">${itemViewModel.item.title} #${itemViewModel.item.tokenId}</a></li>
            <li>Edit Blog NFT</li>
          </ul>

          <form class="block list media-list" id="edit-item-form" @submit="${formSubmit}">

            <${ItemForm} item=${itemViewModel} editor="edit-item-editor" toolbar="edit-item-toolbar" />

            <div class="row block">

              <div class="col-70"></div>

              <button type="submit" class="button button-fill col-30" tabindex="12">
                <i class="material-icons">save</i> Save
              </button>

            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

</template>

<style>
  #edit-item-editor {
    min-height: 600px;
    height: 100%;
    /* added these styles */
    flex: 1;
    display: flex;
    flex-direction: column;
  }
</style>

<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { QuillEditorService } from "../../../service/quill-editor-service"
  import { QuillService } from "../../../service/quill-service"

  import { ItemService } from "../../../service/item-service"
  import { ImageService } from "../../../service/image-service"

  import { UiService } from "../../../service/core/ui-service"

  import { WalletService } from "../../../service/core/wallet-service"
  import { Item } from "../../../dto/item"


  import Navbar from "../../admin/navbar.f7.html"
  import ItemForm from "../../admin/item/form.f7.html"

  import excerptHtml from 'excerpt-html'
  

  export default (props, { $, $on, $f7, $update }) => {

    let quillEditorService = ContainerService.getInstance(QuillEditorService)
    let quillService = ContainerService.getInstance(QuillService)

    let itemService = ContainerService.getInstance(ItemService)
    let imageService = ContainerService.getInstance(ImageService)

    let walletService = ContainerService.getWalletService()

    let itemViewModel = props.itemViewModel

    const formSubmit = async (e) => {

      e.preventDefault()

      let formData = $f7.form.convertToData('#edit-item-form')

      let showExcerpt = (formData.showExcerpt === 'true') 


      //Get data
      let item = Object.assign(new Item(), formData)

      //Get content from quill
      item.content = quillEditorService.activeEditor.getContents()

      //Parse attributeOptions and category
      if (item.attributeSelections) {

        item.attributeSelections = JSON.parse(item.attributeSelections).map(as => {
          return {
            id: as.id,
            traitType: as.traitType,
            value: as.value
          }
        })

      } else {
        item.attributeSelections = []
      }

      //Translate description content
      item.contentHTML = await quillService.translateContent(item.content)

      //Check showExcerpt
      if (showExcerpt) {
          item.excerpt = excerptHtml(item.contentHTML, {
              pruneLength: 500
          })
      } else {
        delete item.excerpt
      }

      
      //If existing cover image is generated then clear it so it gets replaced.

      if (item.coverImageId) {

        let existingCoverImage = await imageService.get(item.coverImageId)
        
        if (existingCoverImage.generated) {
          item.coverImageId = undefined
        }

      }

      
      //If no coverImage selected then use the generated/preview one. 
      // if (!item.coverImageId) {
      //   itemService.setDefaultCoverImage(item)
      // }

      console.log(item)

      //Save
      try {

        await itemService.put(item)

        const toast = $f7.toast.show({
          text: 'Blog NFT saved',
          closeTimeout: 2000,
          closeButton: true,
          position: 'bottom',
          horizontalPosition: 'right'
        })

        //Redirect
        $f7.views.main.router.navigate(`/admin/item/show/${item._id}`)

      } catch (ex) {
        console.log(ex)
        $f7.dialog.alert(ex.errors, "There was an error")
      }

    }

    $on('pageInit', async (e, page) => {

      //Initialize quill and fill contents
      quillEditorService.buildQuillPostEditor('#edit-item-editor', '#edit-item-toolbar')

      quillEditorService.activeEditor.setContents(itemViewModel.item.content)


      quillEditorService.activeEditor.on('text-change', (delta, oldContents, source) => {

        if (source !== 'user') return

        function getImgUrls(delta) {
          return delta.ops.filter(i => i.insert && i.insert.ipfsimage).map(i => i.insert.ipfsimage)
        }

        let current = quillEditorService.activeEditor.getContents()
        let diff = quillEditorService.activeEditor.getContents().diff(oldContents)
        
        //Get images that have been changed. 
        const changed = getImgUrls(diff)

        //Filter images that are different but just style updates
        const deleted = []
        for (let d of changed) {

          //Look for it in original
          let old = oldContents.ops.filter(i => i.insert && i.insert.ipfsimage && i.insert.ipfsimage.cid == d.cid)

          //Look for it in current
          let cur = current.ops.filter(i => i.insert && i.insert.ipfsimage && i.insert.ipfsimage.cid == d.cid)

          if (old.length > 0 && cur.length == 0) {
            deleted.push(d)
          }

        }


        //Remove them from the images array
        deleted.forEach(img => {

          itemViewModel.images = itemViewModel.images.filter(i => i.cid != img.cid)

          if (img.cid == itemViewModel.coverImage?.cid) {
            itemViewModel.coverImage = undefined
          }

        })

        $update()

      })



    })


    return $render
  }

</script>