<template>

  <div class="page" data-name="admin-edit-post">

    <${Navbar} />

    <div class="page-content">

      <div class="row">

        <div class="col-100 large-66 center">

          <ul class="breadcrumb">
            <li><a href="/admin/channel/show/${itemViewModel.channel._id}">${itemViewModel.channel.title}</a></li>
            <li><a href="/admin/item/show/${itemViewModel.item._id}">${itemViewModel.item.title} #${itemViewModel.item.tokenId}</a></li>
            <li>Edit Blog NFT</li>
          </ul>

          <form class="list media-list" id="edit-item-form" @submit="${formSubmit}">

            <${ItemForm} item=${itemViewModel} 
              editor="edit-item-editor" 
              toolbar="edit-item-toolbar" 
              cover_image_css_editor_id="cover-image-edit-css-editor"
              animation_css_editor_id="animation-edit-css-editor"
              themes=${themes}
            />

            <div class="row block">

              <div class="col-70"></div>

              <button type="submit" class="button button-fill col-30" tabindex="12">
                Save
              </button>

            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

</template>

<style>
  #edit-item-editor {
    min-height: 600px;
    height: 100%;
    /* added these styles */
    flex: 1;
    display: flex;
    flex-direction: column;
  }
</style>

<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { QuillEditorService } from "../../../service/quill-editor-service"
  import { QuillService } from "../../../service/quill-service"

  import { ItemService } from "../../../service/item-service"
  import { ImageService } from "../../../service/image-service"
  import { ItemWebService } from "../../../service/web/item-web-service"


  import { UiService } from "../../../service/core/ui-service"

  import { WalletService } from "../../../service/core/wallet-service"
  import { Item } from "../../../dto/item"


  import Navbar from "../../admin/navbar.f7.html"
  import ItemForm from "../../admin/item/form.f7.html"

  import excerptHtml from 'excerpt-html'
  import hljs from "highlight.js"
  import Quill from "quill"

  export default (props, { $, $on, $f7, $update }) => {

    let quillEditorService = ContainerService.getInstance(QuillEditorService)
    let quillService = ContainerService.getInstance(QuillService)

    let itemService = ContainerService.getInstance(ItemService)
    let itemWebService = ContainerService.getInstance(ItemWebService)

    let imageService = ContainerService.getInstance(ImageService)

    let walletService = ContainerService.getWalletService()

    let itemViewModel = props.itemViewModel
    let themes = props.themes 



    let coverImageCSSQuillEditor
    let animationCSSQuillEditor


    hljs.configure({   // optionally configure hljs
      languages: ['css']
    })



    const formSubmit = async (e) => {

      e.preventDefault()

      let formData = $f7.form.convertToData('#edit-item-form')

      let showExcerpt = (formData.showExcerpt === 'true') 


      //Get data
      let item = Object.assign(new Item(), formData)

      item.coverImageAsAnimation = (formData.coverImageAsAnimation === 'true') 


      //Get content from quill
      item.content = quillEditorService.activeEditor.getContents()
      item.coverImageCSS = coverImageCSSQuillEditor.getText() != "\n" ? coverImageCSSQuillEditor.getText() : undefined
      item.animationCSS = animationCSSQuillEditor.getText() != "\n" ? animationCSSQuillEditor.getText() : undefined

      //Parse attributeOptions and category
      if (item.attributeSelections) {

        item.attributeSelections = JSON.parse(item.attributeSelections).map(as => {
          return {
            id: as.id,
            traitType: as.traitType,
            value: as.value
          }
        })

      } else {
        item.attributeSelections = []
      }

      //Check showExcerpt
      if (showExcerpt) {
          item.excerpt = excerptHtml(await quillService.translateContent(item.content), {
              pruneLength: 500
          })
      } else {
        delete item.excerpt
      }

      //Build contentHTML for searching
      item.contentHTML = await quillService.translateContent(item.content, true)

      
      //Save the cover image if necessary
      await itemWebService.saveGeneratedCoverImage(item)

      //And the animation
      await itemWebService.saveAnimation(item)


      //Save
      try {

        await itemService.put(item)

        const toast = $f7.toast.show({
          text: 'Blog NFT saved',
          closeTimeout: 2000,
          closeButton: true,
          position: 'bottom',
          horizontalPosition: 'left'
        })

        //Redirect
        $f7.views.main.router.navigate(`/admin/item/show/${item._id}`)

      } catch (ex) {
        console.log(ex)
        $f7.dialog.alert(ex.errors, "There was an error")
      }

    }

    $on('pageInit', async (e, page) => {

      //Initialize quill and fill contents
      quillEditorService.buildQuillPostEditor('#edit-item-editor', '#edit-item-toolbar')

      quillEditorService.activeEditor.setContents(itemViewModel.item.content)


      quillEditorService.activeEditor.on('selection-change', range => {
        document.dispatchEvent(new CustomEvent('load-cover-images'))
      })


      quillEditorService.activeEditor.on('text-change', (delta, oldContents, source) => {

        document.dispatchEvent(new CustomEvent('load-cover-images'))

        if (source !== 'user') return

        function getImgUrls(delta) {
          return delta.ops.filter(i => i.insert && i.insert.ipfsimage).map(i => i.insert.ipfsimage)
        }

        let current = quillEditorService.activeEditor.getContents()
        let diff = quillEditorService.activeEditor.getContents().diff(oldContents)
        
        //Get images that have been changed. 
        const changed = getImgUrls(diff)

        //Filter images that are different but just style updates
        const deleted = []
        for (let d of changed) {

          //Look for it in original
          let old = oldContents.ops.filter(i => i.insert && i.insert.ipfsimage && i.insert.ipfsimage.cid == d.cid)

          //Look for it in current
          let cur = current.ops.filter(i => i.insert && i.insert.ipfsimage && i.insert.ipfsimage.cid == d.cid)

          if (old.length > 0 && cur.length == 0) {
            deleted.push(d)
          }

        }


        //Remove them from the images array
        deleted.forEach(img => {

          itemViewModel.images = itemViewModel.images.filter(i => i.cid != img.cid)

          if (img.cid == itemViewModel.coverImage?.cid) {
            itemViewModel.coverImage = undefined
          }

        })

        $update()

      })


      $('.image-button').off('click')
      $('.image-button-input').off('click')

      $('.image-button').on('click', function (e) {
        e.preventDefault()

        const imageButtonInput = $(".image-button-input")
        imageButtonInput.click()

      })

      $('.image-button-input').on('change', async function (e) {
        e.preventDefault()
        await quillEditorService.imageSelected(this)
      })










      //Cover image
      coverImageCSSQuillEditor = new Quill('#cover-image-edit-css-editor', {
        bounds: ".page-content",
        theme: "snow",
        modules: {
          syntax: {
            highlight: text => hljs.highlightAuto(text).value,
          },          
          toolbar: false
        }
      })
      
      coverImageCSSQuillEditor.on('text-change', (delta, oldContents, source) => {
        document.dispatchEvent(new CustomEvent('update-cover-image-css', {
          detail: {
            coverImageCSS:  coverImageCSSQuillEditor.getText() != "\n" ? coverImageCSSQuillEditor.getText() : undefined
          }
        }))
      })


      animationCSSQuillEditor = new Quill('#animation-edit-css-editor', {
        bounds: ".page-content",
        theme: "snow",
        modules: {
          syntax: {
            highlight: text => hljs.highlightAuto(text).value,
          },          
          toolbar: false
        }
      })


      if (itemViewModel.item.coverImageCSS) {
        coverImageCSSQuillEditor.setText(itemViewModel.item.coverImageCSS)
      }

      if (itemViewModel.item.animationCSS) {
        animationCSSQuillEditor.setText(itemViewModel.item.animationCSS)
      }
      

      //Expand customize box if set
      if (itemViewModel.item.themes?.length > 0 || itemViewModel.item.coverImageCSS || 
          itemViewModel.item.animationCSS || itemViewModel.item.coverImageAsAnimation) {

        $f7.accordion.open('.customize-accordion')


      }



    })


    return $render
  }

</script>