<!--suppress JSAnnotator -->
<template>
    <ul>
        <input type="hidden" name="_id" value="${itemViewModel?.item?._id}" />
        <input type="hidden" name="_rev" value="${itemViewModel?.item?._rev}" />
        <input type="hidden" name="dateCreated" value="${itemViewModel?.item?.dateCreated}" />
        <input type="hidden" name="channelId" value="${itemViewModel?.channel?._id}" />


        <li>
            <div class="item-content item-input">
                <div class="item-inner">
                    <div class="item-title item-label">Title</div>
                    <div class="item-input-wrap">
                        <input type="text" name="title" placeholder="Title" value="${itemViewModel?.item?.title}"
                            minlength="3" id="header-input" required />
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="item-content item-input">
                <div class="item-inner post-area">
                    <div class="item-title item-label">Content</div>

                    <div id="${toolbarId}">

                        <select class="ql-header">
                            <option selected></option>
                            <option value="1">Heading</option>
                            <option value="2">Subheading</option>
                            <option value="3">Normal</option>
                        </select>


                        <!-- Add a bold button -->
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-strike"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-link"></button>



                        <!-- Add subscript and superscript buttons -->
                        <button class="ql-script" value="sub"></button>
                        <button class="ql-script" value="super"></button>

                        <button class="text-editor-button image-button"><i class="material-icons">image</i></button>
                        <label><input type="file" class="image-button-input" /></label>
                    </div>

                    <div class="editor bg-color-white text-color-black" id="${editorId}"></div>
                </div>
            </div>
        </li>

        ${itemViewModel.images?.length > 0 ? $h`

        <li class="cover-photo-preview">

            <input type="hidden" name="coverImageId" value="${itemViewModel?.coverImage?.cid}" />

            <div class="item-content item-input">
                <div class="item-inner">
                    <div class="item-title item-label">Cover Image</div>
                    <div class="item-input-wrap">

                        ${itemViewModel.images.map( (image) => $h`
                        <img class="cover-image-thumbnail ${image.cid == itemViewModel.coverImage?.cid ? 'selected' : ''}  "
                            src="${image.url}" data-id="${image.cid}" @click=${coverImageClick} />
                        `)}


                    </div>
                </div>
            </div>

        </li>

        ` : $h``}

        ${itemViewModel.attributeSelections?.length > 0 ? $h`

            <div class="block-title">Attributes</div>

            ${itemViewModel.attributeSelections?.map( (attributeSelectionViewModel) => $h`
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">${attributeSelectionViewModel?.traitType}</div>
                            <div class="item-input-wrap">

                                <select @change="${valueNameChange}" class="value-input"
                                    data-id="${attributeSelectionViewModel?.id}">

                                    ${attributeSelectionViewModel?.values?.map( v => $h`

                                    ${attributeSelectionViewModel?.value?.toString() == v.toString() ? $h`
                                    <option value="${v}" selected>${v}</option>
                                    ` : $h`
                                    <option value="${v}">${v}</option>
                                    `}

                                    `)}

                                </select>


                            </div>
                        </div>
                    </div>
                </li>
            `)}
        ` : $h``}

        <input type="hidden" name="attributeSelections" value="${JSON.stringify(attributeSelections)}" />

    </ul>




</template>

<style>
    .cover-image-thumbnail {
        max-width: 100px;
    }

    .cover-image-thumbnail.selected {
        border: 3px solid #ff0000;
    }

    #header-input {
        line-height: 40px;
        font-size: 40px;
        font-weight: 700;
        height: 50px;
    }
</style>


<script>

    import { ContainerService } from "../../../service/core/container-service"
    import { QuillEditorService } from "../../../service/quill-editor-service"
    import { QuillService } from "../../../service/quill-service"

    import { ImageService } from "../../../service/image-service"
    import { ItemWebService } from "../../../service/web/item-web-service"

    import { v4 as uuidv4 } from 'uuid';


    export default (props, { $, $on, $f7, $update }) => {

        let quillEditorService = ContainerService.getInstance(QuillEditorService)
        let quillService = ContainerService.getInstance(QuillService)
        let itemWebService = ContainerService.getInstance(ItemWebService)

        let imageService = ContainerService.getInstance(ImageService)




        const loadCoverImages = async () => {
            itemViewModel.images = itemWebService.getImagesFromPostContentOps(quillEditorService.activeEditor.getContents().ops)
            await $update()
        }

        const coverImageClick = async (e) => {

            let id = $(e.currentTarget).data('id')

            itemViewModel.coverImage = await imageService.get(id)

            await $update()
        }

        $(document).on('image-selected', async (e) => {

            //Make it the cover photo
            itemViewModel.coverImage = await imageService.get(e.detail._id)

            await loadCoverImages()

        })



        const valueNameChange = async (e) => {

            let id = $(e.currentTarget).data('id')

            attributeSelections.filter(as => as.id == id)[0].value = $(e.currentTarget).val()

            await $update()

        }

        const setAttributeSelections = (as) => {

            attributeSelections = as

            //Set defaults for any that are not set.
            for (let attributeSelection of attributeSelections) {
                if (!attributeSelection.value) {
                    attributeSelection.value = attributeSelection.values[0]
                }
            }


        }


        let itemViewModel = props.item
        let editorId = props.editor
        let toolbarId = props.toolbar

        let attributeSelections

        if (itemViewModel) {
            setAttributeSelections(itemViewModel.attributeSelections)
        }


        return $render
    }


</script>