<!--suppress JSAnnotator -->
<template>
    <ul>
        <input type="hidden" name="_id" value="${itemViewModel?.item?._id}" />
        <input type="hidden" name="_rev" value="${itemViewModel?.item?._rev}" />
        <input type="hidden" name="dateCreated" value="${itemViewModel?.item?.dateCreated}" />
        <input type="hidden" name="channelId" value="${itemViewModel?.channel?._id}" />


        <li>
            <div class="item-content item-input">
                <div class="item-inner">
                    <div class="item-title item-label">Title</div>
                    <div class="item-input-wrap">
                        <input type="text" name="title" placeholder="Title" value="${itemViewModel?.item?.title}"
                            minlength="3" required />
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="item-content item-input">
                <div class="item-inner">
                    <div class="item-title item-label">Subtitle</div>
                    <div class="item-input-wrap">
                        <input type="text" name="subtitle" placeholder="Enter a subtitle (optional)"
                            value="${itemViewModel?.item?.subtitle}" />
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="item-content item-input">
                <div class="item-inner post-area">
                    <div class="item-title item-label">Content</div>

                    <div id="${toolbarId}">

                        <select class="ql-header">
                            <option selected></option>
                            <option value="1">Heading</option>
                            <option value="2">Subheading</option>
                            <option value="3">Normal</option>
                        </select>


                        <!-- Add a bold button -->
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-strike"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-link"></button>



                        <!-- Add subscript and superscript buttons -->
                        <button class="ql-script" value="sub"></button>
                        <button class="ql-script" value="super"></button>

                        <button class="text-editor-button image-button"><i class="material-icons">image</i></button>
                        <label><input type="file" class="image-button-input" /></label>
                    </div>

                    <div class="editor bg-color-white text-color-black" id="${editorId}"></div>
                </div>
            </div>
        </li>

        ${itemViewModel.images?.length > 0 ? $h`
        
            <li class="cover-photo-preview">

                <input type="hidden" name="coverImageId" value="${itemViewModel?.coverImage?._id}" />
    
                <div class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Cover Image</div>
                        <div class="item-input-wrap">
                            
                            ${itemViewModel.images.map( (image) => $h`
                                <img class="cover-image-thumbnail ${image.cid == itemViewModel.coverImage._id ? 'selected' : ''}  " src="${image.url}" data-id="${image.cid}" @click=${coverImageClick}  />
                            `)}
    
    
                        </div>
                    </div>
                </div>
    
            </li>
    
        ` : $h``}

    </ul>




</template>

<style>

.cover-image-thumbnail {
    max-width: 100px;
}
.cover-image-thumbnail.selected {
    border: 3px solid #ff0000;
}


</style>


<script>

    import { ContainerService } from "../../../service/core/container-service"
    import { QuillEditorService } from "../../../service/quill-editor-service"
    import { QuillService } from "../../../service/quill-service"

    import { ImageService } from "../../../service/image-service"
    import { ItemWebService } from "../../../service/web/item-web-service"

    export default (props, { $, $on, $f7, $update }) => {

        let quillEditorService = ContainerService.getInstance(QuillEditorService)
        let quillService = ContainerService.getInstance(QuillService)
        let itemWebService = ContainerService.getInstance(ItemWebService)

        let imageService = ContainerService.getInstance(ImageService)

        let itemViewModel = props.item
        let editorId = props.editor
        let toolbarId = props.toolbar

    
        const loadCoverImages = async () => {
            itemViewModel.images = itemWebService.getImagesFromPostContentOps(quillEditorService.activeEditor.getContents().ops)
            console.log(itemViewModel.images)
            await $update()
        }

        const coverImageClick = async (e) => {

            let id = $(e.currentTarget).data('id')
            
            itemViewModel.coverImage = await imageService.get(id)

            await $update()
        }

        $(document).on('image-selected', async (e) => {

            //Make it the cover photo
            itemViewModel.coverImage = await imageService.get(e.detail._id)

            await loadCoverImages()

        })



        return $render
    }


</script>