<template>

  <div class="page" data-name="admin-show-post">

    <${Navbar} />

    ${showEdit ? $h`
      <div class="fab fab-extended fab-right-bottom">
        <a href="/admin/item/create/${itemViewModel.channel._id}" class="text-color-black">
          <i class="material-icons">create</i>
          <div class="fab-text">Create Blog NFT</div>
        </a>
      </div>
    ` : $h``} 


    <div class="page-content">

      <div class="row">

        <div class="col-100 large-75">

          <ul class="breadcrumb">
            <li><a href="/admin/channel/show/${itemViewModel.channel._id}">${itemViewModel.channel.title}</a></li>
            <li>${itemViewModel.item.title} #${itemViewModel.item.tokenId}</li>
          </ul>

          <div class="card">
            <div class="card-content">
                <div class="animation-content" innerHTML="${itemViewModel.animationContentHTML}"></div>
            </div>
            ${showEdit ? $h`
              <div class="card-footer item-show-footer">
                
                  <a class="button button-fill button-small" href="/admin/item/edit/${itemViewModel.item._id}" id="edit-${itemViewModel.item._id}">Edit</a>
  
                  ${itemViewModel.canDelete ? $h`
                    <a class="button button-outline button-small color-red" @click="${deleteClick}">
                      <i class="material-icons">delete</i>
                    </a>
                  ` : $h`
                    Note: Only the last NFT can be deleted.
                  `}
              
              </div>
            ` : $h``}
          </div> 




          <div class="block row center margin-bottom">

            ${itemViewModel.previous ? $h`
              <div class="col-50 previous">
                <a class="button button-outline" href="/admin/item/show/${itemViewModel.previous._id}" id="previous-${itemViewModel.item._id}">
                  <span class="material-icons">arrow_back</span>
                  ${ parseInt(itemViewModel.item.tokenId) - 1}
                </a>
              </div>
            ` : $h``}

            ${itemViewModel.next ? $h`
              <div class="col-50 next">
                <a class="button button-outline" href="/admin/item/show/${itemViewModel.next._id}" id="next-${itemViewModel.item._id}">
                  ${ parseInt(itemViewModel.item.tokenId) + 1}
                  <span class="material-icons">arrow_forward</span>
                </a>
              </div>
              ` : $h``}

          </div>

          <${TokenNavigator} channel=${itemViewModel.channel._id} />


        </div>

        <div class="col-100 large-25">

          <div class="card">
            <div class="card-header">
              <span>
                <i class="material-icons">person</i>
                <label>Creator</label>
              </span>
            </div>
            <div class="card-content data-table">

              <table>
                <tbody>

                  <tr>
                    <td class="label-cell">Creator:</td> 
                    <td><a href="/admin/author/show/${itemViewModel?.author._id}">${itemViewModel?.authorDisplayName}</a></td>
                  </tr>

                  <tr>
                    <td class="label-cell">Date:</td> 
                    <td><span class="date">${itemViewModel.dateDisplay}</span></td>
                  </tr>

                </tbody>
              </table>


            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <span>
                <i class="material-icons">label</i>
                <label>Attributes</label>
              </span>
            </div>
            <div class="card-content data-table">

              <div class="button-outline attribute-value">
                <div class="trait-type">Token ID</div>
                <div class="value">#${itemViewModel.item.tokenId}</div>
              </div>

              ${itemViewModel.attributeSelections?.map(as => $h`

                ${as.value ? $h`
                  <div class="button-outline attribute-value">
                    <div class="trait-type">${as.traitType}</div>
                    <div class="value">${as.value}</div>
                    <div class="category-percent">${as.categoryPercent} have this trait</div>
                  </div>
                ` : $h`<span />`}

              `)}

            </div>
          </div>

          ${itemViewModel.themes?.length > 0 ? $h`

            <div class="card">
              <div class="card-header">Theme(s)</div>
              <div class="card-content">
                
                ${itemViewModel.themes?.map( (theme) => $h`

                  <div class="button-outline attribute-value">
                    <div class="value">${theme.name}</div>
                  </div>

                `)}
              </div>
            </div>

          ` : $h`<span/>`}



          <div class="card">
            <div class="card-header">Cover Image</div>
            <div class="card-content">
              <img src="${itemViewModel.coverImage?.url}" class="cover-image-preview" />
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</template>


<style>

  .previous {
    text-align: right;
  }

  .next {
    text-align: left;
  }


  @media only screen and (max-width: 1024px) {
    .previous {
      text-align: center;
    }

    .next {
      text-align: center;
    }
  }




  /* .item-card-show a {
    color: var(--f7-text-color);
  } */


  .menu-dropdown-link.menu-close {
    color: #ffffff;
  }


  .attribute-row {
    font-size: 16px;
    vertical-align: top;
  }

  .attribute-row strong {
    width: 175px;
    display: inline-block;
    vertical-align: top;
  }


  .attribute-row .material-icons {
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
  }

  .item-show-footer {
    font-size: 14px;
  }

  .card-header {
    line-height: 21px;
  }

  .card-header label {
    padding-bottom: 3px;
    margin-left: 5px;
    float: left;
  }

  .card-header .material-icons {
    float: left;
  }

  .item-show-token-id {
    color: rgb(79, 79, 79);
  }

  .cover-image-preview {
    max-width: 100%;
  }

  .animation-preview {
    margin-left: 5px;
    height: 500px; 
    width: 500px;
    max-width: 100%;
    border: 1px solid #cccccc;
  }


  .nft-header-row {
    display: flex;  
  }

  .nft-header-row .left {
    flex: 0 0 500px;
  }

  .nft-header-row .right {
    flex: 1;
  }

  .nft-header-row .right h1 {
    font-size: 25px;
  }

  .nft-header-row .right h4 {
    margin-bottom: 0px;
  }





@media only screen and (max-width: 1024px) {

  .nft-header-row {
    display: block;  
  }
  
  .nft-header-row .left {
    width: 100%;
  }
  
  .nft-header-row .right {
    width: 100%;
  }
  
}


.theme-name {
  display: block;
}

.main-header {

}




</style>

<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { UiService } from "../../../service/core/ui-service"
  import { ItemService } from "../../../service/item-service"
  import TokenNavigator from "../channel/token-navigator.f7.html"

  import Navbar from "../../admin/navbar.f7.html"

  import hotkeys from 'hotkeys-js'

  export default (props, { $, $on, $f7, $update }) => {

    let itemService = ContainerService.getInstance(ItemService)
    let uiService = ContainerService.getInstance(UiService)

    let itemViewModel = props.itemViewModel
    let showEdit = itemViewModel.editable


    $on('pageInit', async (e, page) => {

      //Add external to any links in the doc
      $(`#item-content-${itemViewModel.item._id} a`).addClass('external')

      await $update()

    })

    const deleteClick = async (e) => {

      try {

        $f7.dialog.confirm(
          "Do you want to delete this item? Note: This only deletes from your device.",
          async function () {

            await itemService.delete(itemViewModel.item)

            const toast = $f7.toast.show({
              text: 'Blog NFT deleted',
              closeTimeout: 2000,
              closeButton: true,
              position: 'bottom',
              horizontalPosition: 'left'
            })

            //Redirect
            $f7.views.main.router.navigate(`/admin/channel/show/${itemViewModel.channel._id}`)
          }
        )

      } catch (ex) {
        uiService.showExceptionPopup(ex)
      }

    }


    return $render
  }

</script>