<template>

  <div class="page" data-name="admin-show-post">

    <${Navbar} />

    ${showEdit ? $h`
      <div class="fab fab-extended fab-right-bottom">
        <a href="/admin/item/create/${itemViewModel.channel._id}" class="text-color-black">
          <i class="material-icons">create</i>
          <div class="fab-text">Create Blog NFT</div>
        </a>
      </div>
    ` : $h``} 


    <div class="page-content">

      <div class="row">
        <div class="col-100 large-66 center margin-top">

          <ul class="breadcrumb">
            <li><a href="/admin/channel/show/${itemViewModel.channel._id}/0">${itemViewModel.channel.title}</a></li>
            <li>${itemViewModel.item.title} #${itemViewModel.item.tokenId}</li>
          </ul>

          <div class="card item-card-show">

            <div class="card-header">
              <span>${itemViewModel.item.title} <span class="item-show-token-id">#${itemViewModel.item.tokenId}</span></span>
            </div>

            <div class="card-content card-content-padding">

              <div class="content" innerHTML="${itemViewModel.item.contentHTML}"
                id="item-content-${itemViewModel.item._id}">
              </div>

            </div>

            <div class="card-footer item-show-footer">
              ${showEdit ? $h`
                <a class="button button-fill button-small" href="/admin/item/edit/${itemViewModel.item._id}">Edit</a>

                ${itemViewModel.canDelete ? $h`
                  <a class="button button-outline button-small color-red" @click="${deleteClick}">
                    <i class="material-icons">delete</i>
                  </a>
                ` : $h`
                  Note: Only the last NFT can be deleted.
                `}


              ` : $h``} 
            </div>

          </div>

          <div class="card">
            <div class="card-header">
              <span>
                <i class="material-icons">label</i>
                <label>Attributes</label>
              </span>
            </div>
            <div class="card-content card-content-padding">

              <div class="attribute-row"> 
                <strong>Token ID:</strong> #${itemViewModel.item.tokenId}
              </div>

              ${itemViewModel.attributeSelections?.map(as => $h`
                <div class="attribute-row">
                  <strong>${as.traitType}:</strong> ${as.value}
                </div>
              `)}

              <div class="attribute-row"> 
                <strong>Show Excerpt:</strong> ${itemViewModel.item.excerpt ? $h`
                    <span class="material-icons">check_box</span>
                  ` : $h`
                    <span class="material-icons">check_box_outline_blank</span>
                  `}
              </div>

            </div>
          </div>


          <div class="card">
            <div class="card-header">
              <span>
                <i class="material-icons">person</i>
                <label>Creator</label>
              </span>
            </div>
            <div class="card-content card-content-padding">

              <div class="attribute-row"> 
                <strong>Creator:</strong> <a href="/admin/author/show/${itemViewModel?.author._id}">${itemViewModel?.authorDisplayName}</a>
              </div>

              <div class="attribute-row"> 
                <strong>Date:</strong> <span class="date">${itemViewModel.dateDisplay}</span>
              </div>

            </div>
          </div>


          <div class="block row center margin-bottom">

            ${itemViewModel.previous ? $h`
              <div class="col-50 previous">
                <a class="button button-outline" href="/admin/item/show/${itemViewModel.previous._id}">
                  <span class="material-icons">arrow_back</span>
                  ${ parseInt(itemViewModel.item.tokenId) - 1}
                </a>
              </div>
            ` : $h``}

            ${itemViewModel.next ? $h`
              <div class="col-50 next">
                <a class="button button-outline" href="/admin/item/show/${itemViewModel.next._id}">
                  ${ parseInt(itemViewModel.item.tokenId) + 1}
                  <span class="material-icons">arrow_forward</span>
                </a>
              </div>
              ` : $h``}

          </div>

          <div class="block">
            <br />
          </div>

        </div>
      </div>

    </div>

  </div>

</template>


<style>

  .previous {
    text-align: right;
  }

  .next {
    text-align: left;
  }


  @media only screen and (max-width: 1024px) {
    .previous {
      text-align: center;
    }

    .next {
      text-align: center;
    }
  }




  /* .item-card-show a {
    color: var(--f7-text-color);
  } */


  .menu-dropdown-link.menu-close {
    color: #ffffff;
  }


  .attribute-row {
    font-size: 16px;
    vertical-align: top;
  }



  .attribute-row .material-icons {
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
  }

  .item-show-footer {
    font-size: 14px;
  }

  .card-header {
    line-height: 21px;
  }

  .card-header label {
    padding-bottom: 3px;
    margin-left: 5px;
    float: left;
  }

  .card-header .material-icons {
    float: left;
  }

  .item-show-token-id {
    color: rgb(79, 79, 79);
  }


</style>

<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { UiService } from "../../../service/core/ui-service"
  import { ItemService } from "../../../service/item-service"

  import Navbar from "../../admin/navbar.f7.html"


  export default (props, { $, $on, $f7, $update }) => {

    let itemService = ContainerService.getInstance(ItemService)
    let uiService = ContainerService.getInstance(UiService)

    let itemViewModel = props.itemViewModel

    let showEdit = itemViewModel.editable


    $on('pageInit', async (e, page) => {

      //Add external to any links in the doc
      $(`#item-content-${itemViewModel.item._id} a`).addClass('external')

      await $update()

    })

    const deleteClick = async (e) => {

      try {

        $f7.dialog.confirm(
          "Do you want to delete this item? Note: This only deletes from your device.",
          async function () {

            await itemService.delete(itemViewModel.item)

            const toast = $f7.toast.show({
              text: 'Blog NFT deleted',
              closeTimeout: 2000,
              closeButton: true,
              position: 'bottom',
              horizontalPosition: 'right'
            })

            //Redirect
            $f7.views.main.router.navigate(`/admin/channel/show/${itemViewModel.channel._id}/0`)
          }
        )

      } catch (ex) {
        uiService.showExceptionPopup(ex)
      }

    }


    return $render
  }

</script>