.avatar {
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 25%;
    margin: 5px;
    vertical-align: middle;
}

.label-cell title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.collections-table {
    width: 100%;
    min-width: 100%;
    font-size: 18px;
}