<template>

    <div class="page" data-name="home">
  
      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="title">Large</div>
          <div class="right">
            <${HeaderRight} />
          </div>
        </div>
      </div>


      <div class="page-content infinite-scroll-content">
    
        <div class="row">
  
          <div class="col-100 tablet-50 center">
  
            <div class="list media-list">
              <ul id="post-list">
              </ul>
            </div>
  
            <!-- <div class="preloader infinite-scroll-preloader"></div> -->
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </template>
  
  
  <script>
  
    import { ContainerService } from "../../service/container-service"
    import { QuillService } from "../../service/quill-service"

    import HeaderRight from "../admin/header-right.f7.html"


    export default (props, { $on, $f7, $update }) => {
      return $render
    }
  </script>
  