<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!--
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    -->
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes, minimal-ui, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="icon" href="<%= require('./manifest-icon.svg?name=large/manifest-icon.svg') %>">
  <link rel="manifest" href="<%= require('./app.webmanifest') %>">
  <link rel="apple-touch-icon" href="<%= require('./apple-touch-icon.png') %>">
  <meta name="theme-color" content="#FCB827">


  <!-- Color theme for statusbar -->
  <title><%= htmlWebpackPlugin.options.title %></title>

  <%= htmlWebpackPlugin.tags.headTags %>

</head>

<body>

  <div id="app"></div>


  <%= htmlWebpackPlugin.tags.bodyTags %>

  <script type="module">

    let version = atob('<%= htmlWebpackPlugin.options.base64Version %>').replace('"', '').replace('"', '')
    admin.default(version)
  </script>

</body>



</html>