<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="publish">

        <${Navbar} breadcrumbs=${breadcrumbs}  />

        <div class="page-content hide-toolbar-on-scroll">

            <div class="fixed-width-content center">
                ${showForm ? $h`

                    <form @submit="${formSubmit}" id="export-form">
    
    
                        <div class="card card-header-divider">
                            <div class="card-header">Export</div>
                            <div class="card-content card-content-padding">
    
                                <p>
                                    Export the JSON metadata for the collection and a snapshot of the source database to the IPFS node and git.
                                </p>
    
                            </div>
                        </div>
                        
            
                        <div class="block-title">IPFS</div>
                        <div class="block inset">
                            ${!ipfsReady ? $h`
                                <div class="ipfs-label">IPFS Initializing...</div>
                            ` : $h`
                                <div class="ipfs-label">
                                    Status: <a href="/admin/connect">IPFS Ready</a>
                                </div>
                            `}
                        </div>
    
    
                        <div class="block-title">Git Repo</div>
                        <div class="block inset">                            
                            <strong>Provider:</strong>  ${channelViewModel?.gitProvider.name} <br />
                            <strong>Repository:</strong>   <a href="${channelViewModel.channel.httpUrlToRepo}" class="link external" target="_blank">${channelViewModel.channel.httpUrlToRepo}</a>
                        </div>
    
    
                        <div class="card card-header-divider">
                            <div class="card-header">Options</div>
                            <div class="card-content card-content-padding">                            
                                ${publishing ? $h`
                                    <div class="publish-label">
                                        Exporting...
                                    </div>
    
                                    ${publishStatus? $h`
    
                                        <div class="row">
                                            <div class="margin-top"><strong>NFT Data</strong></div>
                                            <div class="data-table">
                                                <table>
                                                    <thead>
                                                    <th class="label-cell">Type</th>
                                                    <th class="numeric-cell">Saved</th>
                                                    <th class="numeric-cell">Total</th>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="${publishStatus.images.saved == publishStatus.images.total && publishStatus.images.total > 0 ? 'complete' : ''}">
                                                        <td class="label-cell">Images</td>
                                                        <td class="numeric-cell">${publishStatus.images.saved}</td>
                                                        <td class="numeric-cell">${publishStatus.images.total}</td>
                                                    </tr>
                                                    <tr class="${publishStatus.animations.saved == publishStatus.animations.total && publishStatus.animations.total > 0 ? 'complete' : ''}">
                                                        <td class="label-cell">Animations</td>
                                                        <td class="numeric-cell">${publishStatus.animations.saved}</td>
                                                        <td class="numeric-cell">${publishStatus.animations.total}</td>
                                                    </tr>
                                                    <tr class="${publishStatus.nftMetadata.saved == publishStatus.nftMetadata.total && publishStatus.nftMetadata.total > 0 ? 'complete' : ''}">
                                                        <td class="label-cell">NFT Metadata</td>
                                                        <td class="numeric-cell">${publishStatus.nftMetadata.saved}</td>
                                                        <td class="numeric-cell">${publishStatus.nftMetadata.total}</td>
                                                    </tr>
                                                    
                                                    </tbody>
                                                </table>
    
                                            </div>
                                        </div>
    
                                        <div class="col-100" style="margin-top: 40px;"><strong>Database Backup</strong></div>
                                        <div class="row">
                                            <div class="data-table">
                                                <table>
                                                    <thead>
                                                    <th class="label-cell">Type</th>
                                                    <th class="numeric-cell">Total</th>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="${publishStatus.contractMetadata.saved == publishStatus.contractMetadata.total && publishStatus.contractMetadata.total > 0 ? 'complete' : ''}">
                                                        <td class="label-cell">Contract Metadata</td>
                                                        <td class="numeric-cell">${publishStatus.contractMetadata.total}</td>
                                                    </tr>
                                                    <tr class="${publishStatus.backups.items.saved == publishStatus.backups.items.total && publishStatus.backups.items.total > 0 ? 'complete' : ''}">
                                                        <td class="label-cell">Items</td>
                                                        <td class="numeric-cell">${publishStatus.backups.items.total}</td>
                                                    </tr>
                                                    <tr class="${publishStatus.backups.images.saved == publishStatus.backups.images.total && publishStatus.backups.images.total > 0 ? 'complete' : ''}">
                                                        <td class="label-cell">Image Metadata</td>
                                                        <td class="numeric-cell">${publishStatus.backups.images.total}</td>
                                                    </tr>
                                                    <tr class="${publishStatus.backups.animations.saved == publishStatus.backups.animations.total && publishStatus.backups.animations.total > 0 ? 'complete' : ''}">
                                                        <td class="label-cell">Animations Metadata</td>
                                                        <td class="numeric-cell">${publishStatus.backups.animations.total}</td>
                                                    </tr>
                                                    <tr class="${publishStatus.backups.themes.saved == publishStatus.backups.themes.total && publishStatus.backups.themes.total > 0 ? 'complete' : ''}">
                                                        <td class="label-cell">Themes</td>
                                                        <td class="numeric-cell">${publishStatus.backups.themes.total}</td>
                                                    </tr>
                                                    <tr class="${publishStatus.backups.staticPages.saved == publishStatus.backups.staticPages.total && publishStatus.backups.staticPages.total > 0 ? 'complete' : ''}">
                                                        <td class="label-cell">Static Pages</td>
                                                        <td class="numeric-cell">${publishStatus.backups.staticPages.total}</td>
                                                    </tr>
                                                    <tr class="${publishStatus.backups.channels.saved == publishStatus.backups.channels.total && publishStatus.backups.channels.total > 0 ? 'complete' : ''}">
                                                        <td class="label-cell">Channels</td>
                                                        <td class="numeric-cell">${publishStatus.backups.channels.total}</td>
                                                    </tr>
    
                                                    ${publishStatus.backups.authors.total ? $h`
    
                                                        <tr class="${publishStatus.backups.authors.saved == publishStatus.backups.authors.total && publishStatus.backups.authors.total > 0 ? 'complete' : ''}">
                                                            <td class="label-cell">Authors</td>
                                                            <td class="numeric-cell">${publishStatus.backups.authors.total}</td>
                                                        </tr>
                                                    ` : $h`<span/>`}
    
    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
    
                                        <div class="publish-status"></div>
    
                                    ` : $h`<span />`}
    
                                ` : $h`
                                    <div class="publish-label" style="display:none;"></div>
                                `}
    
                                ${publishOutput ? $h`
                                    <div class="publish-output" innerHTML="${publishOutput}" id="ipfs-publish-process" ></div>
                                ` : $h`
                                    <div class="publish-output" style="display:none;"></div>
                                `}
    
    
                                ${showCurrentCid ? $h`
    
                                    <div class="pin-status">
                                        <p><strong>IPFS Hash:</strong> ${channelViewModel.channel.localCid}</p>
                                        <p><strong>Date Exported:</strong> ${channelViewModel.channel.localPubDate}</p>
                                    </div>
    
                                ` : $h`<span />`}
    
    
                                ${ipfsReady & !publishing ? $h`
    
                                    <div class="list margin-top margin-bottom">
                                        <ul>
                                            <li>
                                                <label class="item-checkbox item-content">
                                                    <input type="checkbox" checked="true" name="exportMedia" />
                                                    
                                                    <i class="icon icon-checkbox"></i>
                                                    <div class="item-inner">
                                                        <div class="item-title">
                                                        <div class="item-header"></div>
                                                        Export Media
                                                        <div class="item-footer">
                                                            Export all images and animations to IPFS and git.
                                                        </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="item-checkbox item-content">
                                                    <input type="checkbox" checked="true" name="exportMetadata" />
                                                    
                                                    <i class="icon icon-checkbox"></i>
                                                    <div class="item-inner">
                                                        <div class="item-title">
                                                        <div class="item-header"></div>
                                                        Export JSON metadata
                                                        <div class="item-footer">
                                                            Generate and export JSON metadata for all items.
                                                        </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
    
    
    
                                    ${showRefresh ? $h`
    
                                        <div class="chip chip-outline">
                                            <div class="chip-label">Success!</div>
                                        </div>
    
                                        <button type="submit" class="button button-fill color-gray text-color-white" id="export-refresh-button">
                                            <i class="material-icons">refresh</i> Export Again
                                        </button>
    
    
                                    ` : $h`
    
                                        ${!publishing ? $h`
                                            <button type="submit" class="button button-fill button-small deploy-button" >Export</button>
                                        ` : $h`<span />`}  
    
                                    `}
                                    
                                ` : $h`
                                    <p></p>
                                `}
                            </div>
                        </div>
    
                        <div class="card">
                            <div class="card-header">
                                Troubleshooting
                            </div>
                            <div class="card-content card-content-padding">
        
        
                                <p>
                                    Large is still alpha software and connecting to external services in a browser application can be tricky. A web security feature named <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS" class="external">Cross-Origin Resource Sharing (CORS)</a> can create a few
                                    challenges to overcome depending on your setup. 
                                </p>
        
                                <p>
                                    Tip: Open the javascript console to see further details about errors.
                                </p>
        
                                <ul>
    
                                    <li style="margin-top: 20px; margin-bottom: 20px"> 
                                        <strong>Problem: IPFS fails.</strong> 
                                        <p>There could be many reasons for this to happen depending on your configuration.</p>
                                        <ul>
                                            <li>
                                                CORS problems connecting to external gateways.
                                                <ul>
                                                    <li>See <a href="https://github.com/ipfs/js-ipfs/blob/master/docs/CORS.md" class="external">IPFS documentation for this issue.</a></li>
                                                </ul>
                                            </li>
                                            <li>Connecting from a website using HTTPS to an HTTP IPFS gateway will fail.</li>
        
                                            <li>The in-browser node struggles to store large amounts of data or connect to external nodes.</li>
                                        </ul>
        
                                        <p><strong>Solution(s):</strong></p>
                                        <ul>
                                            <li>If you are using an IPFS node running on localhost you will have better luck also running Large on localhost. <a href="https://gitlab.com/american-space-software/large" class="external">See git README</a> for instructions to run a local copy.
                                            </li>
                                            <li>Use an IPFS gateway that supports HTTPS and is set up to add the correct CORS headers.</li>
                                            <li>This can be tricky. Later we will have better options. <a href="https://discord.gg/yJtjqHvqXm">Join discord</a> and ask questions.</li>
        
                                        </ul>
        
                                    </li>
                                </ul>
        
                            </div>
                        </div>
                    </form>
    
                ` : $h`
    
                    ${!hasItems ? $h`
                
                        <div class="card">
                        <div class="card-content card-content-padding">
                            <p>Add NFTs to the collection before publishing.</p>
                        </div>
                        </div>
        
                    ` : $h` `}
        
                    ${!gitConfigured ? $h`
                        
                        <div class="card">
                        <div class="card-content card-content-padding">
                            <p>Configure a <a href="/admin/settings">git provider</a> to deploy the reader.</p>
                        </div>
                        </div>
        
                    ` : $h` 
                    
                        ${!gitRepo ? $h`
                            
                            <div class="card">
                            <div class="card-content card-content-padding">
                                <p>Create/connect a <a href="/admin/publish/fork-reader/${channelViewModel.channel._id}">git repo</a> to begin export.</p>
                            </div>
                            </div>
            
                        ` : $h` `}
                    
                    `}
        
    
    
                `}

            </div>

            

        </div>

    </div>

</template>

<style>
    .deploy-button {
        margin-top: 10px;
        width: 200px;
    }

    .publish-label,
    .ipfs-label,
    .forking-label {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
    }

    .publish-output {
        border: 1px solid #cccccc;
        font-size: 13px;
        width: 100%;
        max-width: 100%;
        padding: 5px;
        height: 100px;
        overflow-y: scroll;
    }

    .publish-status {
        font-size: 14px;
        padding: 10px;
        border: 1px solid #f1f1f1;
    }

    .publish-status .item label {
        font-weight: bold;
        display: inline-block;
        width: 180px;
    }

    #export-refresh-button {
        width: 45px;
        height: 30px;
        display: inline-block;
        margin-left: 5px;
        padding-top: 2.5px;
    }

    #export-next-button {
        width: 200px;
        float: right;
    }

</style>

<script>

    import moment from "moment"

    import { ContainerService } from "../../../service/core/container-service"
    import { ChannelService } from "../../../service/channel-service"
    import { PublishService } from "../../../service/core/publish-service"

    import { PinningService } from "../../../service/core/pinning-service"
    import { GitlabService } from "../../../service/core/gitlab-service"

    import { QueueService } from "../../../service/core/queue-service"

    import { IpfsService } from "../../../service/core/ipfs-service"


    import Navbar from "../../admin/navbar.f7.html"


    export default (props, { $, $h, $on, $f7, $update }) => {

        let channelService = ContainerService.getInstance(ChannelService)
        let pinningService = ContainerService.getInstance(PinningService)
        let ipfsService = ContainerService.getInstance(IpfsService)
        let queueService = ContainerService.getInstance(QueueService)
        let gitlabService = ContainerService.getInstance(GitlabService)
        let publishService = ContainerService.getInstance(PublishService)

        let channelViewModel = props.channelViewModel
        let settings = props.settings

        let peerCount = ipfsService.peerCount

        let publishing = false
        let publishStatus 
        let publishOutput = ""

        let ipfsReady = ipfsService.ipfs != undefined

        let showCurrentCid = channelViewModel.channel.localCid?.length > 0

        let pageUnloaded = false

        let showRefresh = false

        let hasItems = channelViewModel.itemCount > 0 
        let gitConfigured = channelViewModel?.gitProvider?.personalAccessToken?.length > 0
        let gitRepo = channelViewModel?.channel?.httpUrlToRepo?.length > 0

        let showForm = hasItems && gitConfigured && gitRepo 

        let breadcrumbs = [{
            text: "Home",
            path: "/"
        },{
            text: channelViewModel.channel.title,
            path: `/admin/channel/show/${channelViewModel.channel._id}`
        }, {
            text: 'Publish',
            path: `/admin/publish/${channelViewModel.channel._id}`
        }, {
            text: 'Export'
        }]


        let gitProvider

        $on('pageInit', async () => {

            pageUnloaded = false

            //Initialize IPFS
            await ipfsService.init()
            ipfsReady = ipfsService.ipfs != undefined


            await $update()

        })

        $on('pageAfterOut', (e, page) => {
            console.log("Unloading page")
            pageUnloaded = true
        })

        const formSubmit = async (e) => {

            e.preventDefault()

            let formData = $f7.form.convertToData('#export-form')

            let exportMedia = formData.exportMedia[0] == "on"
            let exportMetadata = formData.exportMetadata[0] == "on"


            showCurrentCid = false
            publishing = true

            await $update()

            let elem = document.getElementsByClassName('publish-label')[0]

            $f7.preloader.showIn(elem)

            //Now publish
            try {
                
                await publishService.publish(channelViewModel.channel, exportMedia, exportMetadata)

                //Get updated channel
                channelViewModel.channel = await channelService.get(channelViewModel.channel._id)

            } catch(ex) {
                console.log(ex)
                $f7.dialog.alert(ex.errors, "There was an error")
            }
            

            $f7.preloader.hideIn(elem)

            publishing = false
            showCurrentCid = true
            showRefresh = true

            await $update()

        }

        $(document).on('publish-progress', async (e) => {

            if (e.detail.message) {
                publishOutput = `<p>${e.detail.message}</p>`
            }
            
            publishStatus = e.detail.publishStatus

            $update()

            let outputElement = document.getElementById('ipfs-publish-process')

            if (outputElement) {
                $(outputElement).scrollTop(outputElement.scrollHeight)
            }
            
        })


        $(document).on('update-peers', async (e) => {
            peerCount = e.detail.count
            $update()
        })

        return $render
    }
</script>