<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="publish">

        <${Navbar} breadcrumbs=${breadcrumbs}  />

        <div class="page-content hide-toolbar-on-scroll">

            <div class="fixed-width-content center">
                ${showForm ? $h`

                    <form @submit="${formSubmit}" id="export-form">
    
    
                        <div class="card card-header-divider">
                            <div class="card-header">Push to Git Repo</div>
                            <div class="card-content card-content-padding">
    
                                <p>
                                    Export collection data to the configured git repo. The git provider will deploy an updated Large Reader.
                                </p>

                                <p>
                                    <strong>Provider:</strong>  ${channelViewModel?.gitProvider.name} <br />
                                    <strong>Repository:</strong>   <a href="${channelViewModel.channel.httpUrlToRepo}" class="link external" target="_blank">${channelViewModel.channel.httpUrlToRepo}</a><br />
                                    <strong>Branch:</strong>   ${channelViewModel.channel.publishReaderRepoBranch}
                                </p>

                                <p>
                                    ${channelViewModel.channel.publishReaderIPFSStatus?.cid? $h`
                                        <button type="submit" class="button button-fill button-small deploy-button">Push to Git Repo</button>
                                    ` : $h`
                                        No files available for export. Generate IPFS bundle first.
                                    `}
                                </p>
                            </div>
                        </div>
                        
  
    
                    </form>
    
                ` : $h`
    
                    ${!hasItems ? $h`
                
                        <div class="card">
                        <div class="card-content card-content-padding">
                            <p>Add NFTs to the collection before publishing.</p>
                        </div>
                        </div>
        
                    ` : $h` `}
        
                    ${!gitConfigured ? $h`
                        
                        <div class="card">
                        <div class="card-content card-content-padding">
                            <p>Configure a <a href="/admin/settings">git provider</a> to deploy the reader.</p>
                        </div>
                        </div>
        
                    ` : $h` 
                    
                        ${!gitRepo ? $h`
                            
                            <div class="card">
                            <div class="card-content card-content-padding">
                                <p>Create/connect a <a href="/admin/publish/fork-reader/${channelViewModel.channel._id}">git repo</a> to begin export.</p>
                            </div>
                            </div>
            
                        ` : $h` `}
                    
                    `}
        
    
    
                `}

            </div>

            

        </div>

    </div>

</template>

<style>
    .deploy-button {
        margin-top: 10px;
        width: 200px;
    }

    .publish-label,
    .ipfs-label,
    .forking-label {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
    }

    .publish-output {
        border: 1px solid #cccccc;
        font-size: 13px;
        width: 100%;
        max-width: 100%;
        padding: 5px;
        height: 100px;
        overflow-y: scroll;
    }

    .publish-status {
        font-size: 14px;
        padding: 10px;
        border: 1px solid #f1f1f1;
    }

    .publish-status .item label {
        font-weight: bold;
        display: inline-block;
        width: 180px;
    }

    /* #export-refresh-button {
        width: 45px;
        height: 30px;
        display: inline-block;
        margin-left: 5px;
        padding-top: 2.5px;
    } */

    #export-next-button {
        width: 200px;
        float: right;
    }

</style>

<script>

    import dayjs from "dayjs"

    import { ContainerService } from "../../../service/core/container-service"
    import { ChannelService } from "../../../service/channel-service"
    import { PublishService } from "../../../service/core/publish-service"

    import { GitlabService } from "../../../service/core/gitlab-service"
    import { GitService } from "../../../service/core/git-service"

    import { QueueService } from "../../../service/core/queue-service"

    import { IpfsService } from "../../../service/core/ipfs-service"


    import Navbar from "../../admin/navbar.f7.html"


    export default (props, { $, $h, $on, $f7, $update }) => {

        let channelService = ContainerService.getInstance(ChannelService)
        let ipfsService = ContainerService.getInstance(IpfsService)
        let queueService = ContainerService.getInstance(QueueService)
        let gitlabService = ContainerService.getInstance(GitlabService)
        let gitService = ContainerService.getInstance(GitService)
        let channelViewModel = props.channelViewModel
        let settings = props.settings

        let publishing = false
        // let checkingStatus = false
        let publishStatus 
        let publishOutput = ""
        let ipfsCar
        let contractCar



        let pageUnloaded = false

        let showRefresh = channelViewModel?.channel.publishReaderIPFSStatus?.status == "pending"

        let hasItems = channelViewModel.itemCount > 0 
        let gitConfigured = channelViewModel?.gitProvider?.personalAccessToken?.length > 0
        let gitRepo = channelViewModel?.channel?.httpUrlToRepo?.length > 0

        let showForm = hasItems && gitConfigured && gitRepo 

        let breadcrumbs = [{
            text: "Home",
            path: "/"
        },{
            text: channelViewModel.channel.title,
            path: `/admin/channel/show/${channelViewModel.channel._id}`
        }, {
            text: 'Publish',
            path: `/admin/publish/${channelViewModel.channel._id}`
        }, {
            text: 'Push to Git Repo'
        }]


        let gitProvider

        $on('pageInit', async () => {

            pageUnloaded = false

            await $update()

        })

        $on('pageAfterOut', (e, page) => {
            console.log("Unloading page")
            pageUnloaded = true
        })

        const formSubmit = async (e) => {

            e.preventDefault()

            let formData = $f7.form.convertToData('#export-form')

            publishing = true

            await $update()

            let elem = document.getElementsByClassName('publish-label')[0]

            $f7.preloader.showIn(elem)

            //Now publish
            try {
                
                let headSha = await gitService.deployReader(channelViewModel.channel)

                $f7.dialog.alert("Files exported to git provider.", "Success")

            } catch(ex) {
                console.log(ex)
                $f7.dialog.alert(ex.message, "There was an error")
            }
            

            $f7.preloader.hideIn(elem)

            publishing = false
            showRefresh = true

            await $update()

        }

        $(document).on('publish-progress', async (e) => {

            if (e.detail.message) {
                publishOutput = `<p>${e.detail.message}</p>`
            }
            
            publishStatus = e.detail.publishStatus

            $update()

            let outputElement = document.getElementById('ipfs-publish-process')

            if (outputElement) {
                $(outputElement).scrollTop(outputElement.scrollHeight)
            }
            
        })
        
        return $render
    }
</script>