<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="publish">
  
      <${Navbar} breadcrumbs=${breadcrumbs}  />
  
      <div class="page-content hide-toolbar-on-scroll">

        <div class="fixed-width-content center">

          ${channelViewModel.itemCount > 0 ? $h`
          
            <div class="block-title block-title-medium">Configure Git</div>
            <div class="block list media-list">
              <ul>
                <li>
                  <a href="/admin/publish/fork-reader/${channelViewModel.channel._id}" class="item-link">
                    <div class="item-content">
                      <div class="item-media">
                        <span class="material-icons">fork_left</span>
                      </div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Create/Connect Git Repository</div>
                        </div>
                        <div class="item-subtitle">Create a remote git repository for the collection.</div>
  
                        <div class="item-text">
                          
                            ${channelViewModel?.gitProvider ? $h`
                              <strong>Provider:</strong>  ${channelViewModel?.gitProvider.name} <br />
                            ` : $h` `}
  
                            ${channelViewModel.channel.httpUrlToRepo ? $h`
                              <strong>Repository:</strong>  ${channelViewModel.channel.httpUrlToRepo}
                            ` : $h` `}
  
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
  
            <div class="block-title block-title-medium">Export</div>
  
            <div class="block list media-list">
              <ul>
                <li>
                  <a href="/admin/publish/export/${channelViewModel.channel._id}" class="item-link">
                    <div class="item-content">
                      <div class="item-media">
                        <span class="material-icons">import_export</span>
                      </div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Export to IPFS and Git</div>
                        </div>
                        <div class="item-text">
                          Export collection data to IPFS and the configured git repo.
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
  
                <!-- <li>
                  <a href="/admin/publish/pinata/${channelViewModel.channel._id}" class="item-link">
                    <div class="item-content">
                      <div class="item-media">
                        <span class="material-icons">cloud_upload</span>
                      </div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Publish to Pinning Service</div>
                        </div>
                        <div class="item-text">
                          When you are ready to publish your collection and deploy your NFT contract, upload the NFT metadata to commercial hosting 
                          to help make it widely available. This will help make it discoverable by marketplaces like OpenSea and LooksRare.
                        </div>
                      </div>
                    </div>
                  </a>
                </li> -->
  
              </ul>
            </div>
  
  
            <div class="block-title block-title-medium">Contract (optional)</div>
  
            ${walletService?.address ? $h`
              
              <div class="block list media-list">
                <ul>
                  <li>
                    <a href="/admin/publish/contract/${channelViewModel.channel._id}" class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <span class="material-icons">gavel</span>
                        </div>
  
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">Deploy Contract</div>
                          </div>
                          <div class="item-text">
                            Deploy contract to connected network. Will publish the last IPFS hash from the first step. You can publish the 
                            latest database without deploying the contract. 
                          </div>
                        </div>
  
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
  
            ` : $h`
              <div class="block-header">
                Note: Use a web browser with wallet support to deploy an ERC-721 smart contract.
              </div>
            `}

  
  
          ` : $h`
            <div class="card">
              <div class="card-content card-content-padding">
                <p>Add NFTs to the collection before publishing.</p>
              </div>
            </div>
            
          `}


        </div>


        


      </div>
  
    </div>
  
  </template>
  

  
  <script>
  
    import moment from "moment"
  
    import { ContainerService } from "../../../service/core/container-service"
   


    import Navbar from "../../admin/navbar.f7.html"
    
  
    export default (props, { $, $h, $on, $f7, $update }) => {
  
        let walletService

        let channelViewModel = props.channelViewModel


        let breadcrumbs = [{
            text: "Home",
            path: "/"
        },{
          text: channelViewModel.channel.title,
          path: `/admin/channel/show/${channelViewModel.channel._id}`
        }, {
          text: 'Publish'
        }]
  
        $on('pageInit', async (e, page) => {

          walletService = ContainerService.getWalletService()
          await $update()

        })

        return $render
    }
  </script>