<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="publish">
  
      <${Navbar} />
  
      <div class="page-content">
        <div class="row">
  
          <div class="col-100 large-50 center">

            <div class="block block-strong inset col-100 no-margin-bottom">
              <div class="breadcrumbs ">
                <div class="breadcrumbs-item">
                  <a href="/" class="link">
                    Home
                  </a>
                </div>    
                <div class="breadcrumbs-separator"></div>
                <div class="breadcrumbs-item">
                  <a href="/admin/channel/show/${channelViewModel.channel._id}" class="link">
                    ${channelViewModel.channel.title}
                  </a>
                </div>     
                <div class="breadcrumbs-separator"></div>
                <div class="breadcrumbs-item breadcrumbs-item-active">
                  Publish
                </div> 
              </div>
            </div>





            ${channelViewModel.itemCount > 0 ? $h`
              
              <div class="block-title block-title-medium">Git</div>
              <div class="block list media-list">
                <ul>
                  <li>
                    <a href="/admin/publish/fork-reader/${channelViewModel.channel._id}" class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <span class="material-icons">fork_left</span>
                        </div>
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">Create Git Repository</div>
                          </div>
                          <div class="item-text">
                            Create a remote git repository for the collection.
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="block-title block-title-medium">IPFS</div>

              <div class="block list media-list">
                <ul>
                  <li>
                    <a href="/admin/publish/export/${channelViewModel.channel._id}" class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <span class="material-icons">import_export</span>
                        </div>
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">Export</div>
                          </div>
                          <div class="item-text">
                            Export collection data to IPFS and the local git repo.
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                  <!-- <li>
                    <a href="/admin/publish/pinata/${channelViewModel.channel._id}" class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <span class="material-icons">cloud_upload</span>
                        </div>
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">Publish to Pinning Service</div>
                          </div>
                          <div class="item-text">
                            When you are ready to publish your collection and deploy your NFT contract, upload the NFT metadata to commercial hosting 
                            to help make it widely available. This will help make it discoverable by marketplaces like OpenSea and LooksRare.
                          </div>
                        </div>
                      </div>
                    </a>
                  </li> -->

                </ul>
              </div>


              <div class="block-title block-title-medium">Contract (optional)</div>

              ${walletService?.address ? $h`
                
                <div class="block list media-list">
                  <ul>
                    <li>
                      <a href="/admin/publish/contract/${channelViewModel.channel._id}" class="item-link">
                        <div class="item-content">
                          <div class="item-media">
                            <span class="material-icons">gavel</span>
                          </div>
  
                          <div class="item-inner">
                            <div class="item-title-row">
                              <div class="item-title">Deploy Contract</div>
                            </div>
                            <div class="item-text">
                              Deploy contract to connected network. Will publish the last IPFS hash from the first step. You can publish the 
                              latest database without deploying the contract. 
                            </div>
                          </div>
  
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>

              ` : $h`
                <div class="block-header">
                  Note: Use a web browser with wallet support to deploy an ERC-721 smart contract.
                </div>
              `}

              



              <div class="block-title block-title-medium">Large Reader</div>
              <div class="block list media-list">
                <ul>

                  <li>
                    <a href="/admin/publish/publish-reader/${channelViewModel.channel._id}" class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <span class="material-icons">upload</span>
                        </div>
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">Push exported collection to Git</div>
                          </div>
                          <div class="item-text">
                            Push data from local git repository to remote provider. This will also kickstart a GitLab CI build to generate
                            the Large Reader website for the collection.
                          </div>
                        </div>

                      </div>
                    </a>
                  </li>

                </ul>
              </div>







            ` : $h`
              <div class="card">
                <div class="card-content card-content-padding">
                  <p>Add NFTs to the collection before publishing.</p>
                </div>
              </div>
              
            `}

          </div>
  
        </div>
      </div>
  
    </div>
  
  </template>
  

  
  <script>
  
    import moment from "moment"
  
    import { ContainerService } from "../../../service/core/container-service"
   


    import Navbar from "../../admin/navbar.f7.html"
    
  
    export default (props, { $, $h, $on, $f7, $update }) => {
  
        let walletService

        let channelViewModel = props.channelViewModel
  
        $on('pageInit', async (e, page) => {

          walletService = ContainerService.getWalletService()
          await $update()

        })

        return $render
    }
  </script>