<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="publish">
  
      <${Navbar} />
  
      <div class="page-content">
        <div class="row">
  
          <div class="col-100 large-50 center">


            <div class="block block-strong inset col-100 no-margin-bottom">
              <div class="breadcrumbs ">
                <div class="breadcrumbs-item">
                  <a href="/" class="link">
                    Home
                  </a>
                </div>    
                <div class="breadcrumbs-separator"></div>
                <div class="breadcrumbs-item">
                  <a href="/admin/channel/show/${channelViewModel.channel._id}" class="link">
                    ${channelViewModel.channel.title}
                  </a>
                </div>     
                <div class="breadcrumbs-separator"></div>
                <div class="breadcrumbs-item">
                  <a class="link" href="/admin/publish/${channelViewModel.channel._id}">Publish</a>
                </div> 
                <div class="breadcrumbs-separator"></div>
                <div class="breadcrumbs-item breadcrumbs-item-active">
                  Publish Collection To Reader
                </div> 
              </div>
            </div>

            ${channelViewModel.itemCount > 0 ? $h`
              
              <div class="block-title">Publish Reader</div>
              <div class="card">

                <div class="card-content card-content-padding">

                  ${gitProvider?.personalAccessToken?.length > 0 ? $h`

                    ${showPublishReader ? $h`
                      
                      <form @submit="${publishReaderSubmit}">

                        ${!ipfsReady ? $h`
                          <div class="ipfs-label">IPFS Initializing...</div>
                        ` : $h`
                            <div class="ipfs-label">
                                Status: <a href="/admin/connect">IPFS Ready</a>
                            </div>
                        `}


                        ${channelViewModel.channel.publishReaderRepoId > 0 ? $h`
                          <div class="repo-status">
                            <p><strong>Remote Repository:</strong> ${repoURI}</p> <a href="#" class="link" @click="${clearGitClick}">Clear local cache</a>
                            <!-- <p><strong>Gitlab Repo ID:</strong> ${channelViewModel.channel.publishReaderRepoId}</p>
                            <p><strong>Gitlab Repo Path:</strong> ${channelViewModel.channel.publishReaderRepoPath}</p>  
                            <p><strong>Fork Status:</strong> ${channelViewModel.channel.publishReaderRepoStatus}</p>                                                                                                                                                               -->
                          </div>

                          ${showPublishReaderStatus && ipfsReady ? $h`

                            ${channelViewModel.channel.contractAddress ? $h`
                              <p>Reader will be configured to connect to: ${channelViewModel.channel.contractAddress}</p>  
                            ` : $h`
                              <p>Note: Contract is not deployed. The reader will not attempt to connect to Ethereum.</p>  
                            `}

                            ${publishReaderOutput ? $h`
                              <div class="publish-output" innerHTML="${publishReaderOutput}"></div>
                            ` : $h`
                              <div class="publish-output" style="display:none;"></div>
                            `}


                            
                            
                            <div class="row block margin-top">

                              <div class="col-0 large-30"></div>
                
                              <a href="/admin/publish/${channelViewModel.channel._id}" class="button button-outline color-gray col-50 large-30">
                                Back to menu 
                              </a>


                              ${!publishing ? $h`
                                <button class="button button-fill col-50 large-30" type="submit">Publish Reader</button>
                              ` : $h`

                                <a href="#" class="button button-outline color-blue col-50 large-30">
                                  Publishing...
                                </a>
                              `}
        
                
                            </div>





                          ` : $h`
                            <p style="display:none;"></p>
                          `}

                        ` : $h``}



                      </form>                    
                    ` : $h`
                      <p>Collection must be deployed to IPFS and you must fork the Large Reader before publishing.</p>  
                    `}
                    
                  ` : $h`
                    <p>Configure a <a href="/admin/settings">git provider</a> to deploy the collection reader.</p>
                  `}


                </div>

              </div>

            ` : $h`
              <div class="card">
                <div class="card-content card-content-padding">
                  <p>Add NFTs to the collection before publishing.</p>
                </div>
              </div>
              
            `}

          </div>
  
        </div>
      </div>
  
    </div>
  
  </template>
  
  <style>

    .publish-label, .ipfs-label, .forking-label {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 18px;
    }

    .publish-output {
      border: 1px solid #cccccc;
      font-size: 13px;
      width: 100%;
      max-width: 100%;
      padding: 5px;
      height: 300px;
      overflow-y : scroll;
    }
  </style>
  
  <script>
  
    import moment from "moment"
  
    import { ContainerService } from "../../../service/core/container-service"
    import { ChannelService } from "../../../service/channel-service"
    import { PublishService } from "../../../service/core/publish-service"

    import { GitlabService } from "../../../service/core/gitlab-service"
    import { GitService } from "../../../service/core/git-service"

    import { QueueService } from   "../../../service/core/queue-service"

    import { IpfsService } from "../../../service/core/ipfs-service"


    import Navbar from "../../admin/navbar.f7.html"
    import toBuffer from "it-to-buffer"

  
    export default (props, { $, $h, $on, $f7, $update }) => {
  
        let channelService = ContainerService.getInstance(ChannelService)
        let ipfsService = ContainerService.getInstance(IpfsService)
        let queueService = ContainerService.getInstance(QueueService)
        let gitlabService = ContainerService.getInstance(GitlabService)
        let gitService = ContainerService.getInstance(GitService)

        let publishService = ContainerService.getInstance(PublishService)

        let ipfsReady = ipfsService.ipfs != undefined
        let peerCount = ipfsService.peerCount

        let channelViewModel = props.channelViewModel
        let settings = props.settings

        let publishing = false
        let publishReaderOutput = ""

        let showPublishReaderStatus = channelViewModel.channel.publishReaderRepoId > 0 && channelViewModel.channel.publishReaderRepoStatus == "complete"
        let showPublishReader = channelViewModel.channel.localCid != undefined

        // console.log(channelViewModel)

        let repoURI = channelViewModel.channel.httpUrlToRepo
        let gitProvider 

        $on('pageInit', async () => {

          //Initialize IPFS
          await ipfsService.init()
          ipfsReady = ipfsService.ipfs != undefined

          gitProvider = await channelService.getGitProviderCredentials(channelViewModel.channel, settings)


          await $update()

        })


        const publishReaderSubmit = async (e) => {

          e.preventDefault()

          publishing = true
          await $update()

          let elem = document.getElementsByClassName('ipfs-label')[0]

          $f7.preloader.showIn(elem)

          try {

            let ipfsDir = `/export/${channelViewModel.channel._id}`

            let contractMetadata = await toBuffer(ipfsService.ipfs.files.read(`${ipfsDir}/contractMetadata.json`))

            await gitService.deployReaderGit(channelViewModel.channel, contractMetadata )

          } catch(ex) {
            console.log(ex)
            $f7.dialog.alert(ex, "There was an error")
          }

          // console.log('hide')
          $f7.preloader.hideIn(elem)

          publishing = false
          await $update()
          
        }


        const clearGitClick = async (e) => {

          e.preventDefault()

          let elem = document.getElementsByClassName('ipfs-label')[0]

          $f7.preloader.showIn(elem)

          try {
            await gitService.clearGitRepos()
          } catch(ex) {
            $f7.dialog.alert(ex, "There was an error")
          }

          // console.log('hide')
          $f7.preloader.hideIn(elem)

          await $update()


        }


        $(document).on('publish-reader-progress', async (e) => {
          publishReaderOutput = `<p>${e.detail.message}</p>`
          $update()
        })

        $(document).on('update-peers', async (e) => {
          peerCount = e.detail.count
          $update()
        })


        return $render
    }
  </script>