<% 
  let baseURL = it.baseURL
%>

<div class="block block-strong inset">

    <span class="footer-link">
      <strong>Large NFT</strong> code licensed under <a href="https://github.com/LargeNFT/large-nft/blob/master/LICENSE.md" class="external">MIT</a>
    </span>

    <span class="footer-link">
      <a href="https://github.com/LargeNFT/large-nft" class="external">GitHub</a>
    </span>

    <span class="footer-link">
      <a href="https://twitter.com/large_nft" class="external">Twitter</a>
    </span>

</div>
