<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="connect">

        <${Navbar} breadcrumbs=${breadcrumbs}  />


        <div class="page-content hide-toolbar-on-scroll">

            <div class="row">
                <div class="col-100 tablet-50 center">

                    <div class="block-title">IPFS Addresses
                    </div>
                    <div class="block list media-list peer-list">
                        <ul>
                            ${addresses?.map( (address) => $h`
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-subtitle no-wrap">
                                            ${address}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            `)}
                        </ul>
                    </div>

                    <div class="block-title">IPFS Peers <span class="badge peers-badge color-blue">${peerCount}</span>
                    </div>
                    <div class="block list media-list peer-list">
                        <ul>
                            ${peers?.map( (peer) => $h`
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-subtitle no-wrap">
                                            ${peer}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            `)}
                        </ul>
                    </div>


                    <div class="block-title">Add IPFS Peer</div>
                    <div class="block list">
                        <ul>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label">Peer Address</div>
                                        <div class="item-input-wrap">
                                            <input id="peerAddressInput" type="text" name="peerAddress" placeholder="Enter peer address" required validate />
                                        </div>
                                        <div class="item-after">
                                            <button class="button button-fill text-color-black" value="Add Peer" @click=${addPeerClick}>Add Peer</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>

</template>





<script>

    import { ContainerService } from "../../../service/core/container-service"
    import { UiService } from "../../../service/core/ui-service"


    import { IpfsService } from "../../../service/core/ipfs-service"

    import Navbar from "../../admin/navbar.f7.html"


    export default (props, { $, $on, $f7, $update }) => {

        let uiService = ContainerService.getInstance(UiService)
        let ipfsService = ContainerService.getInstance(IpfsService)

        let peers = props.peers
        let peerCount = props.peerCount
        let addresses = props.addresses 

        let subscribed

        let breadcrumbs = [{
            text: "Home",
            path: "/"
        },{
          text: 'IPFS'
        }]

        const addPeerClick = async(e) => {

            console.log('Add peer submit')
        
            //@ts-ignore
            document.getElementById('peerAddressInput').setCustomValidity("")


            let peerValue = document.getElementById('peerAddressInput').value

            if (peerValue) {
                try {
                    await ipfsService.ipfs.swarm.connect(peerValue)

                    uiService.showPopup(`Successfully connected to peer ${peerValue}`)
                    
                    console.log('Connected to peer')
                } catch(ex) {
                    uiService.showExceptionPopup(ex)
                }
            }


        }


        $(document).on('update-peers', async (e) => {
          peers = e.detail.peers
          peerCount = e.detail.count
          addresses = e.detail.addresses
          $update()
        })


        return $render
    }

</script>