<template>

    <div class="page" data-name="admin-settings">

        <${Navbar} />


        <div class="page-content">

            <div class="block-title">Pinata Settings</div>



            <form class="block list" id="edit-settings-form" @submit="${formSubmit}">

                <input type="hidden" name="_id" value="${pinningApi._id}" />
                <input type="hidden" name="_rev" value="${pinningApi._rev}" />
                <input type="hidden" name="url" value="${pinningApi.url}" />
                <input type="hidden" name="dateCreated" value="${pinningApi.dateCreated}" />

                <p>
                    Commercial IPFS hosting is available through <a href="https://www.pinata.cloud/">Pinata</a>. Create a free
                    account and set up your API key and Secret API Key below. 
                </p>

                <ul>
                    <li>
                        <div class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">API Key</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="apiKey" placeholder="API Key"
                                        value="${pinningApi.apiKey}" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">Secret API Key</div>
                                <div class="item-input-wrap">
                                    <input type="password" name="secretApiKey" placeholder="Secret API Key"
                                        value="${pinningApi.secretApiKey}" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="row block">

                    <div class="col-70"></div>

                    <button type="submit" class="button button-fill col-30" tabindex="12" id="saveButton">
                        <i class="material-icons">save</i> Save
                    </button>

                </div>


            </form>



        </div>



    </div>

</template>




<script>
    import { ContainerService } from "../../../service/core/container-service"
    import { PinningService } from "../../../service/core/pinning-service"
    import { PinningApi } from "../../../dto/pinning-api"

    import Navbar from "../../admin/navbar.f7.html"

    export default (props, { $, $on, $f7, $update }) => {

        let pinningService = ContainerService.getInstance(PinningService)

        let pinningApi = props.pinningApi

        const formSubmit = async (e) => {

            e.preventDefault()

            //Get data
            let pinningApi = Object.assign(new PinningApi(), $f7.form.convertToData('#edit-settings-form'))

            //Save
            try {

                //Validate credentials
                await pinningService.validateAccount(pinningApi)

                await pinningService.put(pinningApi)

                const toast = $f7.toast.show({
                    text: 'Pinata Settings Saved',
                    closeTimeout: 2000,
                    closeButton: true,
                    position: 'bottom',
                    horizontalPosition: 'right'
                })

                //Redirect
                $f7.views.main.router.navigate(`/`)

            } catch (ex) {
                console.log(ex)
                $f7.dialog.alert(ex, "Test connection failed")
            }

        }



        return $render
    }

</script>