<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="admin-create-post">
  
      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="left">
            <a href="/admin/post" class="link"><i class="icon icon-back"></i> <span>Back</span></a>
          </div>
          <div class="title">Create Blog Post</div>
          <div class="right">
          </div>
        </div>
      </div>
  
      <div class="page-content">
        <form class="block list no-hairlines" id="create-post-form">
          <ul>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Title</div>
                  <div class="item-input-wrap">
                    <input type="text" name="title" placeholder="Post title" />
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Subtitle</div>
                  <div class="item-input-wrap">
                    <input type="text" name="subtitle" placeholder="Enter a subtitle (optional)" />
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner post-area">
                  <div class="item-title item-label">Content</div>
  
                  <div class="text-editor-toolbar">
                    <button class="text-editor-button bold-button"><i class="material-icons">format_bold</i></button>
                    <button class="text-editor-button italic-button"><i class="material-icons">format_italic</i></button>
                    <button class="text-editor-button link-button"><i class="material-icons">link</i></button>
                    <button class="text-editor-button blockquote-button"><i class="material-icons">format_quote</i></button>
                    <button class="text-editor-button header-1-button"><i class="icon">H<sub>1</sub></i></button>
                    <button class="text-editor-button header-2-button"><i class="icon">H<sub>2</sub></i></button>
                    <button class="text-editor-button image-button"><i class="material-icons">image</i></button>
                    <label><input type="file" class="image-button-input" id="create-image-button-input" /></label>
                  </div>
  
                  <div class="editor bg-color-white text-color-black" id="create-post-textarea"></div>
  
  
                </div>
              </div>
            </li>
            <li class="cover-photo-preview">
  
              <input type="hidden" name="coverPhotoCid" />
  
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Cover Photo</div>
                  <div class="item-input-wrap cover-photo-img-wrapper">
                  </div>
                </div>
              </div>
            </li>
  
          </ul>
  
        </form>
  
        <div class="block block-strong inset row">
          <div class="col-66"></div>
          <div class="col-33">
            <button class="button button-fill text-color-black" @click="${savePostClick}">Create</button>
          </div>
        </div>
  
      </div>
    </div>
  
  </template>
  
  
  
  
  <script>
  
    import { ContainerService } from "../../../service/container-service"
    import { QuillService } from "../../../service/quill-service"
    import { BlogPostService } from "large-core"

    export default (props, { $, $on, $f7, $update }) => {
      const savePostClick = async (e) => {
      }

      $on('pageInit', async (e, page) => {
        let quillService = ContainerService.getInstance(QuillService)
        quillService.buildQuillPostEditor('#create-post-textarea')
      })

      return $render
    }

  </script>
  