<template>

    <div class="page" data-name="admin-edit-post">
  
      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="left">
            <a href="#" class="link back"><i class="icon icon-back"></i></a>
          </div>
          <div class="title">Edit Post</div>
          <div class="right">
            <${HeaderRight} />
          </div>
        </div>
      </div>
  
      <div class="fab fab-extended fab-right-bottom">
        <a @click="${savePostClick}" class="text-color-black">
          <i class="material-icons">save</i>
          <div class="fab-text">Save Changes & Publish</div>
        </a>
      </div>
      

      <div class="page-content">
        <form class="block list no-hairlines" id="edit-post-form">
          <input type="hidden" name="_id" />
          <input type="hidden" name="_rev" />

          <ul>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Title</div>
                  <div class="item-input-wrap">
                    <input type="text" name="title" placeholder="Post title" />
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Subtitle</div>
                  <div class="item-input-wrap">
                    <input type="text" name="subtitle" placeholder="Enter a subtitle (optional)" />
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner post-area">
                  <div class="item-title item-label">Content</div>
  
                  <${QuillToolbar} id="edit-post-textarea-toolbar" />
                    
                  <div class="editor bg-color-white text-color-black" id="edit-post-textarea"></div>
  
                </div>
              </div>
            </li>
            <li class="cover-photo-preview">
  
              <input type="hidden" name="coverPhotoCid" />
  
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Cover Photo</div>
                  <div class="item-input-wrap cover-photo-img-wrapper">
                  </div>
                </div>
              </div>
            </li>
          </ul>
  
        </form>
  
      </div>
  
  
  
    </div>
  
  </template>
  
  <style>
    #edit-post-textarea {
      min-height: 600px;
      height: 100%;
      /* added these styles */
      flex: 1;
      display: flex; 
      flex-direction: column;
    }

  </style>
  
  <script>
  
    import { ContainerService } from "../../../service/container-service"
    import { QuillService } from "../../../service/quill-service"

    import { WalletService } from "../../../service/core/wallet-service"
    import { BlogPostService } from "../../../service/core/blog-post-service"
    import { PostService } from "../../../service/core/post-service"


    
    import HeaderRight from "../../admin/header-right.f7.html"
    import QuillToolbar from "../../admin/quill-toolbar.f7.html"


    export default (props, { $, $on, $f7, $update }) => {
      
      let blogPostService = ContainerService.getInstance(BlogPostService)
      let postService = ContainerService.getInstance(PostService)
      let walletService = ContainerService.getInstance(WalletService)

      let quillService = ContainerService.getInstance(QuillService)

      const savePostClick = async (e) => {

        //Get data
        let postData = await getPostData('#edit-post-form')

        //Save
        let post = await blogPostService.put(postData)

        // toast = $f7.toast.create({
        //   text: `Published post '${post.title}'`,
        //   closeButton: "Ok"
        // })

        // toast.open()

        //Redirect
        $f7.views.main.router.navigate(`/admin/post/show/${post._id}`)
      }

      $on('pageInit', async (e, page) => {

        //Get existing post
        let post = await blogPostService.get(props.id)

        //Fill out form
        $f7.form.fillFromData('#edit-post-form', post)

        //Initialize quill and fill contents
        quillService.buildQuillPostEditor('#edit-post-textarea', '#edit-post-textarea-toolbar')
        quillService.activeEditor.setContents(post.content)
        await quillService.loadCoverPhotos()

      })

      async function getPostData(formId) {

        let postData = $f7.form.convertToData(formId)
        
        //Get data
        let builtPost = await postService.buildPost(
            await walletService.getAddress(), 
            quillService.activeEditor.getContents()
        )

        Object.assign(postData, builtPost)

        return postData
      }

      
      return $render
    }

  </script>
  