<template>

    <div class="page" data-name="admin-show-post">
  
      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="left">
            <a href="/" class="link"><i class="icon icon-back"></i></a>
          </div>
          <div class="title">View Post</div>
          <div class="right">
            <${HeaderRight} />
          </div>
        </div>
      </div>
  
      <div class="toolbar tabbar toolbar-top">
        <div class="toolbar-inner">
          <a class="tab-link tab-link-active">View</a>
          <a class="tab-link" href="/admin/post/edit/${post?._id}"> Edit</a>
          <a class="tab-link" @click="${deletePostClick}">Delete</a>
        </div>
      </div>
  
  
      ${post ? $h`
        <div class="page-content">
  
            <div class="row">
      
              <div class="card post col-100 large-66 margin-top center no-hairlines">
      
                <div class="card-content card-content-padding">
      
                  <h1>${post.title}</h1>
      
                  ${post.subtitle ? $h`
                    <h2>${post.subtitle}</h2>
                  `:``}
                
                  <div class="author">
      
                    <div class="pic">

                      ${post.profilePicSrc ? $h`
                        <img class="profile-pic-thumb" src="${post.profilePicSrc}">
                      ` : $h`
                        <i class="f7-icons profile-pic-thumb">person</i>
                      `}

                    </div>
      
                    <div class="info">
                      <div class="owner">${post.ownerDisplayName}</div>
                      <div class="date">${post.dateCreatedDisplay}</div>
                    </div>
      
                  </div>
      
                  <div class="content">
                  </div>
                </div>
      
              </div>
            </div>
      
          </div>
        `:``}

    </div>
  
  </template>
  
  
  <style>
      .content img {
          max-width: 100%;
      }
  </style>
  
  <script>
  
    import { ContainerService } from "../../../service/core/container-service"
    import { UiService } from "../../../service/core/ui-service"

    import { BlogPostService } from "../../../service/core/blog-post-service"

    import HeaderRight from "../../admin/header-right.f7.html"


    export default (props, { $, $on, $f7, $update }) => {
      
      let blogPostService = ContainerService.getInstance(BlogPostService)
      let uiService = ContainerService.getInstance(UiService)

      let post = {}

      $on('pageInit', (e, page) => {

        blogPostService.get(props.id).then( (blogPost) => {

            post = blogPost

            $('.content').html(post.contentTranslated)

            $update()
        })

      })

      const deletePostClick = async (e) => {

        try {

            $f7.dialog.confirm(
                "Do you want to delete this post? Note: The history is still in the database but the post will not show up in the post list after peers receive your updates.",
                async function() {

                    await blogPostService.delete(post._id)

                    //Redirect
                    $f7.views.main.router.navigate(`/admin/post`)
                }
            )

            } catch(ex) {
                uiService.showExceptionPopup(ex)
            }

      }

      
      return $render
    }

  </script>
  