<!--suppress JSAnnotator -->
<template>
    <div class="page" data-name="profile-show">

        <${Navbar} breadcrumbs=${breadcrumbs} active="profile" />

        <div class="page-content hide-toolbar-on-scroll">

            ${authorViewModel.author._id ? $h`

                <div class="block row">
                    <div class="col-20">

                        ${authorViewModel.authorPhoto ? $h`
                            <img src="${authorViewModel.authorPhoto.url}" class="profile-pic-main" />
                        ` : $h`
                            <i class="material-icons" id="profile-pic-not-found">person</i>
                        `}

                    </div>

                    <div class="col-80">

                        <div class="profile-name">
                            ${authorViewModel.authorDisplayName}
                        </div>

                        <div class="profile-address">
                            ${authorViewModel.author._id}
                        </div>

                        <p>${authorViewModel.author.description}</p>

                        <div class="row">
                            <a href="/admin/author/edit/${authorViewModel.author.walletAddress}"
                                class="button button-outline button-small button-round col-20">Edit</a>
                        </div>

                    </div>
                </div>

                ` : $h`
                    <div class="block">
                        Create your Large <a href="/admin/author/edit/${authorViewModel.author.walletAddress}">author profile</a>. 
                    </div>
                `}


        </div>

    </div>
</template>

<style>
    
  .profile-pic-edit, #profile-pic--edit-not-found {
    max-width: 300px;
    border-radius: 50%;
    font-size: 100px;
    float: left;
  }
  
  
  .profile-pic-main, #profile-pic-not-found {
    max-width: 100%;
    border-radius: 50%;
    font-size: 100px;
    float: left;
  }
  
  .profile-name {
    color: var(--f7-block-title-medium-text-color);
    font-weight: bold;
  }
  
  .profile-address {
    color: var(--f7-list-item-text-text-color);
    font-size: 13px;
  }
  
  
  .profile-pic-wrapper {
    width: 115px;
    float: left;
    padding-right: 20px;
  }

</style>


<script>

    import { ContainerService } from "../../../service/core/container-service"
    import { AuthorService } from "../../../service/author-service"

    import { Author } from "../../../dto/author"

    import Navbar from "../../admin/navbar.f7.html"


    export default (props, { $, $on, $f7, $update }) => {

        let authorViewModel = props.authorViewModel

        let breadcrumbs = [{
            text: "Home",
            path: "/"
        }, {
            text: 'Author Profile'
        }]


        return $render
    }

</script>