<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="admin-create-menu">

    <${Navbar} />

    <div class="page-content">

      <div class="row">
        <div class="col-100 large-66 center">


          <div class="block block-strong inset col-100 no-margin-bottom">
            <div class="breadcrumbs ">
              <div class="breadcrumbs-item">
                <a href="/" class="link">
                  Home
                </a>
              </div>    
              <div class="breadcrumbs-separator"></div>
              <div class="breadcrumbs-item breadcrumbs-item-active">
                Create & Import
              </div> 
            </div>
          </div>


          

          <div class="block-title block-title-medium">Create</div>
          <div class="list media-list inset">
            <ul>
              <li>
                <a href="/admin/channel/create" class="item-link">
                  <div class="item-content">
                    <div class="item-media">
                      <i class="material-icons">create</i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Create New Collection</div>
                      </div>
                  </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>


          <div class="block-title block-title-medium">Fork</div>
          <div class="list media-list inset">
            <ul>
              <li>
                <a href="/admin/channel/fork" class="item-link">
                  <div class="item-content">
                    <div class="item-media">
                      <i class="material-icons">fork_left</i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Fork Collection From IPFS Hash</div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>


                ${walletService?.address ? $h`
                  <li>
                    <a href="/admin/channel/fork-contract" class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <i class="material-icons">fork_left</i>
                        </div>
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">Fork Collection From Contract</div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                ` : $h`
                  <li>
                    <a class="item-link">
                      <div class="item-content">
                        <div class="item-media">
                          <i class="material-icons">fork_left</i>
                        </div>
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">Fork Collection From Contract </div>
                          </div>
                          <div class="item-text">Requires browser with wallet support.</div>

                        </div>
                      </div>
                    </a>
                  </li>
                `}

                <li>
                  <a href="/admin/channel/fork-reader" class="item-link">
                    <div class="item-content">
                      <div class="item-media">
                        <i class="material-icons">fork_left</i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Fork Collection From Reader</div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>


              

            </ul>
          </div>


        </div>
      </div>



    </div>
  </div>

</template>

<style>


</style>


<script>

  import { ContainerService } from "../../../service/core/container-service"

  import Navbar from "../../admin/navbar.f7.html"


  export default (props, { $, $on, $f7, $update }) => {

    let walletService


    $on('pageInit', async () => {

      walletService = ContainerService.getWalletService()
      await $update()

    })

    return $render
  }

</script>