<!--suppress JSAnnotator -->
<template>

    <div>
        <input type="hidden" name="_id"  value="${channelViewModel?.channel?._id}" />
        <input type="hidden" name="_rev" value="${channelViewModel?.channel?._rev}" />
        <input type="hidden" name="dateCreated" value="${channelViewModel?.channel?.dateCreated}" />
        <input type="hidden" name="authorId" value="${channelViewModel?.channel?.authorId}" />
        <input type="hidden" name="contractAddress" value="${channelViewModel?.channel?.contractAddress}" />


        <div class="card">
            <div class="card-content">
                <div class="list">
                    <ul>

                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Title</div>
                                    <div class="item-input-wrap">
                                        ${channelViewModel.editable ? $h`
                                            <input type="text" name="title" placeholder="Collection title" value="${channelViewModel?.channel?.title}" required  minlength="3" tabindex="1" />
                                        ` : $h`
                                            <input type="text" name="title" placeholder="Collection title" value="${channelViewModel?.channel?.title}" required  minlength="3" tabindex="1" disabled />
                                        `}
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Symbol</div>
                                    <div class="item-input-wrap">

                                        ${channelViewModel.editable ? $h`
                                            <input type="text" name="symbol" placeholder="Symbol (eg BAYC)" value="${channelViewModel?.channel?.symbol}" tabindex="2" required />
                                        ` : $h`
                                            <input type="text" name="symbol" placeholder="Symbol (eg BAYC)" value="${channelViewModel?.channel?.symbol}" tabindex="2" required disabled />
                                        `}


                                        
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Description</div>

                                    <div id="${descriptionToolbarId}">

                                        <select class="ql-header">
                                            <option selected></option>
                                            <option value="1">Heading</option>
                                            <option value="2">Subheading</option>
                                            <option value="3">Normal</option>
                                        </select>


                                        <!-- Add a bold button -->
                                        <button class="ql-bold"></button>
                                        <button class="ql-italic"></button>
                                        <button class="ql-strike"></button>
                                        <button class="ql-underline"></button>

                                    </div>

                                    <div class="editor bg-color-white text-color-black channel-editor" id="${descriptionEditorId}" tabindex="3"></div>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content item-input">
                                <div class="item-inner">
                                    <div class="item-title item-label">Collection Avatar</div>
                                    <div class="item-input-wrap">

                                        ${channelViewModel.coverImage ? $h`
                                        <img class="avatar-preview" src="${channelViewModel?.coverImage.url}" />

                                        ` : $h`
                                        <i class="material-icons avatar-preview">image</i>
                                        `}

                                        <input type="button" class="button button-fill browse-file" value="Browse"
                                            @click="${handleCoverImageBrowseClick}" tabindex="4" />
                                        <input type="hidden" name="coverImageId" value="${channelViewModel?.coverImage?.cid}" />
                                        <input type="file" id="cover-image-browse" style="display: none"
                                            @change="${handleCoverImageChange}" />

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content item-input">
                                <div class="item-inner">
                                    <div class="item-title item-label">Collection Banner</div>
                                    <div class="item-input-wrap">

                                        ${channelViewModel?.coverBanner ? $h`
                                        <img class="cover-banner-preview" src="${channelViewModel?.coverBanner.url}" />
                                        ` : $h`
                                        <i class="material-icons cover-banner-preview">image</i>
                                        `}

                                        <input type="button" class="button button-fill browse-file" value="Browse"
                                            @click="${handleBannerBrowseClick}" tabindex="5" />
                                        <input type="hidden" name="coverBannerId" value="${channelViewModel?.coverBanner?.cid}" />

                                        <input type="file" id="banner-browse" style="display: none" @change="${handleBannerChange}" />

                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Category</div>
                                    <div class="item-input-wrap">
                                        <input type="text" name="category" placeholder="Category" id="category" tabindex="6" value="${channelViewModel?.channel?.category}" />
                                    </div>
                                </div>
                            </div>
                        </li> -->


                        <!-- <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">External Link</div>
                                    <div class="item-input-wrap">
                                        <input type="text" name="link" placeholder="External Link" tabindex="8" value="${channelViewModel?.channel?.link}" />
                                    </div>
                                </div>
                            </div>
                        </li> -->

                        <li class="item-content item-input item-input-outline">
                            <div class="item-inner">
                                <div class="item-title item-label">Language</div>
                                <!-- additional "input-dropdown-wrap" class -->
                                <div class="item-input-wrap input-dropdown-wrap">
                                    <select name="language" tabindex="9">
                                        ${languages.map( language => $h`
                                            ${channelViewModel?.channel?.language == language ? $h`
                                                <option value="${language}" selected >${language}</option>
                                            ` : $h`
                                                <option value="${language}">${language}</option>
                                            `}
                                        `)}
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="list">
                    <ul>
                        <li>
                            <div class="item-content item-input">
                                <div class="item-inner">
                                    <div class="item-title item-label">Attribute Categories (eg Shirt, Size, Hat)</div>
                                    <div>
                
                                        <p>Add attributes to give specific items special properties. Items can be sorted and filtered by
                                            attribute.</p>
                
                                        <div>
                                            <div class="category-name-label">Category Name</div>
                                            <div class="options-label">Option Values</div>
                                        </div>
                

                                        ${channelViewModel.editable ? $h`

                                            ${attributeOptions?.map( (ao) => $h`
                
                                                <div id="category-${ao.id}">
                        
                                                    <div class="category-name-input">
                                                        <input type="text" placeholder="Category Name" @change="${categoryNameChange}" data-id="${ao.id}" value="${ao.traitType}" />
                                                    </div>
                        
                                                    <div class="options-input">
                                                        <input type="text" placeholder="Enter options" @change="${optionsChange}" data-id="${ao.id}" id="options-input-${ao.id}" value="${ao.values}" />
                                                    </div>
                        
                                                    <a @click="${deleteOptionClick}" data-id="${ao.id}"><i class="material-icons">delete</i></a>
                        
                                                </div>
                                            `)}

                                            <div class="row">
                                                <div class="col-30">
                                                    <a class="button button-outline add-category-button" @click="${addCategoryClick}" tabindex="10">Add Category</a>
                                                </div>
                                                <div class="col-70"></div>
                                            </div>

                                        ` : $h`
                                            ${attributeOptions?.map( (ao) => $h`
                    
                                                <div id="category-${ao.id}">
                        
                                                    <div class="category-name-input">
                                                        <input type="text" placeholder="Category Name" @change="${categoryNameChange}" data-id="${ao.id}" value="${ao.traitType}" disabled />
                                                    </div>
                        
                                                    <div class="options-input">
                                                        <input type="text" placeholder="Enter options" @change="${optionsChange}" data-id="${ao.id}" id="options-input-${ao.id}" value="${ao.values}" disabled />
                                                    </div>
                                                
                                                </div>
                                            `)}
                                        `}

                                        

                
                                        <input type="hidden" name="attributeOptions" value="${JSON.stringify(attributeOptions)}" />
                

                
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-content">
                <div class="list">
                    <ul>
                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Mint Price in ETH</div>
                                    <div class="item-input-wrap">

                                        ${channelViewModel.editable ? $h`
                                            <input type="number" placeholder="Enter price for one piece (eg 0.08)" @change="${mintPriceChange}" 
                                            step="any" tabindex="11" value="${channelViewModel?.channel?.mintPrice}" />
                                        ` : $h`
                                            <input type="number" placeholder="Enter price for one piece (eg 0.08)" @change="${mintPriceChange}" 
                                            step="any" tabindex="11" value="${channelViewModel?.channel?.mintPrice}" disabled />
                                        `}

                                        <input type="hidden" name="mintPrice" value="${mintPrice}" />
                                    </div>
                                </div>
                            </div>
                        </li>
                
                        ${mintPrice ? $h`
                        <li tabindex="-1">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-text"> You will receive <strong>${mintPrice}</strong> ETH (${mintPriceWei} wei) for
                                        each mint.</div>
                                </div>
                            </div>
                        </li>
                        ` : $h``}
                
                        <li>
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">Marketplace Creator Fee %</div>
                                    <div class="item-input-wrap">

                                        ${channelViewModel.editable ? $h`
                                            <input type="number" name="royaltyPercent" placeholder="Royalty %" @change="${royaltyChange}" step="any"  tabindex="12" value="${channelViewModel?.channel?.royaltyPercent}" />
                                        ` : $h`
                                            <input type="number" name="royaltyPercent" placeholder="Royalty %" @change="${royaltyChange}" step="any"  tabindex="12" value="${channelViewModel?.channel?.royaltyPercent}" disabled />
                                        `}

                                        <input type="hidden" name="sellerFeeBasisPoints" value="${channelViewModel?.channel?.sellerFeeBasisPoints}" />
                
                                    </div>
                                </div>
                            </div>
                        </li>
                
                
                        ${channelViewModel?.channel?.royaltyPercent ? $h`
                        <li tabindex="-1">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-text">
                                        You will receive a <strong>${channelViewModel?.channel?.royaltyPercent}%</strong> for each sale on OpenSea, etc. Confirm this
                                        value when you set up your
                                        collection on the marketplace. This just presets it for you.
                                    </div>
                                </div>
                            </div>
                        </li>
                        ` : $h``}
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="list">
                    <ul>
                        <li class="item-content item-input item-input-outline">
                            <div class="item-inner">
                                <div class="item-title item-label">Features and Licensing</div>
                                <div class="item-input-wrap input-dropdown-wrap">
                                    <select name="disableForks" @change="${disableForksChange}">

                                        ${!channelViewModel.channel.disableForks ? $h`
                                            <option value="false" selected>Copyleft / CC0</option>
                                            <option value="true">Copyright</option>
                                        ` : $h`
                                            <option value="false">Copyleft / CC0</option>
                                            <option value="true" selected>Copyright</option>
                                        `}


                                    </select>
                                </div>
                            </div>
                        </li>

                        ${showCC0Link ? $h`

                            <li>
                                <div class="item-content">
                                  <div class="item-inner">
                                    <div class="item-text">Use Creative Commons <a href="https://creativecommons.org/choose/zero/" class="external" target="_blank">CC0 tool</a> to generate licensing text.</div>
                                  </div>
                                </div>
                              </li>

                        ` : $h`<span />`}



                        <li class="license-editor">
                            <div class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-label">License</div>

                                    <div id="${licenseToolbarId}">

                                        <!-- Add a bold button -->
                                        <button class="ql-bold"></button>
                                        <button class="ql-italic"></button>
                                        <button class="ql-strike"></button>
                                        <button class="ql-underline"></button>

                                    </div>

                                    <div class="editor bg-color-white text-color-black channel-editor" id="${licenseEditorId}" tabindex="3"></div>

                                </div>
                            </div>
                        </li>

                        <li class="item-content item-input item-input-outline">
                            <div class="item-inner">
                                <div class="item-title item-label">Git Provider</div>
                                <div class="item-input-wrap input-dropdown-wrap">
                                    <select name="gitProvider" @change="${gitProviderChange}">

                                        ${!channelViewModel.channel.gitProvider || channelViewModel.channel.gitProvider == "default" ? $h`
                                            <option value="default" selected>Default</option>
                                        ` : $h`
                                            <option value="default">Default</option>
                                        `}

                                        ${channelViewModel.channel.gitProvider == "github" ? $h`
                                            <option value="github" selected>GitHub</option>
                                        ` : $h`
                                            <option value="github">GitHub</option>
                                        `}


                                        ${channelViewModel.channel.gitProvider == "gitlab" ? $h`
                                            <option value="gitlab" selected>GitLab</option>
                                        ` : $h`
                                            <option value="gitlab">GitLab</option>
                                        `}


                                    </select>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>


    </div>


</template>

<style>
    




</style>


<script>

    import { ContainerService } from "../../../service/core/container-service"
    import { QuillService } from "../../../service/quill-service"
    import { UiService } from "../../../service/core/ui-service"
    import { UploadService } from "../../../service/core/upload-service"
    import { ImageService } from "../../../service/image-service"

    import { WalletService } from "../../../service/core/wallet-service"

    import { ChannelService } from "../../../service/channel-service"

    import languages from "../../../util/languages"

    import HeaderRight from "../../admin/header-right.f7.html"


    import moment from "moment"
    import Tagify from '@yaireo/tagify'
    import { v4 as uuidv4 } from 'uuid';

    import { ethers } from "ethers"

    export default (props, { $, $on, $f7, $update }) => {

        let walletService = ContainerService.getWalletService()
        let uiService = ContainerService.getInstance(UiService)
        let channelService = ContainerService.getInstance(ChannelService)
        let uploadService = ContainerService.getInstance(UploadService)
        let imageService = ContainerService.getInstance(ImageService)



        const setMintPrice = (value) => {

            //Reset
            mintPrice = undefined
            mintPriceWei = undefined

            if (!value) return

            let wei = ethers.utils.parseUnits(value, 'ether')

            try {
                mintPrice = ethers.utils.formatUnits(wei)
                mintPriceWei = wei.toString()
            } catch (ex) {
                console.log(ex)
            }

        }

        const setRoyalty = (value) => {

            channelViewModel.channel.sellerFeeBasisPoints = undefined
            channelViewModel.channel.royaltyPercent = undefined

            if (value) {
                channelViewModel.channel.royaltyPercent = value 
                channelViewModel.channel.sellerFeeBasisPoints = parseInt(value * 100)
            }

        }

        const addCategoryClick = async (e) => {

            let ao = {
                id: uuidv4()
            }

            attributeOptions.push(ao)

            await $update()

            let optionsInputElement = document.getElementById(`options-input-${ao.id}`)

            new Tagify(optionsInputElement)

        }

        const categoryNameChange = async (e) => {

            let id = $(e.currentTarget).data('id')

            attributeOptions.filter(ao => ao.id == id)[0].traitType = $(e.currentTarget).val()

            await $update()


        }

        const optionsChange = async (e) => {

            let id = $(e.currentTarget).data('id')

            attributeOptions.filter(ao => ao.id == id)[0].values = JSON.parse(e.currentTarget.value).map(v => v["value"])

            await $update()

        }

        const mintPriceChange = async (e) => {

            setMintPrice(e.currentTarget.value)
 
            await $update()

        }

        const royaltyChange = async (e) => {
            setRoyalty(e.currentTarget.value)
            await $update()
        }

        const deleteOptionClick = async (e) => {

            let id = $(e.currentTarget).data('id')

            attributeOptions = attributeOptions.filter(ao => ao.id != id)

            await $update()

            // $(`#category-${index}`).remove() 

        }

        const handleCoverImageBrowseClick = async (e) => {
            $("#cover-image-browse").click()
        }

        const handleCoverImageChange = async (e) => {

            let imageBuffer = await uploadService.uploadFile(document.getElementById('cover-image-browse'))

            let coverImage = await imageService.newFromBuffer(imageBuffer)

            const coverImageUpdatedEvent = new CustomEvent('cover-image-updated', {
                detail: { 
                    coverImage: coverImage
                }
            })

            document.dispatchEvent(coverImageUpdatedEvent)


            channelViewModel.coverImage = {
                cid: coverImage.cid,
                url: await imageService.getUrl(coverImage)
            }

            await $update()
        }

        const handleBannerBrowseClick = async (e) => {
            $("#banner-browse").click()
        }

        const handleBannerChange = async (e) => {

            let imageBuffer = await uploadService.uploadFile(document.getElementById('banner-browse'))
            let coverBanner = await imageService.newFromBuffer(imageBuffer)

            const coverBannerUpdatedEvent = new CustomEvent('cover-banner-updated', {
                detail: { 
                    coverBanner: coverBanner
                }
            })

            document.dispatchEvent(coverBannerUpdatedEvent)



            channelViewModel.coverBanner = {
                cid: coverBanner.cid,
                url: await imageService.getUrl(coverBanner)
            }

            await $update()
        }

        const safeCSSId = (text) => {
            return encodeURIComponent(text)
                .toLowerCase()
                .replace(/\.|%[0-9a-z]{2}/gi, '');
        }

        const disableForksChange = async (e) => {
            
            channelViewModel.channel.disableForks = $(e.currentTarget).val() == "true"

            showCC0Link = !channelViewModel.channel.disableForks

            await $update()

        } 

        const gitProviderChange = async (e) => {
            
            channelViewModel.channel.gitProvider = $(e.currentTarget).val()
            await $update()
        } 

        let channelViewModel = props.channel

        let descriptionToolbarId = props.description_toolbar
        let descriptionEditorId = props.description_editor

        let licenseToolbarId = props.license_toolbar
        let licenseEditorId = props.license_editor

        let showCC0Link = !channelViewModel.channel.disableForks


        let attributeOptions = []

        let mintPrice
        let mintPriceWei


        //Set values if passed in
        if (channelViewModel) {
            setMintPrice(channelViewModel.channel.mintPrice)
            setRoyalty(channelViewModel.channel.royaltyPercent)

            if (channelViewModel?.channel?.attributeOptions?.length > 0) {
                attributeOptions = channelViewModel.channel.attributeOptions
            }

        }


        // $(document).on('copyleft-updated', async (e) => {
        //     copyleft = e.detail.copyleft
        //     console.log(copyleft)
        //     await $update()
        // })



        return $render
    }

</script>