<template>

  <div class="page" data-name="admin-show-collection">

    <${Navbar} breadcrumbs=${breadcrumbs} />


    ${showEdit ? $h`
    <div class="fab fab-extended fab-right-bottom">
      <a href="/admin/item/create/${channelViewModel.channel._id}">
        <i class="material-icons">create</i>
        <div class="fab-text">Create Item</div>
      </a>
    </div>
    ` : $h``}


    <div class="page-content infinite-scroll-content hide-toolbar-on-scroll" id="item-list-infinite-scroll">

      <div class="fixed-width-content center">

        <channel-card channel_view_model=${channelViewModel}></channel-card>

        <div class="block">
          <p class="segmented">
            <a class="button button-outline button-active" href="#">Items</a>
            <a class="button button-outline" href="/admin/channel/themes/${channelViewModel.channel._id}">Themes</a>
            <a class="button button-outline" href="/admin/channel/static-pages/${channelViewModel.channel._id}">Static Pages</a>
          </p>
        </div>
  
        <${TokenNavigator} channel=${channelViewModel.channel._id} token_id="1" />
  
  
      
        <div class="list cards-list virtual-list" id="item-list" >
          <ul class="item-flex"></ul>
        </div>
  
        <div class="block">
          <br />
        </div>
  
        <div class="preloader infinite-scroll-preloader"></div>

      </div>



    </div>

  </div>

</template>



<style>
  

</style>


<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { ChannelService } from "../../../service/channel-service"
  import { ItemWebService } from "../../../service/web/item-web-service"
  import { ItemRepository } from "../../../repository/item-repository"

  import Navbar from "../../admin/navbar.f7.html"
  import ItemList from "../../admin/channel/item-list.f7.html"
  import TokenNavigator from "./token-navigator.f7.html"
  import ChannelCard from "./channel-card.f7.html"

  import hotkeys from 'hotkeys-js'

  export default (props, { $, $on, $f7, $update }) => {

    let channelService = ContainerService.getInstance(ChannelService)
    let walletService = ContainerService.getWalletService()
    let itemWebService = globalThis.container.get(ItemWebService)

    let channelViewModel = props.channelViewModel
    let firstPageItems = props.firstPageItems 
    
    let items = []

    let itemsShown = 0
    let hasMoreItems = true
    let loadingInProgress = false
    let pageCounter = 1

    let virtualList

    let totalItemCount = channelViewModel.itemCount

    const COLS_LARGE = 5
    const HEIGHT_LARGE = 290

    const COLS_SMALL = 2
    const HEIGHT_SMALL = 250

    let showEdit = channelViewModel.editable

    let breadcrumbs = [{
        text: "Home",
        path: "/"
    }, {
        text: channelViewModel.channel.title
    }]


    const truncateEthAddress = (address) => {
      return walletService.truncateEthAddress(address)
    }

    const resizeListener = (e) => {
        const viewPortWidth = getWidth()

        virtualList.params.cols = viewPortWidth >= 1024 ? COLS_LARGE : COLS_SMALL
        virtualList.params.height = viewPortWidth >= 1024 ? HEIGHT_LARGE : HEIGHT_SMALL
        virtualList?.update()

        console.log("Resized...")

    }

    const getWidth = () => {
        return Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
    }

    const virtualListParams = {

      el: '#item-list',
      createUl: false,
      renderItem(item) {
          return getTemplate(item)
      },
      height: getWidth() >= 1024 ? HEIGHT_LARGE : HEIGHT_SMALL,
      items: items,                    
      cols: getWidth() >= 1024 ? COLS_LARGE : COLS_SMALL,
      emptyTemplate: `
          <li class="item-content">
              <div class="item-inner">
                  No items in collection.
              </div>
          </li>
          `
    }

    $on('pageInit', async (e, page) => {

      items.push(...firstPageItems)
      itemsShown = firstPageItems.length

      //Load cover banner into CSS
      if (channelViewModel?.coverBanner?.url) {
        $(`.show-channel-banner-${channelViewModel.channel._id}`).css('background-image', `url(${channelViewModel.coverBanner.url})`)
      } else {
        $(`.show-channel-banner-${channelViewModel.channel._id}`).css('background', `linear-gradient(-45deg, rgba(241,241,241,1) 13%, rgba(239,243,248,1) 37%, rgba(176,209,220,0.927608543417367) 69%, rgba(255,255,255,1) 100%)`)
      }

      //Make links external
      let description = document.getElementById(`channel-show-description-${channelViewModel.channel._id}`)

      if (description) {

        let links = document.getElementById(`channel-show-description-${channelViewModel.channel._id}`).getElementsByTagName('a')

        for (let link of links) {
          link.classList.add('external')
        }

      }


      $(`.animation-container a`).addClass('external')

      window.addEventListener('resize', resizeListener)
      createVirtualList()

    })

    $on('pageBeforeOut', async () => {
        // unloadInfiniteScroll()
        window.removeEventListener('resize', resizeListener)
        // document.getElementById("item-list-infinite-scroll").removeEventListener( 'infinite', infiniteScroll )
    })

    const createVirtualList = () => {

      virtualList = $f7.virtualList.create(virtualListParams)

      if (virtualList.items?.length < totalItemCount) {
          document.getElementById("item-list-infinite-scroll").addEventListener( 'infinite', infiniteScroll )
      } else {
        $('.infinite-scroll-preloader').hide()
      }

    }

    function unloadInfiniteScroll() {

      console.log("Unload infinite scroll item list")

      // Nothing more to load, detach infinite scroll events to prevent unnecessary loadings
      $f7.infiniteScroll.destroy('#item-list-infinite-scroll')
      $f7.virtualList.destroy('#item-list')
      virtualList = undefined

      $('.infinite-scroll-preloader').hide()

    }

    async function infiniteScroll(e) {

      // Exit, if loading in progress
      if (loadingInProgress || !hasMoreItems) return

      console.log(`Infinite scrolling...`)

      // Set loading flag
      loadingInProgress = true

      try {
          
          let itemPage = await itemWebService.listByChannel(channelViewModel.channel._id, ItemRepository.CHUNK_SIZE, itemsShown)

          //Count actual items                    
          itemsShown += itemPage.length

          if (itemsShown >= totalItemCount) {
              hasMoreItems = false
          }

          virtualList.appendItems(itemPage)
          pageCounter++

      } catch (ex) {
          console.log(ex)
      }

      $f7.preloader.hide()

      if (!hasMoreItems) {
          unloadInfiniteScroll()
      }

      loadingInProgress = false


    }

    function getTemplate(rowItemViewModel) {

      return `<li class="flex-card">
                  <a href="/admin/channel/show/${rowItemViewModel.channel._id}/${rowItemViewModel.item.tokenId}" class="item-link">
                      <div class="card" >
                          <div class="card-content">
                              <div class="square">
                                  <img src="${rowItemViewModel.coverImage?.url}"/>
                              </div>
                          </div>


                          <div class="card-footer">
                              ${rowItemViewModel.item.title ? rowItemViewModel.item.title : `#${rowItemViewModel.item.tokenId}`} 
                          </div>
                      </div>
                  </a>
              </li>
      `
    }

    const countItems = (itemRows) => {
        //Count actual items
        let itemCount = 0
        
        for (let itemRow of itemRows) {
            itemCount += itemRow.items?.length
        }

        return itemCount
    }


    return $render
  }

</script>