<template>

  <div>

    ${eventList ? $h`

      <table class="event-table">
        <thead>
          <tr>
            <th class="label-cell">Event</th>
            <th class="image-col">Token</th>
            <th class="token-col">Title</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Etherscan</th>
          </tr>
        </thead>

        <tbody>

        ${eventList.map(evm => $h`
          <tr class="${getRowClass(evm.ercEvent)}">
            <td class="label-cell">
              ${evm.ercEvent.event} ${evm.ercEvent.isMint ? $h`<span class="badge">Mint</span>` : $h`<span />`}              
            </td>

            <td class="image-col">

              ${evm.rowItemViewModel ? $h`
                <a href="${baseURI}t/${evm.ercEvent.tokenId}" class="link">
                  <img src="${imageLink(evm.rowItemViewModel)}" class="latest-img"/> 
                </a>
                  ` : $h`<span />`}

            </td>

            <td class="token-col">
              ${evm.rowItemViewModel?.title}
            </td>

            <td>
              <strong>${moment(evm.ercEvent.timestamp * 1000).fromNow()}</strong>
            </td>

            <td>
              ${evm.ercEvent.fromAddress ? $h`
                <a href="${baseURI}u/?address=${evm.ercEvent.fromAddress}">${walletService.truncateEthAddress(evm.ercEvent.fromAddress)}</a>
              ` : $h`<span />`}
            </td>
            <td>
              ${evm.ercEvent.toAddress ? $h`
                <a href="${baseURI}u/?address=${evm.ercEvent.toAddress}">${walletService.truncateEthAddress(evm.ercEvent.toAddress)}</a>
              ` : $h`<span />`}
            </td>
            <td>
              <a href="https://etherscan.io/tx/${evm.ercEvent.transactionHash}" class="link external">View</a>
            </td>

          </tr>
        
        `)}
        </tbody>

      </table>


    ` : $h`<span />`}

  </div>

</template>


<style>
</style>

<script>

  export default (props, { $, $on, $f7, $update }) => {

    let transactionWebService = globalThis.container.get("TransactionWebService")
    let walletService = globalThis.container.get("WalletService")

    let baseURI = globalThis.container.get('baseURI')
    let moment = globalThis.moment 

    let display = parseInt(props.display)

    let eventList = []

    let loading = true

    const imageLink = (rowItemViewModel) => {
      let imgExt = rowItemViewModel.coverImageGenerated ? 'svg' : 'jpg'
      return link('backup/export/images/' + rowItemViewModel.coverImageId + "." + imgExt)
    }


    const link = (href) => {
        return `${baseURI + href}`
    } 

    const getRowClass = (event) => {
      if (event.isTransfer) return "event-transfer"
      if (event.event == "MintEvent") return "event-transfer"
      return "uncategorized-event"
    }

 

    document.addEventListener('load-user-events', async (e) => {
      eventList = e.eventList
      await $update()
    })

    return $render
  }

</script>