<template>

  <div>

    ${eventList ? $h`

      <table>
        <thead>
          <tr>
            <th class="label-cell" colspan="2">Token</th>
            <th class="numeric-cell">Block #</th>
            <th class="label-cell">Event</th>
            <th class="label-cell">Address</th>
          </tr>
        </thead>

        <tbody>

      ${eventList.map(e => $h`

            <tr>
              <td class="label-cell">

                ${e.rowItemViewModel ? $h`
                  <img src="${imageLink(e.rowItemViewModel)}" class="latest-img"/> 
                ` : $h`<span />`}

              </td>
              <td class="label-cell">
                ${e.rowItemViewModel?.title}
              </td>
              <td class="numeric-cell">${e.blockNumber}</td>
              <td class="label-cell">${e.event}</td>
              <td class="label-cell">${e.address}</td>
            </tr>
      
      `)}
        </tbody>

      </table>

      <input type="hidden" id="next-page-start" value="${nextPageStartId}" />

    ` : $h`
      No transactions found.
    `}

  </div>

</template>


<style>
</style>

<script>

  export default (props, { $, $on, $f7, $update }) => {

    let eventWebService = globalThis.container.get("EventWebService")
    let baseURI = globalThis.container.get('baseURI')

    let type = props.type
    let display = parseInt(props.display)
    let startId = props.start

    let nextPageStartId
    let previousPageStartId

    let eventList

    const imageLink = (rowItemViewModel) => {
      let imgExt = rowItemViewModel.coverImageGenerated ? 'svg' : 'jpg'
      return link('backup/export/images/' + rowItemViewModel.coverImageId + "." + imgExt)
    }


    const link = (href) => {
        return `${baseURI + href}`
    } 

    const load = async () => {
      
      try  {

        eventList = await eventWebService.getLatestEvents(display + 1, startId)

        if (eventList.length > display) {
          nextPageStartId = eventList[display]._id
        }

      } catch(ex) { console.log(ex) }
      
      $update()

    }

    load()



    document.addEventListener('activity-start-changed', async (e) => {

      startId = e.startId

      await load()

      window.scrollTo({ top: 0, behavior: 'smooth' })


    })

    return $render
  }

</script>