<template>

  <div>

    ${eventList ? $h`

      <table>
        <thead>
          <tr>
            <th class="label-cell" colspan="2">Token</th>
            <th class="numeric-cell">Timestamp #</th>
            <th class="label-cell">Event</th>
            <th class="label-cell">From</th>
            <th class="label-cell">To</th>

          </tr>
        </thead>

        <tbody>

      ${eventList.map(e => $h`

            <tr>
              <td class="label-cell">

                ${e.rowItemViewModel ? $h`
                  <img src="${imageLink(e.rowItemViewModel)}" class="latest-img"/> 
                ` : $h`<span />`}

              </td>
              <td class="label-cell">
                ${e.rowItemViewModel?.title}
              </td>
              <td class="numeric-cell">
                <strong>${moment(e.timestamp * 1000).fromNow()}</strong> (block #${e.blockNumber}) 
              </td>
              <td class="label-cell">${e.event}</td>
              <td class="label-cell">${e.fromAddress ? walletService.truncateEthAddress(e.fromAddress) : ''}</td>
              <td class="label-cell">${e.toAddress ? walletService.truncateEthAddress(e.toAddress) : ''}</td>

            </tr>
      
      `)}
        </tbody>

      </table>

      ${showNav ? $h`
        
        <div class="block row margin-top">
          <div class="col-50">
              <a href="${baseURI}activity/?offset=${previousPageStartId}" class="button button-outline color-gray">Previous</a>
          </div>
          <div class="col-50">
              <a href="${baseURI}activity/?offset=${nextPageStartId}" class="button button-fill">Next</a>
          </div>
        </div>

      ` : $h`<span />`}

    ` : $h`<span />`}

  </div>

</template>


<style>
</style>

<script>

  export default (props, { $, $on, $f7, $update }) => {

    let eventWebService = globalThis.container.get("EventWebService")
    let walletService = globalThis.container.get("WalletService")

    let baseURI = globalThis.container.get('baseURI')
    let moment = globalThis.moment 

    let type = props.type
    let display = parseInt(props.display)
    let startId = props.start
    let showNav = props.show_nav == "true"

    let nextPageStartId
    let previousPageStartId

    let eventList

    let loading = true

    const imageLink = (rowItemViewModel) => {
      let imgExt = rowItemViewModel.coverImageGenerated ? 'svg' : 'jpg'
      return link('backup/export/images/' + rowItemViewModel.coverImageId + "." + imgExt)
    }


    const link = (href) => {
        return `${baseURI + href}`
    } 

    const load = async () => {
      
      $f7.preloader.show()

      loading = true

      try  {

        eventList = await eventWebService.listFrom(display, startId)
        console.log(eventList)
        if (eventList.length == display) {
          nextPageStartId = eventList[display-1].previousId
        }

        //If we have a startId we are on page 2+ so we need to set the previous start offset
        if (startId) {
          let previousEventList = await eventWebService.listTo(display+1, startId)
          previousPageStartId = previousEventList[display]._id
        }


      } catch(ex) { console.log(ex) }
      
      loading = false

      await $update()

      $f7.preloader.hide()


    }



    document.addEventListener('activity-start-changed', async (e) => {

      startId = e.startId

      await load()

      // window.scrollTo({ top: 0, behavior: 'smooth' })


    })

    return $render
  }

</script>