<template>

  <div>

    ${transactionsViewModel?.transactions?.length > 0 ? $h`

      <div class="card">
        <div class="card-header">Activity</div>
        <div class="card-content card-content-padding data-table">
  
          <table class="event-table">
            <thead>
              <tr>
                <th class="label-cell">Transaction</th>
                <th>Events</th>
              </tr>
            </thead>
    
            <tbody>
    
            ${transactionsViewModel.transactions.map(transaction => $h`
              <transaction-row transaction="${transaction}" items="${transactionsViewModel.rowItemViewModels}"></transaction-row>
            `)}
            </tbody>
    
          </table>
  
        </div>
        <div class="card-footer">
          <a href="${link('activity')}" class="link" data-ignore-cache="true" >View All</a>
        </div>
      </div>

    ` : $h`<span />`}


  </div>

</template>


<style>
</style>

<script>

  export default (props, { $, $on, $f7, $update }) => {

    let transactionWebService = globalThis.container.get("TransactionWebService")
    let walletService = globalThis.container.get("WalletService")

    let baseURI = globalThis.container.get('baseURI')
    let moment = globalThis.moment 

    let display = parseInt(props.display)
    let startId = props.start

    let nextPageStartId
    let previousPageStartId

    let transactionsViewModel 

    let loading = true

    const imageLink = (rowItemViewModel) => {
      let imgExt = rowItemViewModel.coverImageGenerated ? 'svg' : 'jpg'
      return link('backup/export/images/' + rowItemViewModel.coverImageId + "." + imgExt)
    }


    const link = (href) => {
        return `${baseURI + href}`
    } 


    const load = async () => {

      $f7.preloader.show()

      loading = true

      try  {

        transactionsViewModel = await transactionWebService.listFrom(display, startId)
      
      } catch(ex) { console.log(ex) }
      
      loading = false

      await $update()

      $f7.preloader.hide()


    }



    document.addEventListener('load-home-events', async (e) => {
      startId = e.startId
      await load()
    })

    return $render
  }

</script>