<template>

  <div>

    <div class="block block-strong inset col-100 no-margin-bottom">
      <div class="breadcrumbs ">
        <div class="breadcrumbs-item">
          <a href="${baseURI}index.html" class="link">
            Home
          </a>
        </div>       
        <div class="breadcrumbs-separator"></div>
        <div class="breadcrumbs-item breadcrumbs-item-active">
          Leaderboard
        </div> 
      </div>
    </div>

    <div class="card">
      <div class="card-header">Leaderboard</div>
      <div class="card-content card-content-padding data-table">
        
        <table class="leaderboard-table">
          <thead>
            <tr>
              <th class="label-cell">Address</th>
              <th>ENS Name</th>
              <th class="numeric-cell">Owned</th>
              <th>Last Active</th>
            </tr>
          </thead>
  
          <tbody>
  
          ${tokenOwners?.map(u => $h`
            <tr>
              <td class="label-cell">
                <a href="${baseURI}u/?address=${u.address}">${u.address ? walletService.truncateEthAddress(u.address) : ' '}</a>
              </td>
  
              <td>
                ${u.ensName}
              </td>
  
              <td class="numeric-cell">
                ${u.count}
              </td>
  
              <td>
                ${u.lastActive}
              </td>
  

            </tr>
          
          `)}
          </tbody>
  
        </table>


        <div class="block margin-top margin-bottom">
          <div class="row">
            <div class="col-50">
                ${pageNumber > 1 ? $h`
                  <a href="${baseURI}leaderboard/?pageNumber=${pageNumber - 1}" class="button button-outline color-gray">Previous</a>
                ` : $h` `}
            </div>
            <div class="col-50">
                ${pageNumber < totals?.totalPages - 1 ? $h`
                  <a href="${baseURI}leaderboard/?pageNumber=${pageNumber + 1}" class="button button-fill">Next</a>
                ` : $h` `}
            </div>
          </div>
  
        </div>


      </div>
    </div>


  </div>

</template>


<style>
</style>

<script>

  export default (props, { $, $on, $f7, $update }) => {

    let eventWebService = globalThis.container.get("EventWebService")
    let itemWebService = globalThis.container.get("ItemWebService")

    // let tokenOwnerService = globalThis.container.get("TokenOwnerService")
    let tokenOwnerPageService = globalThis.container.get("TokenOwnerPageService")

    let walletService = globalThis.container.get("WalletService")

    let baseURI = globalThis.container.get('baseURI')
    let moment = globalThis.moment 


    let tokenOwners
    let pageNumber
    let totals 

    let loading = true

    const link = (href) => {
        return `${baseURI + href}`
    } 

    const load = async () => {
      
      $f7.preloader.show()

      loading = true

      try  {

        totals = await tokenOwnerPageService.getTotals()
        let page = await tokenOwnerPageService.get(pageNumber)
        tokenOwners = page.tokenOwners

      } catch(ex) { console.log(ex) }
      
      loading = false

      await $update()

      $f7.preloader.hide()
    }

    document.addEventListener('load-leaderboard', async (e) => {
      pageNumber = e.pageNumber ? e.pageNumber : 0
      await load()
    })



    return $render
  }

</script>