<template>

  <div>

    ${transactionsViewModel?.transactions?.length > 0 ? $h`

      <table class="event-table">
        <thead>
          <tr>
            <th class="label-cell">Transaction</th>
            <th>Events</th>
          </tr>
        </thead>

        <tbody>
    
          ${transactionsViewModel.transactions.map(transaction => $h`
            <transaction-row transaction="${transaction}" items="${transactionsViewModel.rowItemViewModels}"></transaction-row>
          `)}
        </tbody>

      </table>

    ` : $h`<span />`}

  </div>

</template>


<style>
</style>

<script>

  export default (props, { $, $on, $f7, $update }) => {

    let transactionWebService = globalThis.container.get("TransactionWebService")
    let walletService = globalThis.container.get("WalletService")

    let baseURI = globalThis.container.get('baseURI')

    let display = parseInt(props.display)
    let tokenId = props.token

    let transactionsViewModel 


    let loading = true


    const link = (href) => {
        return `${baseURI + href}`
    } 

    const load = async () => {
      
      $f7.preloader.show()

      loading = true

      try  {

        transactionsViewModel = await transactionWebService.listByTokenFrom(tokenId, display)

      } catch(ex) { console.log(ex) }
      
      loading = false

      await $update()

      $f7.preloader.hide()


    }



    document.addEventListener('token-activity-start-changed', async (e) => {
      await load()
    })

    return $render
  }

</script>