<template>

  <div>

    ${eventList ? $h`

      <table class="event-table">
        <thead>
          <tr>
            <th class="label-cell">Event</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Etherscan</th>

          </tr>
        </thead>

        <tbody>

      ${eventList.map(evm => $h`

            <tr class="${evm.ercEvent.isTransfer ? $h`event-transfer` : $h` `}">
              <td class="label-cell">
                ${evm.ercEvent.event} ${evm.ercEvent.isMint ? $h`<span class="badge">Mint</span>` : $h`<span />`}              

              </td>
              <td>
                <strong>${moment(evm.ercEvent.timestamp * 1000).fromNow()}</strong>
              </td>
              <td>
                ${evm.ercEvent.fromAddress ? $h`
                  <a href="${baseURI}u/?address=${evm.ercEvent.fromAddress}">${walletService.truncateEthAddress(evm.ercEvent.fromAddress)}</a>
                ` : $h`<span />`}      
              </td>          
              <td>
                ${evm.ercEvent.toAddress ? $h`
                  <a href="${baseURI}u/?address=${evm.ercEvent.toAddress}">${walletService.truncateEthAddress(evm.ercEvent.toAddress)}</a>
                ` : $h`<span />`}
              </td>
              <td>
                <a href="https://etherscan.io/tx/${evm.ercEvent.transactionHash}" class="link external">View</a>
              </td>
            </tr>
      
      `)}
        </tbody>

      </table>

    ` : $h`<span />`}

  </div>

</template>


<style>
</style>

<script>

  export default (props, { $, $on, $f7, $update }) => {

    let eventWebService = globalThis.container.get("EventWebService")
    let walletService = globalThis.container.get("WalletService")

    let baseURI = globalThis.container.get('baseURI')
    let moment = globalThis.moment 

    let display = parseInt(props.display)
    let tokenId = props.token

    let showNav = true


    let nextPageStartId
    let previousPageStartId

    let eventList

    let loading = true

    const imageLink = (rowItemViewModel) => {
      let imgExt = rowItemViewModel.coverImageGenerated ? 'svg' : 'jpg'
      return link('backup/export/images/' + rowItemViewModel.coverImageId + "." + imgExt)
    }


    const link = (href) => {
        return `${baseURI + href}`
    } 

    const load = async () => {
      
      $f7.preloader.show()

      loading = true

      try  {

        eventList = await eventWebService.listByTokenFrom(tokenId, display)

      } catch(ex) { console.log(ex) }
      
      loading = false

      await $update()

      $f7.preloader.hide()


    }



    document.addEventListener('token-activity-start-changed', async (e) => {
      await load()
    })

    return $render
  }

</script>