<template>
  
  <div class="data-table card">
    <table>
      <thead>
        <tr>
          <th class="image"></th>
          <th class="label-cell medium-only">Item</th>
          <th>Event</th>
          <th class="numeric-cell">Price</th>
          <th class="medium-only numeric-cell">From/To</th>
        </tr>
      </thead>
      <tbody>
        ${transactionsViewModel?.transactions.map( (transaction, index) => $h`

          ${transaction.processedEvents?.map(processedEvent => $h`

            ${processedEvent.event == "Approval" && (!tokenId || processedEvent.namedArgs?.tokenId == tokenId) ? $h`
              <${Approval} transaction=${transaction} event=${processedEvent} base_uri=${baseURI} row_item_view_models=${rowItemViewModels} index="${index}" />
            ` : $h` `}
        
            ${processedEvent.event == "Transfer" && (!tokenId || processedEvent.namedArgs?.tokenId == tokenId) ? $h`
              <${Transfer} transaction=${transaction} event=${processedEvent} base_uri=${baseURI} row_item_view_models=${rowItemViewModels} index="${index}"/>
            ` : $h` `}
        
            ${processedEvent.event == "ApprovalForAll" && (!tokenId || processedEvent.namedArgs?.tokenId == tokenId) ? $h`
              <${ApprovalForAll} transaction=${transaction} event=${processedEvent} base_uri=${baseURI} index="${index}"/>
            ` : $h` `}
        
          `)}


        `)}
      </tbody>
    </table>
  </div>






</template>


<style>

</style>

<script>



  // create local component
  const Transfer = (props, { $h }) => {

    let walletService = globalThis.container.get("WalletService")
    let transactionWebService = globalThis.container.get("TransactionWebService")

    const link = (href) => {
        return `${baseURI + href}`
    } 

    const imageLink = (rowItemViewModel) => {
      let imgExt = rowItemViewModel.coverImageGenerated ? 'svg' : 'jpg'
      return link('backup/export/images/' + rowItemViewModel.coverImageId + "." + imgExt)
    }

    let transaction = props.transaction
    let event = props.event
    let baseURI = props.base_uri
    let rowItemViewModels = props.row_item_view_models
    let index = props.index

    return () => $h`
    
        <tr class="${index % 2 == 0 ? "alt-row" : ''}">

          <td class="image">
            <a href="${baseURI}t/${event.namedArgs.tokenId}">
              <img src="${imageLink(rowItemViewModels[event.namedArgs.tokenId])}" class="latest-img" alt="${rowItemViewModels[event.namedArgs.tokenId].title}" height="40" width="40" /> 
            </a>
          </td>

          <td class="label-cell medium-only">

            <a href="${baseURI}t/${event.namedArgs.tokenId}" class="title">
              ${rowItemViewModels[event.namedArgs.tokenId].title}            
            </a>

          </td>
          <td>
            ${event.isMint ? $h`
              <a href="https://etherscan.io/tx/${transaction._id}" class="external" target="_blank">Mint</a>
            ` : $h`

              ${Object.keys(transaction.transactionValue?.markets).length > 0 ? $h`
                <a href="https://etherscan.io/tx/${transaction._id}" class="external" target="_blank">Sold</a> on ${Array.from(Object.keys(transaction.transactionValue?.markets).map( k => k)).join(", ")} ${transaction.transactionValue?.aggregator ? ' / ' + transaction.transactionValue.aggregator : ''}

              ` : $h`
                <a href="https://etherscan.io/tx/${transaction._id}" class="external" target="_blank">${event.event}</a>
              `}
              
            `}

            <p class="date">${moment(transaction.timestamp * 1000).fromNow()}</p>
          </td>

          <td class="numeric-cell">
            
            <strong>${transaction.transactionValue?.tokenPrice[event.namedArgs.tokenId]?.price.toFixed(5)}</strong> ${transaction.transactionValue?.tokenPrice[event.namedArgs.tokenId]?.currency} 
            ${transaction.transactionValue?.tokenPrice[event.namedArgs.tokenId]?.usdValue ? $h`
              <br />
              <span class="dollar-value">${transactionWebService.abbreviateDollars(transaction.transactionValue?.tokenPrice[event.namedArgs.tokenId]?.usdValue, 2)}</span>
            ` : $h` `}




           </td>
          <td class="medium-only numeric-cell">
            <a href="${baseURI}u/?address=${event.namedArgs.fromAddress}" class="${event.namedArgs.fromAddress == transaction.from ? 'is-from' : ''}">
                  ${transactionWebService.getDisplayName(event.namedArgs.fromAddress)}
            </a> <span class="f7-icons">arrow_right</span>

            <a href="${baseURI}u/?address=${event.namedArgs.toAddress}" class="${event.namedArgs.toAddress == transaction.from ? 'is-from' : ''}">
              ${transactionWebService.getDisplayName(event.namedArgs.toAddress)}
            </a>

          </td>
        </tr>
    `;
  }

  const Approval = (props, { $h }) => {

    let walletService = globalThis.container.get("WalletService")
    let transactionWebService = globalThis.container.get("TransactionWebService")

    const link = (href) => {
        return `${baseURI + href}`
    } 

    const imageLink = (rowItemViewModel) => {
      let imgExt = rowItemViewModel.coverImageGenerated ? 'svg' : 'jpg'
      return link('backup/export/images/' + rowItemViewModel.coverImageId + "." + imgExt)
    }

    let transaction = props.transaction
    let event = props.event
    let baseURI = props.base_uri
    let rowItemViewModels = props.row_item_view_models
    let index = props.index


    return () => $h`
      <tr class="${index % 2 == 0 ? "alt-row" : ''}">

          <td class="image">
            <a href="${baseURI}t/${event.namedArgs.tokenId}">
              <img src="${imageLink(rowItemViewModels[event.namedArgs.tokenId])}" class="latest-img" alt="${rowItemViewModels[event.namedArgs.tokenId].title}" height="40" width="40" /> 
            </a>
          </td>

          <td class="label-cell medium-only">

            <a href="${baseURI}t/${event.namedArgs.tokenId}" class="title">
              ${rowItemViewModels[event.namedArgs.tokenId].title}            
            </a>

            
          </td>
          <td>
            <a href="https://etherscan.io/tx/${transaction._id}" class="external" target="_blank">${event.event}</a> <br />
            
            <p class="date">${moment(transaction.timestamp * 1000).fromNow()}</p>
          </td>

          <td class="numeric-cell"></td>
          <td class="medium-only numeric-cell">
            <a href="${baseURI}u/?address=${event.namedArgs.owner}" class="${event.namedArgs.owner == transaction.from ? 'is-from' : ''}">${transactionWebService.getDisplayName(event.namedArgs.owner)}</a> 
            <span class="f7-icons">arrow_right</span>
            <a href="${baseURI}u/?address=${event.namedArgs.approved}" class="${event.namedArgs.approved == transaction.from ? 'is-from' : ''}">${transactionWebService.getDisplayName(event.namedArgs.approved)}</a>
          </td>
        </tr>
    `;
  }

  const ApprovalForAll = (props, { $h }) => {

    let walletService = globalThis.container.get("WalletService")
    let transactionWebService = globalThis.container.get("TransactionWebService")

    let transaction = props.transaction
    let event = props.event
    let baseURI = props.base_uri
    let index = props.index

    return () => $h`
        <tr class="${index % 2 == 0 ? "alt-row" : ''}">

          <td class="image">
            ${event.namedArgs.approved ? $h`🟢` : $h`🔴`}
          </td>

          <td class="label-cell medium-only">
            
          </td>
          <td>
             <a href="https://etherscan.io/tx/${transaction._id}" class="external" target="_blank">${event.event}</a>  <br />

             <p class="date">${moment(transaction.timestamp * 1000).fromNow()}</p>
          </td>

          <td class="numeric-cell"></td>
          <td class="medium-only numeric-cell">
            <a href="${baseURI}u/?address=${event.namedArgs.owner}" class="${event.namedArgs.owner == transaction.from ? 'is-from' : ''}">${transactionWebService.getDisplayName(event.namedArgs.owner)}</a> 
            <span class="f7-icons">arrow_right</span>
            <a href="${baseURI}u/?address=${event.namedArgs.operator}" class="${event.namedArgs.operator == transaction.from ? 'is-from' : ''}">${transactionWebService.getDisplayName(event.namedArgs.operator)}</a>
          </td>

        </tr>
    `;
  }


  export default (props, { $, $on, $f7, $update }) => {

    let walletService = globalThis.container.get("WalletService")

    let baseURI = globalThis.container.get('baseURI')
    let moment = globalThis.moment 

    let transactionsViewModel = props.transactions 
    let rowItemViewModels = props.items
    let tokenId = props.token

    return $render
  }

</script>