<template>

  <div>

    <div class="block block-strong inset col-100 no-margin-bottom">
      <div class="breadcrumbs ">
        <div class="breadcrumbs-item">
          <a href="${baseURI}index.html" class="link">
            Home
          </a>
        </div> 
        <div class="breadcrumbs-separator"></div>
        <div class="breadcrumbs-item">
          <a href="${baseURI}leaderboard">Leaderboard</a>
        </div>       
        <div class="breadcrumbs-separator"></div>
        <div class="breadcrumbs-item breadcrumbs-item-active">
          ${address}
        </div> 
      </div>
    </div>

    <div class="block-title block-title-large">Account Details</div>
    <div class="block-header">${address}</div>

    <div class="block">

      <div class="user-info">

        <div class="row">
          <div class="col-50">Etherscan</div>
          <div class="col-50">
            <a href="https://etherscan.io/address/${address}" class="item-link external">${address ? walletService.truncateEthAddress(address) : ' '}</a>
          </div>
        </div>

        ${tokenOwner?.ensName ? $h`
          <div class="row">
            <div class="col-50">ENS Name</div>
            <div class="col-50">${tokenOwner.ensName}</div>
          </div>  
        ` : $h` `}

        <div class="row">
          <div class="col-50">Tokens Owned</div>
          <div class="col-50"><strong>${tokenOwner?.count}</strong></div>
        </div>

      </div>

    </div>


    <div class="block">
      <p class="segmented">
        <a class="button button-outline" href="${baseURI}u/?address=${address}">Owned</a>
        <a class="button button-outline button-active" href="#">Activity</a>
      </p>
    </div>

    <div class="card">
      <div class="card-header">Activity</div>
      <div class="card-content card-content-padding data-table">
        <event-info-user></event-info-user>       
      </div>
    </div>
    

  </div>

</template>


<style>
</style>

<script>

  export default (props, { $, $on, $f7, $update }) => {

    let eventWebService = globalThis.container.get("EventWebService")
    let itemWebService = globalThis.container.get("ItemWebService")

    let tokenOwnerService = globalThis.container.get("TokenOwnerService")

    let walletService = globalThis.container.get("WalletService")

    let baseURI = globalThis.container.get('baseURI')
    let moment = globalThis.moment 

    let address
    let tokenOwner
    let display = parseInt(props.display)

    let eventList

    let loading = true


    // const imageLink = (rowItemViewModel) => {
    //   let imgExt = rowItemViewModel.coverImageGenerated ? 'svg' : 'jpg'
    //   return link('backup/export/images/' + rowItemViewModel.coverImageId + "." + imgExt)
    // }


    const link = (href) => {
        return `${baseURI + href}`
    } 

    const load = async () => {
      
      $f7.preloader.show()

      loading = true

      try  {
          tokenOwner = await tokenOwnerService.get(address)

          eventList = []

          for (let eventId of tokenOwner.ercEventIds) {
            eventList.push(await eventWebService.get(eventId))
          }

          //Dispatch event with eventList
          let activityStartChangedEvent = new CustomEvent("load-user-events")
          activityStartChangedEvent.eventList = eventList 
          document.dispatchEvent(activityStartChangedEvent)

      } catch(ex) { console.log(ex) }
      
      loading = false

      await $update()

      $f7.preloader.hide()


    }



    document.addEventListener('user-address-changed', async (e) => {
      address = e.address
      await load()
      // window.scrollTo({ top: 0, behavior: 'smooth' })
    })



    // const getTemplate = (rowItemViewModel) => {
                
    //     let tokenLink = link('t/' + rowItemViewModel.tokenId)
    //     let imgExt = rowItemViewModel.coverImageGenerated ? 'svg' : 'jpg'
    //     let imageLink = link('backup/export/images/' + rowItemViewModel.coverImageId + "." + imgExt)
    //     let title = rowItemViewModel.title

    //     return `
    //     `
    // }

    return $render
  }

</script>