<template>

  <div>

    <div class="block block-strong inset col-100 no-margin-bottom">
      <div class="breadcrumbs ">
        <div class="breadcrumbs-item">
          <a href="${baseURI}index.html" class="link">
            Home
          </a>
        </div> 
        <div class="breadcrumbs-separator"></div>
        <div class="breadcrumbs-item">
          <a href="${baseURI}leaderboard">Leaderboard</a>
        </div>       
        <div class="breadcrumbs-separator"></div>
        <div class="breadcrumbs-item breadcrumbs-item-active">
          ${address}
        </div> 
      </div>
    </div>

    <div class="block-title block-title-large">Account Details</div>
    <div class="block-header">${address}</div>

    <div class="block">

      <div class="user-info">

        <div class="row">
          <div class="col-50">Etherscan</div>
          <div class="col-50">
            <a href="https://etherscan.io/address/${address}" class="item-link external">${address ? walletService.truncateEthAddress(address) : ' '}</a>
          </div>
        </div>

        ${tokenOwner?.ensName ? $h`
          <div class="row">
            <div class="col-50">ENS Name</div>
            <div class="col-50">${tokenOwner.ensName}</div>
          </div>  
        ` : $h` `}

        <div class="row">
          <div class="col-50">Tokens Owned</div>
          <div class="col-50"><strong>${tokenOwner?.count}</strong></div>
        </div>

      </div>

    </div>


    <div class="block">
      <p class="segmented">
        <a class="button button-outline" href="${baseURI}u/?address=${address}">Owned</a>
        <a class="button button-outline button-active" href="#">Activity</a>
      </p>
    </div>

    <div class="card">
      <div class="card-header">Activity</div>
      <div class="card-content card-content-padding data-table">

        ${transactionsViewModel?.transactions?.length > 0 ? $h`

          <table class="event-table">
            <thead>
              <tr>
                <th class="label-cell">Transaction</th>
                <th>Events</th>
              </tr>
            </thead>
    
            <tbody>
        
              ${transactionsViewModel.transactions.map(transaction => $h`
                <transaction-row transaction="${transaction}" items="${transactionsViewModel.rowItemViewModels}"></transaction-row>
              `)}
            </tbody>
    
          </table>
    
        ` : $h`
          No activity.
        `}
    


      </div>
    </div>
    

  </div>

</template>


<style>
</style>

<script>

  export default (props, { $, $on, $f7, $update }) => {

    let transactionWebService = globalThis.container.get("TransactionWebService")
    let itemWebService = globalThis.container.get("ItemWebService")

    let tokenOwnerService = globalThis.container.get("TokenOwnerService")

    let walletService = globalThis.container.get("WalletService")

    let baseURI = globalThis.container.get('baseURI')
    let moment = globalThis.moment 

    let address
    let tokenOwner
    let display = parseInt(props.display)

    let transactionsViewModel

    let loading = true


    const link = (href) => {
        return `${baseURI + href}`
    } 

    const load = async () => {

      $f7.preloader.show()

      loading = true

      try  {
          tokenOwner = await tokenOwnerService.get(address)

          transactionsViewModel = await transactionWebService.listByAddressFrom(address)

          console.log(transactionsViewModel)

      } catch(ex) { console.log(ex) }
      
      loading = false

      await $update()

      $f7.preloader.hide()


    }


    const listener = async (e) => {
      address = e.address
      await load()
    } 

    console.log(111)
    document.removeEventListener('user-activity-address-changed', listener)
    document.addEventListener('user-activity-address-changed', listener)




    return $render
  }

</script>