/* Your app styles here */
:root {
  
    /* --f7-font-size: 16px; */  
    --f7-fab-extended-text-font-weight: 700;
  
  
    --f7-button-font-weight: 700;
    --f7-button-text-color: #000000; 
    --f7-button-fill-text-color: #000000;

    --f7-input-height: 32px;
  
  
    --f7-panel-bg-color: #1c1c1d;
    /* --f7-page-bg-color: #aaa9af;  */
  
    --f7-theme-color: #FCB827;
    --f7-theme-color-rgb: 252, 184, 39;
    --f7-theme-color-shade: #f7a903;
    --f7-theme-color-tint: #fdc54f; 
  
    --f7-input-font-size: 18px;
    --f7-input-outline-focused-border-color: #000000;
    --f7-input-focused-border-color: #00338e;
  
    --f7-label-focused-text-color: #00338e;
    --f7-label-text-color:#000000;
    --f7-label-font-weight: 700;
    --f7-label-font-size: 14px;
    --f7-label-line-height: 20px;
    --f7-label-text-decoration: underline;
  
  
    --f7-block-font-size: 23px;
    
    --f7-block-title-font-size: 19px;
    --f7-block-title-line-height: 23px;
    --f7-block-title-font-weight: bold;
    --f7-block-title-text-color: rgba(0,0,0, 0.84);
    --f7-block-strong-bg-color: #ffffff;
    --f7-list-bg-color: #ffffff;
    
    --f7-navbar-title-font-weight: 700;
    --f7-navbar-bg-color: var(--f7-panel-bg-color);
    --f7-navbar-text-color: #ffffff;
  
  
    --f7-tabbar-link-active-color: var(--f7-theme-color);
    --f7-tabbar-link-inactive-color: rgba(255, 255, 255, 0.54);
  
  
    --f7-list-item-title-text-color: #00338e;
    --f7-list-item-title-font-weight:700;
  
    --f7-input-invalid-border-color: #ff0000;
    --f7-input-error-text-color: #ff0000;
    
    --f7-card-font-size: 17px;
    --f7-card-header-font-size: 17px;
    --f7-card-header-font-weight: bold;

  }

  html {
    overscroll-behavior-y: contain;
  }


  a {
    font-weight: bold;
  }

  .main h1 {
    margin-bottom:0px;
    font-size: 24px;
    color: rgba(0,0,0,0.84);
  }
  
  .main h2 {
    margin-bottom: 0px;
    margin-top: 0px; 
    font-size: 19px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .main ul {
    padding-left: 20px;
    list-style-type: square;
  }
  
  .main li {
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  
  .toolbar {
    background-color: rgb(32, 32, 32);
  }
  
  .page-content {
    background-color: rgb(238, 240, 243)
  }
  
  .panel {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .panel .list ul {
    background-color: var(--f7-panel-bg-color) ;
    color: rgba(255, 255, 255, 0.87);
  
  }
  
  .panel .list ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .text-editor-toolbar {
    width: 100%;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    background-color: #CCCCCC;
  
  }
  
  .wallet-address {
    font-size: 12px;
    white-space: nowrap;                   
    overflow: hidden;
    text-overflow: ellipsis;  
    direction: rtl;
    text-align: left; /* https://davidwalsh.name/css-ellipsis-left */
    /* border: 1px solid rgba(255, 255, 255, 0.15); */
  }
  
  #wallet-list-item {
    display: none;
  }
  
  #wallet-image {
    display: none;
    max-width: 24px;
    border-radius: 50%;
  }
  
  
  .navbar a.link.small-only {
    display: none;
  }
  
  
  @media only screen and (max-width: 1024px) {
    .navbar a.link.small-only  {
      display: flex;
    }
  }
  /* 
  .logo {
    height: var(--f7-navbar-height);
  } */
  
  .logo a {
    width: 100%;
  }
  
  .logo img {
    max-width: 100%;
    margin-top:10px; 
  }
  
  
  
  .wrap {
    white-space: normal;
  }
  
  
  
  /* 
  body, .md body {
    font-family: Helvetica;
    font-size: 19px;
  } */

  .toast-button {
    background-color: rgb(252, 184, 39);
  }
  
  .toast-content {
    float: left;
  }
  .toast-icon {
    max-width: 25px;
    float: left;
  }
  
  .toast.toast-with-icon .toast-text {
    text-align: left;
    margin-left: 30px;
    float: left;
  }
  
  
  .title-name {
    display: block;
    font-weight: bold;
    font-size: 25px;
  }
  
  .title-sub {
    display: block;
    font-size: 15px;
  }
  
  
  
  
  
  .ql-editor {
    border: 1px solid #cccccc;
  }
  
  .center {
    margin: 0 auto;
  }
  
  
  .post-area {
    width: 100%;
  }
  
  
  .post-area .editor {
    width: 100%;
    height: 125px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 21px;
  }
  
  .post-area .profile-pic {
    width: 60px;
  }
  
  .post-area .profile-pic-thumb {
    margin: 5px;
  }
  
  .post-area .bottom {
    width: 100%;
  }
  
  .post-area .bottom button {
    text-overflow: unset;
  }
  
  .post-area .bottom label {
    display: none;
  }
  
  
  .post-content img {
    max-width: 100%;
  }
  
  
  
  
  .profile-pic-thumb {
    max-width: 48px;
    border-radius: 50%;
  }
  
  .cover-photo-thumb {
    max-width: 50px;
    border-radius: 50%;
  }
  
  .item-media .cover-photo-thumb.f7-icons {
    font-size: 50px;
  }
  
  .item-media .profile-pic-thumb.f7-icons {
    font-size: 40px;
  }
  
  /* .item-inner {
    padding-left: 10px;
  } */
  
  blockquote {
    border-left: 4px solid #111;
    padding-left: 1em;
  }
  
  hr {
    border: none;
    color: #111;
    letter-spacing: 1em;
    text-align: center;
  }
  hr:before {
    content: '...';
  }
  
  .image-button-input, .video-button-input {
    opacity:0;
    width: 0px;
  }
  
  
  /* 
  
  .profile-thumbnail-tiny {
    display: inline;
  }
  
  .profile-thumbnail-tiny .profile-pic {
    display: inline;
    max-width: 24px;
    width: 24px;
    vertical-align: middle;
  } */
  
  
  /* 
  .list .item-media img {
    width: 49px;
    max-height: 49px;
    border-radius: 50%;
  } */
  /* 
  .list .post-owner {
    color: var(--f7-list-item-text-text-color);
    font-size: 8px;
    display: inline-block;
    text-overflow: ellipsis;
  }
  
  .list .post-owner-display {
    font-weight: bold;
  }
  
  .list .item-subtitle {
    white-space: normal;
  }
  
  .list .item-subtitle p {
    margin-top: 2px;
  } */
  
  
  .no-results {
    display: none;
  }
  
  .queue-item .item-subtitle {
    width: 90%;
  }
  
  
  
  /* .block-title {
    color: rgb(0,0,0);
    font-weight: bold;
  }
  
  .item-media .f7-icons {
    font-size: 100px;
    padding-left: 10px;
  }
  
  .list .item-subtitle.no-wrap {
    white-space: normal;
    overflow: inherit;
  } */
  
  
  
  
  .mnemonic {
    font-size: 45px;
    font-weight: 700;
  }
  
  .peer-list .item-subtitle {
    font-size: 11px;
  }
  
  .hide {
    display: none;
  }
  
  .center {
      margin: 0 auto;
  }
  
  
  
  .ql-toolbar {
    width: 100%;
  }
  
  .ql-container {
    font-size: 23px;
  }
  



  /* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  font-weight: bold;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.browse-file {
  width: 200px;
  max-width: 200px;
}




.author-header{
  width: 100%;
  font-size: 14px;
}

.author-header .name {
  margin-bottom: 3px;
}

.author-header a {
  font-weight: bold;
}

.author-avatar {
  margin-top: -4px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  float: left;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 3px;    
}

.author-avatar img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.author .avatar i {
  float: left;
}









.channel-card {
  /* height: 415px; */
}

.channel-card .card-header {
  display: block;
  padding: 10px;
}

.channel-card .avatar {
  float: left;
}

.channel-card .name {
  text-align: center;
  color: var(--f7-text-color);

}

.channel-card .name a {
  color: var(--f7-theme-color);
  font-weight: bold;
}


.channel-card .date {
  font-size: 13px;
  color: #8e8e93;
}

.channel-card .title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}


.channel-card .description {
  font-size: 22px;
  text-align: center;
  width: 750px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.channel-card .card-content img {
  display: block;
  max-width: 100%;
}

.channel-card .banner {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: #f1f1f1;
}

.channel-card .avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: calc(50% - 50px);
  bottom: 0;
  margin-bottom: -50px;
  z-index: 10000;
  border: 3px solid #ffffff;
  font-size: 100px;
  background: #ffffff;
}

.channel-card a {
  color: var(--f7-text-color);
}



.deploy-button {
  margin-top: 10px;
  width: 200px;
}




.info {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.info-box .value {
    display: block;
    font-weight: 600;
    font-size: 24px;
    color: rgb(4, 17, 29);
}

.info-box {
  border: 1px solid rgb(229, 232, 235);
  padding: 15px;
  text-align: center;
  height: 90px;
  width: 150px;
}

.info-box.left {
    border-right: 0px;
}

.info-box label {
  display: block;
  color: rgb(138, 147, 155);

}

