/* Your app styles here */
body, .md body {
  font-family: Helvetica;
  font-size: 19px;
}


.title-name {
  display: block;
  font-weight: bold;
  font-size: 25px;
}

.title-sub {
  display: block;
  font-size: 15px;
}

.profile-pic {
  max-width: 100%;
  border-radius: 50%;
  font-size: 100px;
}

.profile-pic-thumb {
  max-width: 50px;
  border-radius: 50%;
}

.profile-pic-wrapper {
  width: 115px;
  float: left;
  padding-right: 20px;
}

.profile-pic-chooser {
  width: 200px;
  padding-right: 20px;
  float: left;
}

.profile-pic.edit {
  width: 100px;
  padding: 10px;
}

#profilePic {
  vertical-align: middle;
}

.ql-editor {
  border: 1px solid #cccccc;
}

h1 {
  margin-block-end: 0em;
  margin-block-start: 0em;
  padding-bottom: 0px;
}

h1.story {
  margin-top: 15px;
  font-size: 42px;
  line-height: 45px;
  font-weight: normal;
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

.subtitle {
  font-size: 25px;
  line-height: 30px;
  white-space: normal;
  color: #000000;
  opacity: 0.54;
  font-weight: 400;
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  margin-top: 5px;
  margin-bottom: 20px;
}

.center {
  margin: 0 auto;
}

.author-profile-pic {
  float: left;
  margin-right: 10px;
}




.editor-container .editor {
  display: block;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.2em;
  height: 500px;
  margin: 0 auto;
  width: 100%;
}

.editor-container button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 0;
  height: 32px;
  width: 32px;
  text-align: center;
}


.editor-container button:active, button:focus {
  outline: none;
}

blockquote {
  border-left: 4px solid #111;
  padding-left: 1em;
}

hr {
  border: none;
  color: #111;
  letter-spacing: 1em;
  text-align: center;
}
hr:before {
  content: '...';
}

.image-button-input, .video-button-input {
  opacity:0;
  width: 0px;
}



.cover-photo-thumbnail {
  max-width: 100px;
}

.cover-photo {
  width: 100px;
  display: inline-block;
}

.list .item-title {
  font-weight: normal;
  white-space: normal;
  font-size: 21px;
  line-height: 23px;
  margin-bottom: 3px;
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

.list .item-subtitle {
  white-space: normal;
  color: #000000;
  opacity: 0.54;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}

.list .item-author {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.84;
}

.list .item-date {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.54;
}


.profile-thumbnail-tiny {
  display: inline;
}

.profile-thumbnail-tiny .profile-pic {
  display: inline;
  max-width: 24px;
  width: 24px;
  vertical-align: middle;
}

.item-media {
  width: 100px;

}


.page-content .block-title {
  font-size: 23px;
  line-height: 23px;
  color: rgb(0,0,0);
  font-weight: normal;
}

.item-media .f7-icons {
  font-size: 100px;
  padding-left: 10px;
}

.edit-profile-button, .edit-post-button {
  width: 100px;
  font-size: 14px;
  margin-left: 15px;
  display: inline;
}

.author {
  width: 100%;
  float: left;
}

.post-content {
  float: left;
  margin-top: 10px;
  margin-bottom: 30px;
}

.post-content img {
  max-width: 100%;
}

.post-author {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.84;
}

.post-date {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.54;
}


.cover-photo-img {
  width: 100px;
  max-height: 100px;
}

.cover-photo-img.selected {
  border: 3px solid #ff0000;
}

.cover-photo-preview {
  display: none;
}


/*.editor-container #tooltip-controls, #sidebar-controls {*/
  /*text-align: center;*/
/*}*/
