:root {

    /* --f7-font-size: 16px; */
    --f7-font-family: 'Quicksand', sans-serif;
  
    --f7-fab-extended-text-font-weight: 700;

    --f7-button-font-weight: 700;
    --f7-button-text-color: #000000; 
    
    --f7-input-height: 32px;
  
    --f7-page-bg-color: #f1f1f1; 
  
    --f7-theme-color: #FCB827;
    --f7-theme-color-rgb: 252, 184, 39;
    --f7-theme-color-shade: #f7a903;
    --f7-theme-color-tint: #fdc54f; 
  
    --f7-input-font-size: 18px;
    --f7-input-outline-focused-border-color: #000000;
    --f7-input-focused-border-color: #00338e;
  
    --f7-label-focused-text-color: #00338e;
    --f7-label-text-color:#000000;
    --f7-label-font-weight: 700;
    --f7-label-font-size: 14px;
    --f7-label-line-height: 20px;
    --f7-label-text-decoration: underline;
  
  
    --f7-block-font-size: 23px;
    
    --f7-block-title-font-size: 19px;
    --f7-block-title-line-height: 23px;
    --f7-block-title-font-weight: bold;
    --f7-block-title-text-color: rgba(0,0,0, 0.84);
    --f7-block-strong-bg-color: #ffffff;
    --f7-list-bg-color: #ffffff;

  
    --f7-list-item-title-text-color: #00338e;
    --f7-list-item-title-font-weight:700;
  
    /* --f7-input-bg-color: #ffffff; */
    /* --f7-input-text-color: #000000; */

    --f7-input-invalid-border-color: #ff0000;
    --f7-input-error-text-color: #ff0000;
  

    --f7-navbar-title-font-weight: 700;
    --f7-navbar-bg-color: var(--f7-panel-bg-color);
    --f7-navbar-text-color: #ffffff;
    --f7-panel-bg-color: #1c1c1d;

  
    --f7-tabbar-link-active-color: var(--f7-theme-color);
    --f7-tabbar-link-inactive-color: rgba(255, 255, 255, 0.54);

}


.center {
    margin: 0 auto;
}

#not-found {
    display: none;
}